<!DOCTYPE html>
<html lang="en-US">
<head>
    <%- include('../partials/headerLinks'); %>
    <link rel="stylesheet" href="https://code.getmdl.io/1.3.0/material.indigo-pink.min.css">
    <link rel="stylesheet" href="/portal/css/s/beaconTracking.ejs.css"/>
</head>
<body>
<%- include('../partials/header'); %>
<div class="container-fluid" id="container">
    <div class="mdl-grid mdl-grid-height">
        <div class="mdl-cell mdl-cell--5-col">
            <div class="form-group mdl-grid facility-picker">
                <div class="facilityLabel" for="facilityPicker">Facility:</div>
                <div class="mdl-cell--4-col cycleTitle">
                    <select class="form-control" id="facilityPicker"></select>
                </div>
            </div>
        </div>

        <div class="mdl-cell mdl-cell--3-col"></div>
        <div class="mdl-cell mdl-cell--4-col ">
            <div class="title"></div>
            <div class="tz"></div>
            <div id="pplCount"></div>
            <div id="woCount"></div>
            <%if(user.cgrs[0]==='atl'){%><h6 id="timeTravel"></h6><%}%>
        </div>
    </div>

    <div class="row row-padding-top">
        <div class="col-12 breadcrumb-row">
            <nav class="nav custom-nav">
            </nav>
        </div>
    </div>

    <div class="mdl-grid" style="height: 50px">
        <div class="mdl-cell mdl-cell--2-col">
            <div class="search-bar">
                <i class="material-icons search-icon">search</i>
                <div class="mdl-textfield mdl-js-textfield ">
                    <input class="mdl-textfield__input" type="text" id="sample3" onkeyup="searchWO(this.value)">
                    <label class="mdl-textfield__label" for="sample3">Search</label>
                </div>
            </div>
        </div>
        <div class="mdl-cell mdl-cell--2-col">
            <select class="selectpicker" multiple ></select>
        </div>
        <div class="mdl-cell mdl-cell--2-col">
            <div class="form-group datepicker custom-datepicker">
                <%if(user.cgrs[0]==='atl'){%>
                <div class="input-group date" id="datetimepicker" data-target-input="nearest">
                    <input type="text" id="reportDateTime" class="form-control datetimepicker-input" data-target="#datetimepicker" onblur="setDateTime(this.value)"/>
                    <div class="input-group-append" data-target="#datetimepicker" data-toggle="datetimepicker">
                        <div class="input-group-text"><i class="fas fa-calendar-alt"></i></div>
                    </div>
                </div>
                <%}%>
            </div>
        </div>
        <div class="mdl-cell mdl-cell--2-col"></div>
        <div class="mdl-cell mdl-cell--2-col right-align">
            <div class="switch">
            </div>
        </div>
    </div>

    <div class="mdl-grid row-padding-top">
        <div class="mdl-cell mdl-cell--12-col zone-picker">
            <div class="btn-group" role="group" aria-label="Zone Picker" id="zone-picker">
            </div>
        </div>
    </div>
    <%if (user.cgrs[0] === 'gatwickairport' || user.cgrs[0] === 'tia'){%>
        <%- include('../partials/airplane-loader'); %>
    <%}else{%>
        <%- include('../partials/loading'); %>
    <%}%>
    <!--
    <div class="mdl-grid " data-visibility="hidden">
        <div class="mdl-cell mdl-cell--5-col"></div>
        <div class="mdl-cell mdl-cell--5-col" id="message"></div>
    </div>
    -->
    <div class="mdl-grid center-items" id="workOrder"></div>
</div>

<%- include('../partials/footer'); %>
<%- include('../partials/imgModal'); %>
</body>
<script type="text/javascript" src="/portal/js/work-order.js"></script>
<script language="javascript">
  let parameters = {};
  let dataRefreshInterval;
  let beaconHistory = d3.select('body').append('div').attr('class', 'history-window').style('opacity', 0);
  let loginCgr = '<%= user.cgrs %>';
  let reportType = 'Outdoor';
  let filterOnTags=[];
  let globalData = [];
  let tooltip;
  let zoneFilter = [];

  async function main(isReload) {
    parameters = await getQueryParams(parameters);
    d3.select('div.facility').text(`Facility: ${parameters.facility}`);
    tooltip = d3.select("body").append("div").attr("class", "tooltip").style("opacity", 0);

    await setLogoLandingPage(parameters.customer);
    await checkLiveModeOn(parameters);
    $('#reportDateTime').val(parameters.time ? parameters.time : moment.tz(moment(),timezone).format('YYYY-MM-DD HH:mm'));
    if (!isReload) {
        renderBreadCrumb(parameters, 'beaconTracking');
    }

    if(!parameters.date){
      $('.loading').remove();
      showNoShiftConfiguredMsg();
      return;
    }

    setTimeout(() => {
      parameters = {};
      main(true);
    }, 60 * 1000);

    await constructFacilityPicker(parameters);
    await reloadCustomerTags(parameters);
    renderCustomerTagsDropDown();
    renderSwitch(parameters);

    parameters = { ...parameters, page: 'kanban' };
    const features = await fetchFeatures(parameters);
    let data = await reload(parameters);
    zoneFilter = data.defaultZones;
    if (data) {
      renderZonePicker(data);
      loadHistory();
    }
  }

  main();

  	(function ( $ ) {
        $('#datetimepicker').datetimepicker({
            useCurrent: true,
            format: 'YYYY-MM-DD HH:mm'
        });
  	})( jQuery);

</script>
</html>
