<!DOCTYPE html>
<html>
<head>
    <title>Report Listing</title>
    <%- include('../partials/headerLinks'); %>
    <link rel="stylesheet" href="/portal/css/s/cycleList.ejs.css"/>
</head>
<body>
<%- include('../partials/header'); %>
<p/>
<div class="container-fluid" id="container">
    <div class="row card-row justify-content-center">

    </div>
</div>

<script>
  let parameters = {};

  async function reload() {
    parameters = await getQueryParams(parameters);
    const facilitiesMap = await fetchAllFacilitiesPermitted(parameters);
    let cardObj = [];
    for(let x of facilitiesMap) {
      let response = await d3.json(`/portal/config/navCfg?customer=${x[1]}&facility=${x[0]}`, {credentials: 'include'});
      let filteredNavs = response.filter(x=>x.label!=='Cycle List');
      await setLogoLandingPage(x[1]);
      cardObj.push({
        cgr: x[1],
        facility: x[0],
        navs: filteredNavs
      })
    }
    render(cardObj);
  }

  function render(data) {
    let cardCol = d3.select('.card-row').selectAll('.card-col').data(data);
    let newCardCol = cardCol.enter().append('div').classed('card-col',true).classed('col-3',true);
    let card = newCardCol.append('div').classed('card',true).style('width','18rem');
    let cardHeader = card.append('div').classed('card-header',true);
    let cardBody = card.append('div').classed('card-body',true);
    cardHeader.append('h4').classed('card-title',true).classed('no-margin',true);
    let navs = cardBody.selectAll('div.nav-row').data(d=>d.navs.map(x=> {return {...x, cgr: d.cgr, facility: d.facility}}));
    let newNavs = navs.enter().append('div').classed('nav-row',true).classed('row', true);
    let mergedNavs = newNavs.merge(navs);
    mergedNavs.append('div').classed('col',true).append('a').attr('href',d=>{return `/portal${d.path}?customer=${d.cgr}&facility=${d.facility}`}).text(d=>d.label);
    navs.exit().remove();
    let mergedCardCols = newCardCol.merge(cardCol);
    mergedCardCols.select('.card-title').text(d=>d.facility);
    cardCol.exit().remove();
  }

  reload();
</script>
<p/>
<%- include('../partials/footer'); %>
</body>
</html>
