<!DOCTYPE html>
<html>
<head>
    <title>Cycle Time Report</title>
    <%- include('../partials/headerLinks'); %>
    <link rel="stylesheet" href="https://code.getmdl.io/1.3.0/material.indigo-pink.min.css">

    <script type="text/javascript" src="/portal/js/cycle-report-helper.js"></script>
    <link rel="stylesheet" href="/portal/css/s/cycle.ejs.css"/>
</head>
<body>
<%- include('../partials/header'); %>
<p/>

<div class="row row-height row-padding-top">
    <div class="col-5">
        <div class="form-group row facility">
            <div class="facilityLabel" for="facilityPicker">Facility:</div>
            <div class="col-4">
                <select class="form-control facilityPicker" id="facilityPicker"></select>
            </div>
        </div>
    </div>
    <div class="col-1"></div>
    <div class="col-6">
        <div class="row row-height">
            <div class="col-3 no-padding">
                <div id="reportDateTitle">
                    <div class="date"></div>
                </div>
            </div>
            <div class="col-4">
                <div class="datePicker"><%- include('../partials/reportDatePicker'); %></div>
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-8"></div>
    <div class="col-3"><div class="liveModeIndicator"></div></div>
</div>


<div class="row">
    <div class="col-12 breadcrumb-row">
        <nav class="nav custom-nav">

        </nav>
    </div>
</div>

</div>
<div class="row row-padding-top">
    <div class="col-1 col-margin">
        <div class="btn-group" role="group" aria-label="Third group" id="cycleNav">
            <button class="report-type btn inactive-link active-link" data-value="trips">Trips</button>
            <button class="report-type btn inactive-link" data-value="vehicles">Vehicles</button>
        </div>
    </div>
    <div class="col-2 col-margin">
        <div class="btn-group" role="group" aria-label="Third group" id="cycleType">
            <button class="cycle-type btn inactive-link active-link">Complete</button>
            <button class="cycle-type btn inactive-link">Inferred</button>
        </div>
    </div>
    <div class="col-1"></div>
    <div class="col-2 search-lpr">
        <div class="mdl-textfield mdl-js-textfield search-textbox">
            <input class="mdl-textfield__input search-type btn" placeholder="Search..." type="text" id="search" onkeyup="searchLPR(this.value)">
            <label class="mdl-textfield__label" for="search">Search...</label>
        </div>
    </div>
    <script type="text/javascript">
        !(function (document, updateReport, updateCycles, searchLPR, undefined){
            document.addEventListener("DOMContentLoaded", () => {
                const updateReportButtons = document.querySelectorAll(".report-type");
                updateReportButtons.forEach((theUpdateReportButton) => {
                    theUpdateReportButton.addEventListener('click', () => {
                        console.log('Update report');
                        updateReport(theUpdateReportButton);
                    });
                });
                const updateCycleButtons = document.querySelectorAll(".cycle-type");
                updateCycleButtons.forEach((theUpdateCycleButton) => {
                    theUpdateCycleButton.addEventListener('click',  () => {
                        console.log('Update cycles');
                        updateCycles(theUpdateCycleButton);
                    });
                });
                const searchControls = document.querySelectorAll(".search-type");
                searchControls.forEach((theSearchControl) => {
                    theSearchControl.addEventListener('onkeyup',  () => searchLPR(theSearchControl.value));
                });
            });
        }(document, updateReport, updateCycles, searchLPR));
    </script>
    <div class="col-2">
        <select class="selectpicker" multiple >
        </select>
    </div>
    <div class="col-1"></div>
    <div class="col-1">
        <div href="#" onclick="sortCycleTimeReport()"><i class="fas fa-sort-alpha-down sort-icon sort-asc"></i></div>
        <div href="#" onclick="sortCycleTimeReport()"><i class="fas fa-sort-alpha-up sort-icon sort-desc"></i></div>
    </div>
</div>

<div class="row">
    <div class="col-11" id="noDataIndicator">
        <center>No data to display</center>
    </div>
</div>
<div class="row">
    <div class="col-12" id="message">
        <center>There is no shift configured for this report</center>
    </div>
</div>
<div id="cycles">
</div>
<%- include('../partials/loading'); %>
<p/>
<%- include('../partials/footer'); %>
<%- include('../partials/imgModal'); %>
</body>
<script language="javascript">
  let parameters;
  let latestConfig, div;
  let loginCgr = '<%= user.cgrs %>';
  let searchText='';
  let customerTags=[];
  let filterOnTags=[];
  let globalData = [];
  let filterState=[];
  let sortOrder = false;
  let landingPage = '';
  //reportType = 1 for CTR in order to identify the common search and filter function
  let reportType = 1;
  async function main() {
    // first try to get all parameters from url string
    $('.sort-asc').hide();
    parameters = await getQueryParams(parameters);

    //if date/shift not found in url string get it from checkLiveMode()
    await constructFacilityPicker(parameters);
    await checkLiveModeOn(parameters);
    renderBreadCrumb(parameters, 'cycle');

    div = d3.select("body").append("div").attr("class", "tooltip").style("opacity", 0);
    if (parameters.date) {
      //Display date on page
      constructDatePicker(parameters);
      d3.select('#reportDate').attr('value', moment.tz(parameters.date, timezone).format('YYYY-MM-DD'));

      if (parameters.shift) {
        constructShiftPicker(parameters);
        d3.select('#reportDateTitle div.date').text(`${upperFirst(parameters.shift)} Shift for ${moment(parameters.date).format('MMMM Do, YYYY')}`);
      }
    }
    if(!parameters.date || !parameters.shift){
      $('.loading').remove();
      renderNoShift(parameters.shift, parameters.date);
      return;
    }
    cycleReport(parameters);
  }

  main();

  window.onscroll = function () {
    freezeTimeline();
  };

</script>
</html>
