<!DOCTYPE html>
<html>
<head>
    <title>Configure Device</title>
    <%- include('../partials/headerLinks'); %>
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    <link rel="stylesheet" href="https://code.getmdl.io/1.3.0/material.indigo-pink.min.css">
    <script defer src="https://code.getmdl.io/1.3.0/material.min.js"></script>
    <script src="/portal/vendor/jquery-3.3.1.min.js"></script>
</head>
<style>
    @import url(https://fonts.googleapis.com/css?family=Raleway:300,700);

    body {
        width:100%;
        height:100%;
        font-family: 'Raleway', sans-serif;
        font-weight:300;
        margin:0;
        padding:0;
    }

    #title {
        text-align:center;
        font-size:40px;
        margin-top:40px;
        margin-bottom:-40px;
        position:relative;
        color:#fff;
    }

    .circles:after {
        content:'';
        display:inline-block;
        width:100%;
        height:100px;
        background:#fff;
        position:absolute;
        top:-50px;
        left:0;
        transform:skewY(-4deg);
        -webkit-transform:skewY(-4deg);
    }

    .circles {
        background:#fff;
        text-align: center;
        position: relative;
        /*margin-top:-60px;*/
        /*box-shadow:inset -1px -4px 4px rgba(0,0,0,0.2);*/
    }

    .circles p {
        font-size: 240px;
        color: #2e2e2e;
        padding-top: 60px;
        position: relative;
        z-index: 9;
        line-height: 80%;
    }

    .circles p small {
        font-size: 40px;
        vertical-align: top;
    }

    /*.circles .circle.small {*/
        /*width: 140px;*/
        /*height: 140px;*/
        /*border-radius: 50%;*/
        /*background: #007ab8;*/
        /*position: absolute;*/
        /*z-index: 1;*/
        /*top: 20%;*/
        /*left: 45%;*/
        /*animation: 7s smallmove infinite cubic-bezier(1,.22,.71,.98);*/
        /*-webkit-animation: 7s smallmove infinite cubic-bezier(1,.22,.71,.98);*/
        /*animation-delay: 1.2s;*/
        /*-webkit-animation-delay: 1.2s;*/
    /*}*/

    .circles .circle.med {
        width: 150px;
        height: 150px;
        border-radius: 50%;
        background: #0063a6;
        position: absolute;
        z-index: 1;
        top: 22.5%;
        left: 45%;
        animation: 7s medmove infinite cubic-bezier(.32,.04,.15,.75);
        -webkit-animation: 7s medmove infinite cubic-bezier(.32,.04,.15,.75);
        animation-delay: 0.4s;
        -webkit-animation-delay: 0.4s;
    }

    .circles .circle.big {
        width: 200px;
        height: 200px;
        border-radius: 50%;
        background: #48A9E6;
        position: absolute;
        z-index: 1;
        top: 18%;
        left: 42%;
        animation: 8s bigmove infinite;
        -webkit-animation: 8s bigmove infinite;
        animation-delay: 3s;
        -webkit-animation-delay: 1s;
    }

    /*@-webkit-keyframes smallmove {*/
        /*0% { top: 10px; left: 45%; opacity: 1; }*/
        /*25% { top: 300px; left: 40%; opacity:0.7; }*/
        /*50% { top: 240px; left: 55%; opacity:0.4; }*/
        /*75% { top: 100px; left: 40%;  opacity:0.6; }*/
        /*100% { top: 10px; left: 45%; opacity: 1; }*/
    /*}*/
    /*@keyframes smallmove {*/
        /*0% { top: 10px; left: 45%; opacity: 1; }*/
        /*25% { top: 300px; left: 40%; opacity:0.7; }*/
        /*50% { top: 240px; left: 55%; opacity:0.4; }*/
        /*75% { top: 100px; left: 40%;  opacity:0.6; }*/
        /*100% { top: 10px; left: 45%; opacity: 1; }*/
    /*}*/

    /*@-webkit-keyframes medmove {*/
        /*0% { top: 0px; left: 20%; opacity: 1; }*/
        /*25% { top: 300px; left: 80%; opacity:0.7; }*/
        /*50% { top: 240px; left: 55%; opacity:0.4; }*/
        /*75% { top: 100px; left: 40%;  opacity:0.6; }*/
        /*100% { top: 0px; left: 20%; opacity: 1; }*/
    /*}*/

    /*@keyframes medmove {*/
        /*0% { top: 0px; left: 20%; opacity: 1; }*/
        /*25% { top: 300px; left: 80%; opacity:0.7; }*/
        /*50% { top: 240px; left: 55%; opacity:0.4; }*/
        /*75% { top: 100px; left: 40%;  opacity:0.6; }*/
        /*100% { top: 0px; left: 20%; opacity: 1; }*/
    /*}*/

    /*@-webkit-keyframes bigmove {*/
        /*0% { top: 0px; right: 4%; opacity: 0.5; }*/
        /*25% { top: 100px; right: 40%; opacity:0.4; }*/
        /*50% { top: 240px; right: 45%; opacity:0.8; }*/
        /*75% { top: 100px; right: 35%;  opacity:0.6; }*/
        /*100% { top: 0px; right: 4%; opacity: 0.5; }*/
    /*}*/
    /*@keyframes bigmove {*/
        /*0% { top: 0px; right: 4%; opacity: 0.5; }*/
        /*25% { top: 100px; right: 40%; opacity:0.4; }*/
        /*50% { top: 240px; right: 45%; opacity:0.8; }*/
        /*75% { top: 100px; right: 35%;  opacity:0.6; }*/
        /*100% { top: 0px; right: 4%; opacity: 0.5; }*/
    /*}*/
    .cust-btn {
        font-family: 'Raleway', sans-serif;
        font-weight: 400;
        padding: 20px;
        background-color: #0063a6;
        color: white;
        width: 280px;
        margin: 0 auto;
        text-align: center;
        font-size: 1.2em;
        border-radius: 5px;
        cursor: pointer;
        margin-bottom: 50px;
        transition: all .2s linear;
    }
    #not-found{
        padding-bottom: 50px;
    }

    .cust-btn a{
        color: white;
    }
    .o{
        font-family: "Courier New", sans-serif;
        font-size: 340px;
        color: white;
    }

</style>
<body>
<%- include('../partials/header'); %>
<section id="not-found">
    <div id="title"></div>
    <div class="circles">
        <p>4<span class="o">o</span>4<br>
            <small>PAGE NOT FOUND</small>
        </p>
        <span class="circle big"></span>
        <span class="circle med"></span>
        <span class="circle small"></span>
    </div>
    <div class="cust-btn"><a href="<%= user.homePage %>">Return to Home</a></div>
</section>
<%- include('../partials/footer'); %>
</body>

</html>