<!DOCTYPE html>
<html>
<head>
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type" />
    <title>Tuning Reports</title>
    <%- include('../partials/headerLinks'); %>

    <!-- Roboto Font -->
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700&display=swap" />
    <!-- Font Icons -->
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons" />


    <link rel="stylesheet" href="https://code.getmdl.io/1.3.0/material.indigo-pink.min.css">

    <script src="/portal/js/bootstrap-select.min.js"></script>
    <link rel="stylesheet" href="/portal/vendor/bootstrap-4.1.min.css">
    <script src="/portal/vendor/bootstrap.bundle.min.js"></script>
    <style>
        .list-group-item.active {
            background-color: #ffc107 !important;
            border-color: #ffc107 !important;
            color: #495057 !important;
        }
        #container {
            margin: 5% 5%;
        }
        .enable-filter {
            margin: 0px 3%;
        }
        .enable-filter-label{
            color: #495057;
        }
        .message {
            color: #21a107;
            font-weight: 400;
        }
        .error {
            color: #dc080a;
            font-weight: 400;
        }

    </style>
</head>
<body>
<%- include('../partials/header'); %>
<div class="container-fluid map-container" id="container">
    <div class="row row-padding-top"></div>
    <div class="row">
        <div class="col-2 hidden">

          <div class="timeline-selector" id="timeline-selector">
            <div class="selector-input">
              <div class="input-group">
                <a class="timeline-control-date" href="#timeline-selector" role="text">
                  <span class="timeline-control-date-icon" aria-hidden="true">&nbsp;</span>
                  <span class="sr-only">Enter date:</span>
                </a>
                <input type="date" name="selected" placeholder="dd-mm-yyyy" min="2020-01-01" max="2020-12-31">
              </div>

              <!-- Apply -->
              <div class="action-group">
                <a class="timeline-control-apply" href="#timeline-selector" role="button">
                  <span class="timeline-control-apply-icon" aria-hidden="true">&nbsp;</span>
                  <span class="sr-only">Apply</span>
                </a>
              </div>
            </div>
          </div>

          <div class="list-group" id="filters" role="tablist">
          </div>
        </div>

        <div class="col-4">
            <div class="list-group" id="filter-matches" role="tablist">
            </div>
        </div>

        <div class="col-7 show-edit-filters">
            <div class="tab-content" id="nav-tabContent">
                <div class="row">
                    <div class="col-4">
                        <input type="hidden" id="_id" value="">
                        <input type="text" class="form-control" id="customer" placeholder="Customer">
                    </div>
                    <div class="col-4">
                        <input type="text" class="form-control" id="facility" placeholder="Facility">
                    </div>
                </div>

                <div class="row row-padding-top">
                    <div class="col-4">
                        <input type="text" class="form-control" id="gwId" placeholder="Gateway ID">
                    </div>
                    <div class="col-4">
                        <input type="text" class="form-control" id="measureNme" placeholder="Measure Name">
                    </div>
                </div>
                <div class="row row-padding-top">
                    <div class="col-4">
                        <select class="selectpicker select-filter" id="filterType" placeholder="Filter Type" onchange="handleOnchangeFilterType(this)">
                            <option value=""></option>
                            <option value="AREA">Area Filter</option>
                            <option value="WIDTH">Width Filter</option>
                            <option value="HEIGHT">Height Filter</option>
                            <option value="CONFIDENCE_SCORE">Confidence Score Filter</option>
                            <option value="CONTAIN_CLASS">Contain Object Filter</option>
                            <option value="IN_VEHICLE">In Vehicle</option>
                            <option value="DISTANCE">Distance</option>
                        </select>
                    </div>
                    <div class="col-4">
                        <select class="selectpicker select-filter" id="filterMode" placeholder="Filter Mode" onchange="handleOnchangeFilterMode(this)">
                            <option value=""></option>
                            <option value="exclusion">Exclusion</option>
                            <option value="marker">Marker</option>
                        </select>
                    </div>
                </div>
                <div class="row row-padding-top threshold-row">
                    <div class="col-4">
                        <input type="text" class="form-control" id="minThreshold" placeholder="Min Threshold">
                    </div>
                    <div class="col-4">
                        <input type="text" class="form-control" id="maxThreshold" placeholder="Max Threshold">
                    </div>
                </div>
                <div class="row row-padding-top">
                    <div class="col-4">
                        <input type="text" class="form-control" id="groupName" placeholder="Group Name">
                    </div>
                    <div class="col-4">
                        <div class="enable-filter">
                            <label class="enable-filter-label" for="isEnabled">Enable Filter</label>
                            <input type="checkbox" id="isEnabled" aria-label="Checkbox for following text input">
                        </div>
                    </div>
                </div>
                <div class="row row-padding-top">
                    <div class="col-1">
                        <button type="button" id="submitBtn" class="btn btn-warning" onclick="handleSubmit()">Submit</button>
                    </div>
                </div>
                <div class="row row-padding-top justify-content-center">
                    <div class="col-5">
                        <div class="message"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<%- include('../partials/footer'); %>
</body>
<script type="text/javascript" language="javascript">
  let addNewFlag = false;

  const newFilterElementFactory = (namespace) => {
    return ({count, title, value }) => `
      <li class="filter-group-item" data-value="${namespace}:${value}">
        <a class="text-overflow filter-nolink" title="${title}" href="#${namespace}:${value}">${title}</a>
        <span>(${count})</span>
      </li>
    `
  };

  const newFilterElementSupplier = (namespace) => (filterObject) => filterObject[namespace] || undefined;

  const newNavigationObject = ({ label, namespace }) => {
    return Object.freeze({
      label,
      supplier: newFilterElementSupplier(namespace),
      builder: newFilterElementFactory(namespace)
    })
  };

  const listOfNavigations = [
    newNavigationObject('Customer', 'customer'),
    newNavigationObject('Facility', 'facility'),
    newNavigationObject('Gateway', 'gateway_id'),
    newNavigationObject('Measure', 'measure_name')
  ];

  const renderNavigation = (filters) => {
    $('#filters').html('');
    let filtersComponent = $('#filters');

    const elements = listOfNavigations.map((navigationObject) => {
      const mapOfFilterValues  = filters.map(
        (filterObject) => navigationObject.supplier(filterObject)
      ).filter(
        (element) => element
      ).reduce((mapOfValues, element) => {
        mapOfValues[element] = 1 + (mapOfValues[element] || 0);
        return mapOfValues;
      }, {});

      navigationObject.content = Object.keys(mapOfFilterValues).map(
        (element) => navigationObject.builder({ count: mapOfFilterValues[element], title: element, value: element })
      ).join('');

      return `<div class="filter-group">
        <h3 class="filter-group-title">${navigationObject.label}</h3>
        <ul class="filter-group-items">${navigationObject.content}</ul>
      </div>`
    });

    filtersComponent.html(elements.join(''));
  };

  const renderFilters = (filters) => {
    $('#filter-matches').html('');
    let filterDiv = $('#filter-matches');
    let filterLi = ``;

    filters.forEach((filterObject) => {
      let anchor = document.createElement("a");
      anchor.className = "list-group-item list-group-item-action";
      anchor.id = `filter-${filterObject.id}`;
      anchor.onclick = function() {handleTabClick(filterObject)};
      anchor.innerHTML = `${filterObject.customer} - ${filterObject.facility} - ${filterObject.gateway_id} - ${filterObject.measure_name}`;
      $(anchor).attr('data-toggle', 'list');
      filterDiv.append(anchor);
    });
    let anchor = document.createElement("a");
    anchor.className = "list-group-item list-group-item-action";
    anchor.id = `filter-new`;
    anchor.onclick = function() {handleAddNew()};
    anchor.innerHTML = `Add New Filter`;
    $(anchor).attr('data-toggle', 'list');
    filterDiv.append(anchor);
  };

  $('.show-edit-filters').hide();
  async function main() {
    let filters = await d3.json('/portal/filter/active');
    renderNavigation(filters);
    renderFilters(filters);
  }

  function handleTabClick(filterObj) {
    // $(`#filter-${filterObj.id}`).addClass('active');
    $('#customer').val(filterObj.customer);
    $('#_id').val(filterObj.id);
    $('#facility').val(filterObj.facility);
    $('#gwId').val(filterObj.gateway_id);
    $('#measureNme').val(filterObj.measure_name);
    $('#filterType').val(filterObj.filter_type);
    $('#filterMode').val(filterObj.mode);
    $('#minThreshold').val(filterObj.min_threshold);
    $('#maxThreshold').val(filterObj.max_threshold);
    $('#groupName').val(filterObj.group_name);
    $('#isEnabled').prop('checked',filterObj.is_enable);
    $('select').selectpicker('refresh');
    addNewFlag = false;
    $('.show-edit-filters').show();
  }

  function handleOnchangeFilterType(obj) {
    if($(obj).val() === "") {
      $(submitBtn).attr('disabled', true);
    } else if ($(obj).val() === 'CONTAIN_CLASS') {
      $(submitBtn).attr('disabled', false);
      $('.threshold-row').hide();
    } else {
      $('.threshold-row').show();
      $(submitBtn).attr('disabled', false);
    }
  }

  function handleOnchangeFilterMode(obj) {
    if($(obj).val() === "") {
      $(submitBtn).attr('disabled', true);
    } else {
      $(submitBtn).attr('disabled', false);
    }
  }

  function handleAddNew () {
    $('#customer').val('');
    $('#facility').val('');
    $('#gwId').val('');
    $('#measureNme').val('');
    $('#filterType').val('');
    $('#filterMode').val('');
    $('#minThreshold').val('');
    $('#maxThreshold').val('');
    $('#group_name').val('');
    $('select').selectpicker('refresh');
    addNewFlag = true;
    $('.show-edit-filters').show();
  }

  async function handleSubmit() {
    let bodyParams = {};
    if($('#customer').val() === '' || $('#facility').val() === ''
      || $('#gwId').val() === '' || $('#measureNme').val() === ''
      || $('#filterType').val() === '' || $('#filterMode').val() === '' || $('#groupName').val() === '') {
      $('.message').val('Not enough input to create a filter.');
      return;
    }
    bodyParams.customer = $('#customer').val();
    bodyParams.facility = $('#facility').val();
    bodyParams.gwId = $('#gwId').val();
    bodyParams.measureName = $('#measureNme').val();
    bodyParams.filterType = $('#filterType').val();
    bodyParams.filterMode = $('#filterMode').val();
    bodyParams.minThreshold = $('#minThreshold').val() === '' ? null : $('#minThreshold').val();
    bodyParams.maxThreshold = $('#maxThreshold').val() ==='' ? null : $('#maxThreshold').val();
    bodyParams.isEnabled =  $('#isEnabled').is(':checked')
    bodyParams.addNewFlag = addNewFlag;
    bodyParams.groupName = $('#groupName').val()
    bodyParams.id = $('#_id').val();
    let options = {
      credentials: 'include',
      method:"POST",
      body: JSON.stringify(bodyParams),
      headers: {
        'Content-type': 'application/json'
      }
    }
    try{
      let data = await d3.json('/portal/filter/add', options);
      $('.message').html('Filter updated.');
      setTimeout(() => { $('.message').html('') }, 600);
    } catch (error) {
      $('.message').addClass('error').html('Something went wrong.');
    }

    main();
  }
  main();
</script>
</html>
