<!DOCTYPE html>
<html>
<head>
    <title>Gate Turn</title>
    <%- include('../partials/headerLinks'); %>
    <link rel="stylesheet" href="/portal/css/s/subjectDetail.ejs.css"/>
    <script type="text/javascript" src="/portal/js/subjects-report-helper.js"></script>
    <style>
        .zero {
            stroke: lightgrey;
            stroke-width: 1px;
            stroke-dasharray: 5;
        }
        .outer-badge{
            background: #e6e6e6;
            border-radius: 50%;
            height: 120px;
            width: 120px;
            position: relative;
        }
        .status-badge {
            position: absolute;
            height: 90px !important;
            width: 90px !important;
            top: 50% !important;
            left: 50%;
            margin: -45px 0px 0px -45px;
            border: 1px solid gray;
            text-align: center;
            /*padding-top: 25px;*/
            color: black !important;
            /*right: 0;*/
            /*top: 10px;*/
        }
        .badge {
            position: absolute;
            right: 0;
            top: 10px;
        }
        div.currentStatus div.status {
            font-size: large !important;
            margin: 10% 0% 10% 0%;
        }
        .custom-nav {
            padding-left: 8% !important;
        }
        .legend{
            padding-left: 5%;
        }
        .facility{
            font-size: 1.2em;
            color: gray;
            margin-bottom: 0.5em;
            text-align: right;
            margin-right: 5em;
        }
        div.subject div.title {
            margin-left: 12% !important;
        }
        div.scale {
            padding: 0%;
        }
    </style>
</head>
<body>
<%- include('../partials/header'); %>
<div class="container row-padding-margin">
    <div class="row">
        <div class="col-2"></div>
        <div class="col-8 breadcrumb-row">
            <nav class="nav custom-nav">
            </nav>
        </div>

    </div>
    <div class="row">
        <div class="col-md-2"></div>
        <div class="col-md-4">
            <div class="facility"></div>
        </div>
        <div class="col-md-2"></div>
        <div class="col-md-auto">
            <div id="reportDateTitle">
                <div class="date"></div>
                <div class="tz"></div>
                <!--<div class="liveModeIndicator"></div>-->
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-md-2 row-padding-top">
            <div id="subjectLists"><%- include('../partials/reportSubjectPicker'); %></div>
        </div>
        <div class="col-md-10">
            <div id="subjects">
                <div id="message"></div>
            </div>
        </div>
    </div>
</div>
<%- include('../partials/loading'); %>
<%- include('../partials/footer'); %>
<%- include('../partials/imgModal'); %>
</body>
<script language="javascript">
  let parameters;
  let latestConfig;
  let loginCgr = '<%= user.cgrs %>';
  let reportType = 'cycle';
  let tooltip;

  async function main() {
    // first try to get all paraams from url string
    parameters = await getQueryParams(parameters);
    d3.select('.facility').text(`Facility: ${parameters.facility}`);
    tooltip = d3.select("body").append("div").attr("class", "tooltip").style("opacity", 0);

    //if date/shift not found in url string get it from checkLiveMode()
    await checkLiveModeOn(parameters);
    renderBreadCrumb(parameters, 'gateTurn');

    //Display date on page
    // constructShiftPicker(parameters);
    // constructDatePicker(parameters);
    if(!parameters.date && !parameters.shift){
      $('.loading').remove();
      renderNoShiftConfigured();
      return;
    }
    gateTurns(parameters);
  }

  main();

</script>
</html>
