<!DOCTYPE html>
<html>
<head>
    <title>Subject Summary</title>
    <%- include('../partials/headerLinks'); %>
    <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
    <script src="//unpkg.com/timelines-chart"></script>
    <script type="text/javascript" src="/portal/js/subjects-report-helper.js"></script>
</head>
<style>
    .thumbnail {
        width: 75%;
        height: 100%;
        padding: 5px 0px;
    }

    .google-table-cell {
        height: 68px;
        width: 80px;
        padding: 0px;
        text-align: center;
        border: 1px solid #afafaf !important;
    }

    .col-pad {
        padding: 0px;
    }

    .thumbnail:hover {
        cursor: pointer;
    }

    .row-padding {
        padding-top: 15px;
    }

    .col-pad-left {
        padding-left: 40px;
    }

    .col-pad-right {
        padding-right: 40px;
    }

    .odd-table-row {
        background-color: #e6e6e6;
    }

    .table-row {
        background-color: white;
        border: 2px solid #b7b7b7;
    }

    .key-dot {
        display: inline-block;
        height: 10px;
        margin-right: .5em;
        width: 10px;
    }

    .legend2 {
        float: left;
        margin-right: 3em;
    }

    .col-pad-top {
        padding-top: 2px;
    }

</style>
<body>
<%- include('../partials/header'); %>
<div id="container">
    <div class="row row-padding">
        <div class="col-1"></div>
        <div class="col-10 date"></div>
        <div class="col-1"></div>
    </div>

    <div class="row">
        <div class="col-1"></div>
        <div class="col-11 breadcrumb-row">
            <nav class="nav custom-nav">
            </nav>
        </div>
    </div>
    <div class="row row-padding">
        <div class="col-md-1"></div>
        <div class="col-md-2 col-padding">
            <%- include('../partials/reportDatePicker'); %>
        </div>
        <div class="col-md-2">
            <%- include('../partials/reportShiftPicker'); %>
        </div>
        <div class="col-md-2">
            <div class="form-group row facility">
                <select class="form-control facilityPicker" id="facilityPicker"></select>
            </div>
        </div>
        <div class="col-md-1"></div>
        <div class="col-md-auto">
            <div id="reportDateTitle">
                <div class="date"></div>
                <div class="tz"></div>
                <div class="liveModeIndicator"></div>
            </div>
        </div>
    </div>

    <div class="row justify-content-end">

        <div class="col-3" id="legends">

        </div>
    </div>

    <div class="row ">
        <div class="col-3 col-pad col-pad-left col-pad-top">
            <div id="hero-img" style="width: 100%;"></div>
        </div>
        <div class="col-9 col-pad col-pad-right">
            <div id="sample" style="width: 100%; height: 700px; padding-top: 2px;"></div>
        </div>

        <!--<div class="col-10 col-pad col-pad-left">-->
        <!--<div id="sample" style="width: 100%; height: 100%; padding-top: 2px;"></div>-->
        <!--</div>-->
        <!--<div class="col-2 col-pad col-pad-right">-->
        <!--<div id="hero-img" style="width: 100%; height: 100%"></div>-->
        <!--</div>-->

    </div>
</div>
<!-- Modal to show images -->
<%- include('../partials/loading'); %>
<%- include('../partials/imgModal'); %>
<%- include('../partials/footer'); %>
</body>
<script language="javascript">

  let parameters;
  let loginCgr = '<%= user.cgrs %>';
  let reportType = 'cycle';
  let tooltip;
  var dataRefreshInterval;
  var definitions;
  var reportCfg = {};
  let globalData;
  //parameters
  //first, get the date/shift info
  async function main(isReload) {
    parameters = await getQueryParams(parameters);
    await constructFacilityPicker(parameters);
    tooltip = d3.select('body').append('div').attr('class', 'tooltip').style('opacity', 0);
    definitions = {
      graphMeasure: (parameters.customer === 'lumenetix') ? 'bulb' : 'composite',
      aggregationStates: parameters.customer === 'lumenetix' ? ['solid blue', 'solid red', 'solid amber'] : ['running']
    };
    //if date/shift not found in url string get it from checkLiveMode()
    await checkLiveModeOn(parameters);
    if (!isReload) {
      renderBreadCrumb(parameters, 'gateStatus');
    }
    d3.select('#reportDate').attr('value', parameters.date);
    // d3.select('#reportDateTitle div.date').text(`${upperFirst(parameters.shift)} Shift for ${liveMode ? moment.tz(moment(), timezone).format('MMMM Do, YYYY HH:mm') : moment(parameters.date).format('MMMM Do, YYYY')}`);

    constructShiftPicker(parameters);
    constructDatePicker(parameters);

    setTimeout(()=>{
      parameters = {}
      main(true)
    }, 60 * 1000);

    let data = await reload(parameters, reportType);

    $('.loading').remove();
    if (Object.keys(data).length) {
      render(data);
    } else {
      renderNoShift(parameters.shift, parameters.date);
    }
  }

  async function handleIntervalFired(parameters, reportType) {

    if (lastResult && moment(lastResult.highWaterMarkTime).isBefore(moment(lastResult.shiftEndTime))) {
      //only reload if the data is still updating
      let data = await reload(parameters, reportType);
      if (Object.keys(data).length) {
        render(data);
      } else {
        renderNoShift(parameters.shift, parameters.date);
      }
    }
  }

  async function render(data) {
    //missing data message if necessary

    //create the scale
    let plotArr = [], heroImg = [];
    for (let i in data.subjects) {
      let subjectMap = data.subjects[i].measures.aircraft.map(v => {
        let subjectArr = [];
        subjectArr.push(data.subjects[i].name);
        subjectArr.push(v.state);
        subjectArr.push(moment(moment.tz(v.startTime, timezone).format('YYYY-MM-DDTHH:mm')).valueOf());
        subjectArr.push(moment(moment.tz(v.endTime, timezone).format('YYYY-MM-DDTHH:mm')).valueOf());
        plotArr.push(subjectArr);
        return {
          measure: definitions.graphMeasure,
          state: v.state,
          startTime: v.startTime,
          endTime: v.endTime
        };
      });
    }

    //smoothening the report for overlapping intervals
    for (var i = 1; i < plotArr.length; i++) {
      if (plotArr[i - 1][0] == plotArr[i][0]) {
        if (plotArr[i - 1][3] > plotArr[i] [2]) {
          plotArr[i - 1][3] = plotArr[i] [2];
        }
      }
    }

    let customCfg = {
      absent: '#a6a6a6',
      present: '#2578b6'
    };

    for (let i in data.subjects) {
      let temp = [];
      let thumbnail = data.subjects[i].thumbnail;
      let states = data.subjects[i].measures.aircraft;
      var lastState = lastAvailableState(states);
      let detailUrl = encodeURI(`/portal/reports/subjectDetail?customer=${parameters.customer}&subject=${data.subjects[i].name}&data=${parameters.date}&shift=${parameters.shift}&facility=${parameters.facility}`);
      temp.push(`<a href=${detailUrl}>${data.subjects[i].name}</a>`);
      if (lastState && lastState.images.length) {
        var lastImage = lastState.images[lastState.images.length - 1];
        lastImage.gateway_id = thumbnail ? thumbnail.gateway_id : lastImage.gateway_id;
        lastImage.collection_time = thumbnail ? thumbnail.collection_time : lastImage.collection_time
        lastImage.step_name = thumbnail ? 'glamour_crop' : lastImage.step_name;
        let imgSrc = `<img class="thumbnail" src='/portal/image/${parameters.customer}/${lastImage.gateway_id}/${lastImage.camera_id}/${moment(lastImage.collection_time).unix()}/${lastImage.step_name}/${lastImage.name}?width=200'
        onclick="openModal('${lastImage.gateway_id}', '${lastImage.camera_id}', '${lastImage.collection_time}', '${lastImage.step_name}', '${lastImage.name}')">`;
        temp.push(imgSrc);
      } else {
        temp.push('');
      }
      var duration = moment(lastState.endTime).diff(moment(lastState.startTime));
      temp.push(`${upperFirst(lastState.state)} </br> (${formatDurationAsTime(duration)})`);
      // temp.push(formatDurationAsTime(duration));
      heroImg.push(temp);
    }
    let globalChart;

    await google.charts.load('current', {packages: ['table', 'timeline']});
    // google.charts.setOnLoadCallback(drawChart);

    // function drawChart() {

    var cssClassNames = {
      oddTableRow: 'odd-table-row',
      tableRow: 'table-row',
      tableCell: 'google-table-cell'
    };
    var imgContainer = document.getElementById('hero-img');
    var dataTable = new google.visualization.DataTable();
    dataTable.addColumn('string', '');
    dataTable.addColumn('string', '');
    dataTable.addColumn('string', '');
    // data.addColumn('string', '');
    dataTable.addRows(heroImg);

    let imgTable = new google.visualization.Table(imgContainer);
    google.visualization.events.addListener(imgTable, 'ready', function () {
      for (var i = 0; i < dataTable.getNumberOfRows(); i++) {
        if (dataTable.getValue(i, 2).includes('Present')) {
          // modify the table directly on 'ready'
          imgContainer.getElementsByTagName('TR')[i + 1].getElementsByTagName('td')[2].style.backgroundColor = '#2578b6';
          imgContainer.getElementsByTagName('TR')[i + 1].getElementsByTagName('td')[2].style.color = 'white';
        } else if (dataTable.getValue(i, 2).includes('Absent')) {
          // modify the table directly on 'ready'
          imgContainer.getElementsByTagName('TR')[i + 1].getElementsByTagName('td')[2].style.backgroundColor = '#a6a6a6';
        }
      }
    });
    imgTable.draw(dataTable, {
      headerRow: false, allowHtml: true, showRowNumber: false, width: '100%',
      height: '100%', sort: 'disable', cssClassNames: cssClassNames, alternatingRowStyle: true
    });

    var container = document.getElementById('sample');
    var chart = new google.visualization.Timeline(container);
    globalChart = chart;
    var dataTimeline = new google.visualization.DataTable();
    dataTimeline.addColumn({type: 'string', id: 'Position'});
    dataTimeline.addColumn({type: 'string', id: 'Name'});
    dataTimeline.addColumn({type: 'number', id: 'Start'});
    dataTimeline.addColumn({type: 'number', id: 'End'});
    dataTimeline.addRows(plotArr);

    let colorMap = {
      absent: '#a6a6a6',
      present: '#2578b6'
    };
    let color = [];
    for (var i = 0; i < dataTimeline.getNumberOfRows(); i++) {
      color.push(colorMap[dataTimeline.getValue(i, 1)]);
    }

    var options = {
      height: '100%',
      colors: color,
      timeline: {
        showBarLabels: false,
        showRowLabels: false,
        rowLabelStyle: {fontName: 'Helvetica', fontSize: 14, color: 'black'},
        barLabelStyle: {fontName: 'Garamond', fontSize: 19.9}
      },
      backgroundColor: 'white',
      avoidOverlappingGridLines: false
    };
    chart.draw(dataTimeline, options);
    // google.visualization.events.addListener(table, 'select', selectHandler);
    google.visualization.events.addListener(chart, 'select',function(){
      d3.select('div.google-visualization-tooltip').style('display','none');
      var selection = chart.getSelection();
      if (selection.length > 0) {
        let gate = dataTimeline.getValue(selection[0].row, 0)
        let subjectFilter = globalData.subjects.filter(y=>y.name === gate);
        let startTime = dataTimeline.getValue(selection[0].row, 2);
        let endTime = dataTimeline.getValue(selection[0].row, 3);
        let state = lookupState(subjectFilter[0], startTime, endTime);
        if(state.length){
            let images = state[0].images;
            console.log(images.length);
            images = images.filter((imageRef, index, array) => index == 0 || index == array.length - 1 || index % 10 == 0);
          let imgArr = [];
          images.forEach(function (obj) {
            imgArr.push({
              linkName: moment.tz(obj.collection_time, timezone).format('HH:mm'),
              imgKey: obj,
              header: {gate: gate.split('Gate')[1], time: moment.tz(obj.collection_time, timezone).format('HH:mm')},
              customerTag:{}
            });
          });
          renderImgModal(imgArr);
        }
      }
    });
    $('thead').remove();
    // let legends = $('#legends');
    let legendVal = '';
    let stateLegendsArr = Object.keys(customCfg);
    for (let i in stateLegendsArr) {
      legendVal = legendVal + `<div class="legend2"> <p class="country-name"><span class="key-dot" style="background-color: ${customCfg[stateLegendsArr[i]]}"></span>${upperFirst(stateLegendsArr[i])}</p> </div>`;
    }
    $('#legends').empty();
    $('#legends').append(legendVal);

  }

  function lookupState(subject, startTime, endTime){
    return subject.measures.aircraft.filter(z=>moment(moment.tz(z.startTime, timezone).format('YYYY-MM-DDTHH:mm')).valueOf() === startTime && moment(moment.tz(z.endTime, timezone).format('YYYY-MM-DDTHH:mm')).valueOf() === endTime);
  }

  function openModal(gatewayID, camId, collectionTime, stepName, imgName) {
    let imgKey = {
      gateway_id: gatewayID,
      camera_id: camId,
      collection_time: collectionTime,
      name: imgName,
      step_name: stepName
    };
    renderImgModal([{
      customerTag: {},
      imgKey: imgKey,
      header: {
        gate: stepName.split('_')[1],
        time: moment.tz(collectionTime, timezone).format('HH:mm')
      },
      linkName: moment.tz(collectionTime, timezone).format('HH:mm')
    }]);
  }


  async function reload() {
    d3.select('#reportDateTitle div.date').text(`${upperFirst(parameters.shift)} Shift for ${liveMode ? moment.tz(moment(), timezone).format('MMMM Do, YYYY HH:mm') : moment(parameters.date).format('MMMM Do, YYYY')}`);
    // await fetchCfg(parameters);   //Fetch report config
    const paramsString = Object.keys(urlParams).map(function (key) {
      return encodeURIComponent(key) + '=' + encodeURIComponent(urlParams[key]);
    }).join('&');
    const dataRoute = '/portal/data/gateStatus/' + parameters.customer + '?' + paramsString;
    let data = await d3.json(dataRoute, {credentials: 'include'});
    if (!Object.keys(data).length) {
      showNoDataIndicator();
      return data;
    }

    lastResult = data;

    data.subjects.sort(function (a, b) {
      return naturalCompare(a.name, b.name);
    });

    if (!data) {
      showNoDataIndicator();
      return data;
    }
    inProgress = shiftIsActive(lastResult);
    if (previousShiftResult) {
      //calculate and render
      var aggregates = getPreviousShiftAggregates();
      data.subjects.forEach(function (subject) {
        subject.aggregates.utilizationYesterday = aggregates[subject.name] || 0;
      });
    }
    globalData = JSON.parse(JSON.stringify(data));
    return data;
  }

  function getRandomData(data, ordinal = false) {

    const NGROUPS = 5,
      MAXLINES = 1,
      MAXSEGMENTS = 50,
      MAXCATEGORIES = 10,
      MINTIME = new Date(2017, 2, 21);

    const nCategories = Math.ceil(Math.random() * MAXCATEGORIES),
      categoryLabels = ['Running', 'Ignored', 'Idle', 'Idle*', 'Setup/Load'];

    return data.subjects.map(i => ({
      group: i.name,
      data: getGroupData(i)
    }));

    //

    function getGroupData(subjects) {

      return [{
        label: '',
        data: getSegmentsData(subjects.measures.aircraft)
      }];

      //

      function getSegmentsData(data) {
        const nSegments = Math.ceil(Math.random() * MAXSEGMENTS),
          segMaxLength = Math.round(((new Date()) - MINTIME) / nSegments);


        return data.map(i => {

          start = new Date(i.startTime),
            end = new Date(i.endTime);

          return {
            timeRange: [start, end],
            val: i.state
            //labelVal: is optional - only displayed in the labels
          };
        });

      }
    }
  }

  main();

</script>
</html>
