<!DOCTYPE html>
<html>
<head>
    <title>Homepage</title>
    <%- include('../partials/headerLinks'); %>
    <link rel="stylesheet" href="https://code.getmdl.io/1.3.0/material.indigo-pink.min.css">
    <link rel="stylesheet" href="/portal/css/bootstrap-select.min.css"/>
    <link rel="stylesheet" href="/portal/css/s/homepage.ejs.css"/>

    <script src="/portal/js/bootstrap-select.min.js"></script>
    <script type="text/javascript" src="/portal/js/cycle-report-helper.js"></script>
    <style>
        div.panel.show {
            max-height: unset;
        }
    </style>
</head>
<body>
<%- include('../partials/header'); %>
<p/>
<div class="container-fluid" id="container">
    <div class="mdl-grid">
        <div class="mdl-layout-spacer"></div>
        <div class="mdl-cell mdl-cell--5-col">
            <div class="mdl-list cgr-list">

            </div>
        </div>
        <div class="mdl-layout-spacer"></div>
    </div>

</div>
<script>
  //Function renders each cgr dropdown as a card a list of reports/pages under that cgr
  async function renderCards() {
    const allNavs = await d3.json('/portal/config/allNavs', {credentials: 'include'});
    const cgrList = $('div.cgr-list'); //create base jq div
    const sortedNavs = Object.keys(allNavs).sort().reduce((acc, key) => (acc[key] = allNavs[key], acc), {}); //sort cgrs alphabetically
    const cgrDivs = Object.keys(sortedNavs).reduce((acc, cgr) => {
      let facility = null;
      const navObj = allNavs[cgr]; //filter out navs for cgr in question
      const navDivList = Object.entries(navObj).reduce((acc, [k, v]) => {
        if (!v) return acc; //if nav value set to null then omit creating divs
        if (k === 'landing') return acc; //don't display landing page
        if (!v.path) { //if nav does not have an associated path it is most likely the facility key
          facility = k;
          delete v.landing; //remove landingPage if it exists at this level
          const updatedLabels = Object.values(v).filter(v => v !== null).map( v=> ({...v, label: v.label + ` (${k})`})); //embed facility into the label
          acc = acc.concat(updatedLabels.map(u => makeNavDiv(u, cgr, facility))); //supply facility to makeNavDiv to add as a param
        }
        else acc.push(makeNavDiv(v, cgr, facility)); //if path is provided simply create divs for the nav without worrying about facility
        return acc;
      }, []);
      const navDivStr = navDivList.join(''); //convert to str
      const cgrsDiv = makeCgrDiv(cgr, navDivStr); //create the card div
      return acc.concat(cgrsDiv);
    }, []);

    return cgrList.append(cgrDivs.join('')); //at this point we have list of cgr cards, convert to str and supply to jq
  }

  //create div for each nav
  function makeNavDiv(nav, cgr, facility) {
    return `<li class="mdl-list__item">
            <span class="mdl-list__item-primary-content">
            <a href="${nav.label !== 'Mugshot' ? '/portal' : ''}${nav.path}?customer=${cgr}${(facility ? '&facility=' + facility : '')}">${nav.label}</a>
            </span>
            </li>`;
  }

  /**
   * TODO: Review home updates
  async function renderCards() {
    const allNavs = await getRequest(`${getFleetUrl('group')}/facilities`);

    const cgrList = $('div.cgr-list');
    const sortedNavs = allNavs

    const cgrDivs = sortedNavs.map((facility) => {
      const navList = facility.reportTypes; //filter out navs for cgr in question
      const navDivList = navList.map((report) => {
        return makeNavDiv(facility.aliasName, report);
      }, []);
      const navDivStr = navDivList.join(''); //convert to str
      const cgrsDiv = makeCgrDiv(facility.aliasName, navDivStr); //create the card div
      return cgrsDiv;
    }, []);
    return cgrList.append(cgrDivs.join('')); //at this point we have list of cgr cards, convert to str and supply to jq
  }

  //create div for each nav
  function makeNavDiv(cgr, {reportTypeName, path}) {
    return `<li class="mdl-list__item">
            <span class="mdl-list__item-primary-content">
            <a href="${reportTypeName !== 'Mugshot' ? '/portal' : ''}${path}?customer=${cgr}${(!path ? '&facility=' + cgr : '')}">${reportTypeName}</a>
            </span>
            </li>`;
  }
  */

  //create div for cgr card list
  function makeCgrDiv(cgr, navsDiv) {
    return `<div class="cgr">
              <div class="mdl-list__item mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect accordion">${cgr}
              </div>
              <div class="panel">
                <ul class="demo-list-item mdl-list">
                  ${navsDiv}
                </ul>
              </div>
            </div>`;
  }

  (async function () {
    var a, acc, i, len;
    await renderCards();

    acc = document.getElementsByClassName('accordion');

    for (i = 0, len = acc.length; i < len; i++) {
      a = acc[i];
      a.onclick = function () {
        this.classList.toggle('active');
        return this.nextElementSibling.classList.toggle('show');
      };
    }

  }).call(this);

</script>
<%- include('../partials/footer'); %>
<%- include('../partials/imgModal'); %>


</body>
</html>
