<!DOCTYPE html>
<html>
<head>
    <title>Report Listing</title>
    <%- include('../partials/headerLinks'); %>
    <link rel="stylesheet" href="/portal/css/s/cycleList.ejs.css"/>
</head>
<body>
<%- include('../partials/header'); %>
<p/>
<div class="container-fluid" id="container">
    <div class="row card-row justify-content-center">

    </div>
</div>

<script>

  let parameters;

  async function reload() {
    parameters = await getQueryParams(parameters);
    const url = '/portal/data/getFacilityList?customer=' + parameters.customer;
    let facilities = await d3.json(url, {credentials: 'include'});
    render(facilities);
  }

  function render(data) {
    let cardCol = d3.select('.card-row').selectAll('.card-col').data(data);
    let newCardCol = cardCol.enter().append('div').classed('card-col', true).classed('col-3', true);
    let card = newCardCol.append('div').classed('card', true).style('width', '18rem');
    let cardHeader = card.append('div').classed('card-header', true);
    let cardBody = card.append('div').classed('card-body', true);
    cardHeader.append('h4').classed('card-title', true).classed('no-margin', true);
    cardBody.append('div').classed('row', true).append('div').classed('col', true).append('a').attr('href', '#').classed('summary', true).text('Overview');
    cardBody.append('div').classed('row', true).append('div').classed('col', true).append('a').attr('href', '#').classed('detail', true).text('Subject Detail');
    cardBody.append('div').classed('row', true).append('div').classed('col', true).append('a').attr('href', '#').classed('grid', true).text('Summary Grid');
    let mergedCardCols = newCardCol.merge(cardCol);
    mergedCardCols.select('.card-title').text(d => d);
    mergedCardCols.select('a.summary').attr('href', function (d) {
      return '/portal/reports/subjectSummary?customer=' + parameters.customer + '&facility=' + d;
    });
    mergedCardCols.select('a.detail').attr('href', function (d) {
      return '/portal/reports/subjectDetail?customer=' + parameters.customer + '&facility=' + d;
    });
    mergedCardCols.select('a.grid').attr('href', function (d) {
      return '/portal/reports/summaryGrid?customer=' + parameters.customer + '&facility=' + d;
    });
    cardCol.exit().remove();
  }

  reload();
</script>
<p/>
<%- include('../partials/footer'); %>
</body>
</html>
