<!DOCTYPE html>
<html>
<head>
    <title>Subject Detail</title>
    <%- include('../partials/headerLinks'); %>
    <link rel="stylesheet" href="/portal/css/s/subjectDetail.ejs.css"/>
    <script type="text/javascript" src="/portal/js/AtollogyImage.js"></script>
    <script type="text/javascript" src="/portal/js/subjects-report-helper.js"></script>
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
</head>
<body>
<%- include('../partials/header'); %>
<div class="container row-padding-margin">
    <div class="row">
        <div class="col-2"></div>
        <div class="col-10 breadcrumb-row">
            <nav class="nav custom-nav">
            </nav>
        </div>
    </div>
    <div class="row">
        <div class="col-md-2"></div>
        <div class="col-md-auto col-padding">
            <%- include('../partials/reportDatePicker'); %>
        </div>
        <div class="col-md-auto">
            <%- include('../partials/reportShiftPicker'); %>
        </div>
        <div class="col-md-1">
            <div class="form-group row facility">
                <select class="form-control facilityPicker" id="facilityPicker"></select>
            </div>
        </div>

        <div class="col-md-auto">
            <div id="reportDateTitle">
                <div class="date"></div>
                <div class="tz"></div>
                <div class="liveModeIndicator"></div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-md-2 row-padding-top">
            <div id="subjectLists"><%- include('../partials/reportSubjectPicker'); %></div>
        </div>
        <div class="col-md-10">
            <div id="subjects">
                <div id="message"></div>
            </div>
        </div>
    </div>
</div>
<%- include('../partials/loading'); %>
<%- include('../partials/footer'); %>
<%- include('../partials/imgModal'); %>
</body>
<script language="javascript">
  let parameters;
  let latestConfig;
  let loginCgr = '<%= user.cgrs %>';
  let reportType = 'detail';
  let tooltip;

  async function main() {
    // first try to get all parameters from url string
    parameters = await getQueryParams(parameters);
    await constructFacilityPicker(parameters);
    tooltip = d3.select("body").append("div").attr("class", "tooltip").style("opacity", 0);

    //if date/shift not found in url string get it from checkLiveMode()
    await checkLiveModeOn(parameters);
    renderBreadCrumb(parameters, 'subjectDetail');

    await constructSubjectPicker(parameters);
    //Display date on page
    constructShiftPicker(parameters);
    constructDatePicker(parameters);
    if(!parameters.date && !parameters.shift){
      $('.loading').remove();
      renderNoShiftConfigured();
      return;
    }
    subjectsReport(parameters, 'detail');
  }

  main();
</script>
