<!DOCTYPE html>
<html>
<head>
    <title>Subject Grid</title>
    <link rel="stylesheet" href="/portal/css/s/summaryGrid.ejs.css"/>
    <%- include('../partials/headerLinks'); %>
</head>
<body>
<%- include('../partials/header'); %>
<p/>
<div class="container-fluid" id="container">
    <div class="row row-padding-bottom">
        <div class="col-2"></div>
        <div class="col-10 breadcrumb-row">
            <nav class="nav custom-nav">
            </nav>
        </div>
    </div>
    <div class="row">
        <div class="col-md-2"></div>
        <div class="col-md-2">
            <%- include('../partials/reportDatePicker'); %>
        </div>
        <div class="col-md-5">
            <div class="form-group row facility">
                <div class="facilityLabel" for="facilityPicker"></div>
                <div class="col-4">
                    <select class="form-control facilityPicker" id="facilityPicker"></select>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-2"></div>
        <div class="col-md-8">
            <div class="card">
                <div class="card-header card-header-color">
                    <h4>Summary Grid</h4>
                    <%=result.date%>
                    <div class="dot blueCell"></div> > 50%
                    <div class="dot greenCell"></div> 40%
                    <div class="dot yellowCell"></div> 30%
                    <div class="dot pinkCell"></div> < 30%
                </div>
                <div class="card-body card-padding">
                    <table class="table table-bordered table-sm table-margin" >
                        <thead>
                        <tr>
                            <th scope="col">Station</th>
                            <%for(let i = 0;i<shifts.length;i++){%>
                            <th scope="col"><%=shifts[i].charAt(0).toUpperCase() + shifts[i].slice(1);%></th>
                            <%}%>
                        </tr>
                        </thead>
                        <tbody>
                        <% let data = result.station;
                        let customer = cust;
                        data.sort((a, b) => naturalCompare(a.subject, b.subject));
                        for(let i = 0; i < data.length; i++) { %>
                        <tr>
                            <td><%=data[i].subject%></td>
                            <%for(let j = 0;j<shifts.length;j++){%>
                                <td class="clickable <%if(data[i]['shift_utilization'][shifts[j]] >= 50){%>
                                    <%="blueCell"%><%
                                }else if(data[i]['shift_utilization'][shifts[j]] >=40 && data[i]['shift_utilization'][shifts[j]]<50){%>
                                    <%="greenCell"%><%
                                }else if(data[i]['shift_utilization'][shifts[j]] >=30 && data[i]['shift_utilization'][shifts[j]]<40){%>
                                    <%="yellowCell"%><%
                                }else{%>
                                    <%="pinkCell"%><%
                                }%>" onclick="subjectSummary('<%=result.date%>','<%=cust%>','<%=data[i].subject%>','<%=shifts[j]%>')">
                                    <% let quant = data[i]['shift_total_duration'][shifts[j]];
                                        let value = '';
                                        if(quant > 3600){
                                            value = (quant/3600).toFixed(1).toString() + ' hours';
                                        } else if(quant > 60){
                                            value = (quant/60).toFixed(1).toString() + ' minutes';
                                        } else {
                                            value = quant ? quant.toString() + ' seconds' : '';
                                        }
                                    %><%=value%> (<%=data[i]['shift_utilization'][shifts[j]]%>%)
                                </td>
                            <%}%>
                        </tr>
                        <% } %>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
        <div class="col-md-2"></div>
    </div>
</div>
<p/>
<%- include('../partials/footer'); %>
<script type="text/javascript">
  //parameters
  let parameters={};
  async function main() {
    parameters = await getQueryParams(parameters);
    await constructFacilityPicker(parameters);
    d3.select('#reportDate').attr('value', '<%=result.date%>');
    constructDatePicker(parameters);
    renderBreadCrumb(parameters, 'summaryGrid');
  }

  main();
  function subjectSummary(date,cust, subject, shift){
    window.location = '/portal/reports/subjectDetail?customer='+cust+'&date='+date+'&shift='+shift+'&subject='+subject;
  }

</script>
</body>
</html>
