<!DOCTYPE html>
<html>
<head>
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type" />
    <title>Analytics Dashboard</title>
    <%- include('../partials/headerLinks'); %>
    <link rel="stylesheet" href="https://code.getmdl.io/1.3.0/material.indigo-pink.min.css">

    <script src="/portal/js/bootstrap-select.min.js"></script>
    <link rel="stylesheet" href="/portal/vendor/bootstrap-4.1.min.css">
    <script src="/portal/vendor/bootstrap.bundle.min.js"></script>
    <script type="text/javascript" src="https://public.tableau.com/javascripts/api/tableau-2.2.2.min.js"></script>
    <style>

        div#errMessage {
            height: 10em;
            position: relative
        }
        div#errMessage p {
            margin: 0;
            position: absolute;
            top: 100%;
            left: 50%;
            margin-right: -50%;
            transform: translate(-50%, -50%);
            font-size: medium;
        }
        .tableau-dashboard {
            margin-left: 5%;
            margin-top: 5%;
        }
        #vizContainer {
            border: 1px solid #eee;
        }
        .custom-col-margin{
            margin: 0px 2%;
        }
        .custom-col-margin-dashborad{
            margin: 0px 3%;
        }
        .custom-active {
            background-color: #0a71d6 !important;
            color: white !important;
        }
    </style>
</head>
<body>
<%- include('../partials/header'); %>
<div class="container-fluid map-container" id="container">
    <div class="row">
        <div class="col-11 custom-col-margin breadcrumb-row">
            <nav class="nav custom-nav"/>
        </div>
    </div>
    <div class="row row-padding-top">
        <div class=" col-11 custom-col-margin-dashborad">
            <ul class="nav nav-tabs" id="dashboardNavs">

            </ul>
        </div>
    </div>
    <%- include('../partials/loading'); %>
    <div class="row">
        <div class="col-11 custom-col-margin-dashborad">
            <div id="vizContainer"> </div>
        </div>
    </div>
    <div id="errMessage">
    </div>
</div>
<div class="modal fade" id="contactSupportModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Customer Support</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                Your issue has already been sent to our support team. Thank you for contacting us and we'll get back to you soon.
            </div>
        </div>
    </div>
</div>
<%- include('../partials/footer'); %>
</body>
<script type="text/javascript" language="javascript">
  let parameters = {};
  let viz;
  async function main() {
    parameters = await getQueryParams(parameters);
    let facilities = await fetchAllFacilitiesPermitted(parameters);
    let facility = facilities.filter(x=>x[1] === parameters.customer);
    parameters.facility = facility[0][0];
    let dashboardsResp = await constructDashboardPicker();
    renderNavBar(dashboardsResp.dashboards);
    renderBreadCrumb(parameters, 'tableau');
    initViz(dashboardsResp.dashboards[0]);
  }

  function renderNavBar(dashboards) {
    let lists = '';
    for(let i in dashboards) {
      if(Number(i) === 0) {
        lists = lists + `<li class="nav-item">
        <a class="nav-link dashboard-link active custom-active" href="#" onclick="changeDashboard(this)">${dashboards[Number(i)]}</a>
      </li>`
      } else {
        lists = lists + `<li class="nav-item">
        <a class="nav-link dashboard-link" href="#" onclick="changeDashboard(this)">${dashboards[Number(i)]}</a>
      </li>`
      }
    }
    $('#dashboardNavs').append(lists);
  }

  async function initViz(dashboardName) {

    let containerDiv = document.getElementById("vizContainer");
    try {
      let result = await d3.json('/portal/analytics/url?customer='+parameters.customer+'&facility='+parameters.facility+'&dashboardName='+dashboardName);
      if(result['errorCode'] === -1) {
        let options = {
          hideTabs: true,
          width: containerDiv.offsetWidth,
          height: screen.height,
          onFirstInteractive: function () {
            activesheet = viz.getWorkbook().getActiveSheet();
          }
        };

        viz = new tableau.Viz(containerDiv, `${location.origin}${result.url}`, options);
      } else {
        let error = result.errorCode;
        document.getElementById("errMessage").innerHTML = `<p>You do not have access to reporting. Please contact <a href="javascript:void(0)" onclick="contactSupport('${error}')">support@atollogy.com.</a>`;
      }

    } catch(error) {
      console.log(error);
      $('.loading').remove();
      let errorCode = 'PEC.0003';
      document.getElementById("errMessage").innerHTML = `<p>You do not have access to reporting. Please contact <a href="javascript:void(0)" onclick="contactSupport('${errorCode}')">support@atollogy.com.</a>`;
    }

    $('.loading').remove();
  }

  async function constructDashboardPicker() {
    try {
      let resp = await d3.json('/portal/analytics/getAllDashboards?customer='+parameters.customer);
      if(resp.errorCode=== -1)
        return resp;
      else
        document.getElementById("errMessage").innerHTML = `<p>You do not have access to reporting. Please contact <a href="javascript:void(0)" onclick="contactSupport('${resp.errorCode}')">support@atollogy.com.</a>`;
    } catch (e) {
      console.log(e);
      document.getElementById("errMessage").innerHTML = `<p>You do not have access to reporting. Please contact <a href="javascript:void(0)" onclick="contactSupport('PEC.0003')">support@atollogy.com.</a>`;
    }
  }

  function renderDropDown (dashboards) {
    let dashboardPicker = $('#dashboardPicker');
    dashboardPicker.empty();
    let options = `<option selected value="${dashboards[0]}">${dashboards[0]}</option>`;
    dashboards = dashboards.slice(1);
    for (let i in dashboards) {
      options = options + `<option value="${dashboards[i]}">${dashboards[i]}</option>`;
    }
    dashboardPicker.append(options);
    $('#dashboardPicker').length ? $('#dashboardPicker').selectpicker('refresh') : null;
  }

  main();

  function contactSupport(errorCode) {
    let subject = errorCode+' - No access to Atollogy Reporting';
    let username = `<%= user.username%>`;
    let body = `Hi, %0D%0A %0D%0A My account ${username} does not have access to reporting.`;
    window.open(`mailto:support@atollogy.com?subject=${subject}&body=${body}`);
  }

  function changeDashboard (navObj) {
    let navLinks = $('.dashboard-link');
    for(let link of navLinks) {
      if($(link).hasClass('active')) {
        $(link).removeClass('active');
        $(link).removeClass('custom-active');
        break;
      }
    }
    $(navObj).addClass('active').addClass('custom-active');
    viz.dispose();
    $('#errMessage').html('');
    initViz($(navObj).text());
  }

  const onWindowResize = () => {
    viz.setFrameSize($('#vizContainer').width(), $('#vizContainer').height());
  }
  $(window).resize(onWindowResize);
</script>
</html>
