<!DOCTYPE html>
<html>
<head>
  <title>Tampa Airport</title>
  <%- include('../partials/headerLinks'); %>
  <link rel="stylesheet" href="https://code.getmdl.io/1.3.0/material.indigo-pink.min.css">
  <link rel="stylesheet" href="/portal/css/s/tia-gates.ejs.css"/>
  <script type="text/javascript" src="/portal/js/terminal-map.js"></script>
  <script type="text/javascript" src="/portal/js/subjects-report-helper.js"></script>
</head>
<body>
<%- include('../partials/header'); %>

<div class="container-fluid" id="container">
  <div class="row">
    <div class="col-1"></div>
    <div class="col-11 breadcrumb-row">
      <nav class="nav custom-nav">
      </nav>
    </div>
  </div>

  <div class="mdl-grid">
    <div class="mdl-cell mdl-cell--1-col"></div>
    <div class="mdl-cell mdl-cell--2-col">
      <span class="subjectCount">Gate Count: </span><span id="subjectCount"></span>
    </div>
    <div class="mdl-cell mdl-cell--5-col"></div>
    <div class="mdl-cell mdl-cell--4-col">
      <div id="reportDateTitle">
        <div class="date"></div>
        <div class="tz"></div>
        <div class="liveModeIndicator"></div>
      </div>
    </div>
  </div>

  <%- include('../partials/airplane-loader'); %>

  <div class="mdl-grid">
    <div class="mdl-cell mdl-cell--12-col" id="currentStats">
      <div class="map">

      </div>
    </div>
  </div>
</div>


<%- include('../partials/footer'); %>
</body>
<script language="javascript">

  let parameters = {customer: 'tia'};
  let latestConfig;
  var dataRefreshInterval;
  definitions = {
    graphMeasure: 'composite',
    aggregationStates: ['running']
  };
  loadTerminalReport(parameters);

  function renderMap() {
    let mapDiv = d3.select('div.map');
    mapDiv.append('img').classed('map-img',true).attr('src','/portal/images/tia_update.svg');
  }

  async function loadTerminalReport(viewStateParameters, isReload) {
    console.log(screen.width);
    const parameters = await getQueryParams(viewStateParameters);
    await constructFacilityPicker(parameters);
    if (!isReload) {
      renderBreadCrumb(parameters, 'tia-gates');
    }
    await checkLiveModeOn(parameters);
    d3.select('#reportDate').attr('value', parameters.date);
    d3.select('#reportDateTitle div.date').text(`${upperFirst(parameters.shift)} Shift for ${moment(parameters.date).format('MMMM Do, YYYY')}`);
    d3.select('#reportDateTitle div.tz').text(` ${timezone}`);

    setTimeout(()=>{
      loadTerminalReport(viewStateParameters ,true)
    }, 60 * 1000);
    
    let statArr=[];
    let data = await reload(parameters);
    $('.loading').hide();
    renderMap();
    if(!Object.keys(data).length){
      renderNoDataAvailable(parameters);
    }else{
      statArr = await createDataToRender(data);
      if(statArr.length){
        renderStats(statArr);
      }
    }
  }

  async function reload(parameters) {
    const paramsString = Object.keys(urlParams).map(function (key) {
      return encodeURIComponent(key) + '=' + encodeURIComponent(urlParams[key]);
    }).join('&');
    const dataRoute = '/portal/data/subjects/' + parameters.customer + '?' + paramsString;
    let data = await d3.json(dataRoute, {credentials: 'include'});
    if (!Object.keys(data).length) {
      showNoDataIndicator();
      return data;
    }

    lastResult = data;

    data.subjects.sort(function (a, b) {
      return naturalCompare(a.name, b.name);
    });

    if (!data) {
      showNoDataIndicator();
      return data;
    }
    return data;
  }

  function createDataToRender(data){
    let statArr = [], timeslotSizeMillis = data.timeslotSizeMillis, highWaterMarkTime = data.highWaterMarkTime;
    let subjects = data.subjects;
    subjects.forEach(d=>{
      let gateStat = {}, lastState={};
      gateStat[d.name] = {};
      let aircraft = d.measures.aircraft;
      var lastCompositeState = lastAvailableState(aircraft);

      gateStat[d.name].state = lastCompositeState ? upperFirst(lastCompositeState.state) : 'No Data Available';
      gateStat[d.name].duration = lastCompositeState ? durationStat(lastCompositeState) : '';
      gateStat[d.name].color = lastCompositeState ? lastCompositeState.state === 'absent' ? '#a6a6a6' : '#2578b6' : '#eee';
      gateStat[d.name].label = lastCompositeState ? lastCompositeState.state ? upperFirst(lastCompositeState.state) : 'No Data' : '';
      statArr.push(gateStat);
    });
    return statArr;
  }

  function renderStats(stats) {
    let title = d3.select('#subjectCount').text();
    d3.select('#subjectCount').text(`${stats.length}`);
    let currentStatus = d3.select('#currentStats').selectAll('div.statusBadge').data(stats);
    let newCurrentStat = currentStatus.enter().append('div').classed('statusBadge',true);
    let statusBadge = newCurrentStat.append('div').classed('stats',true);
    // statusBadge.append('div').classed('gateName',true);
    statusBadge.append('div').classed('duration',true);
    statusBadge.append('div').classed('updateTime',true);
    let mergedCurrentStat = newCurrentStat.merge(currentStatus);
    mergedCurrentStat.select('div.stats').attr('class',d=>{
      let gateName = Object.keys(d)[0].toLowerCase().split(' ').join('-');
      return gateName;
    }).classed('stats',true);
    mergedCurrentStat.select('div.stats').classed('clickable',true).on('click',d=>{
      let gateName = Object.keys(d)[0];
      window.location.href = `/portal/reports/subjectDetail?customer=${parameters.customer}&subject=${gateName}`;
    }).style('background-color',d=>{
      let stats = Object.values(d)[0];
      return stats.color;
    }).style('color',d=>{
      let stats = Object.values(d)[0];
      return parameters.customer==='tia' && stats.color==='#a6a6a6' || stats.color=='#eee'? 'black' : 'white';
    });
    // mergedCurrentStat.select('div.gateName').text(d=>{
    //   let gate = Object.keys(d)[0];
    //   return !gate.includes('Press Brake') ? `${gate}` : '';
    // });
    mergedCurrentStat.select('div.duration').text(d=>{
      let stats = Object.values(d)[0];
      return stats.state;
    });
    mergedCurrentStat.select('div.updateTime').text(d=>{
      let stats = Object.values(d)[0];
      return stats.duration;
    });
    currentStatus.exit().remove();
  }


</script>
</html>
