<!DOCTYPE html>
<html>
<head>
    <title>Vander Bend</title>
    <%- include('../partials/headerLinks'); %>
    <link rel="stylesheet" href="https://code.getmdl.io/1.3.0/material.indigo-pink.min.css">
    <link rel="stylesheet" href="/portal/css/s/vdb-map.ejs.css"/>
    <script type="text/javascript" src="/portal/js/terminal-map.js"></script>
    <script type="text/javascript" src="/portal/js/subjects-report-helper.js"></script>
</head>
<body>
<%- include('../partials/header'); %>
<div class="container-fluid map-container" id="container">
    <div class="row">
        <div class="col-1"></div>
        <div class="col-11 breadcrumb-row">
            <nav class="nav custom-nav"/>
        </div>
    </div>
    <%- include('../partials/loading'); %>
    <div class="mdl-grid">
        <div class="mdl-cell mdl-cell--1-col"></div>
        <div class="mdl-cell mdl-cell--2-col">
        <span class="subjectCount">Station Count: </span><span id="subjectCount"></span>
        </div>
        <div class="mdl-cell mdl-cell--5-col"></div>
        <div class="mdl-cell mdl-cell--4-col">
            <div id="reportDateTitle">
                <div class="date"></div>
                <div class="tz"></div>
                <div class="liveModeIndicator"></div>
            </div>
        </div>
    </div>
    <div class="mdl-grid">
        <div class="mdl-layout-spacer"></div>
        <div class="mdl-cell mdl-cell--11-col" id="currentStats">
            <div class="map"/>
        </div>
        <div class="mdl-layout-spacer"></div>
    </div>
</div>
<%- include('../partials/footer'); %>
</body>
<script language="javascript">
  let parameters = {customer: 'vdb'};
  let latestConfig;
  definitions = {
    graphMeasure: 'composite',
    aggregationStates: ['running']
  };
  // if a new gate is added, add the css of the badge with the name of the css as the gate name
  loadTerminalStats(parameters);

  function renderMap(){
    let mapDiv = d3.select('div.map');
    mapDiv.append('img').classed('map-img',true).attr('src','/portal/images/vdb-map.png');
  }
</script>
</html>
