<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Collection Metrics</title>

  <link rel="stylesheet" href="/portal/scripts/vendor/bootstrap.4.3.1.min.css">

  <link href="//fonts.googleapis.com/css?family=Roboto:300,300i,400,400i,700,700i" rel="stylesheet">
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.2/css/all.css">

  <!-- D3 -->
  <script src="https://d3js.org/d3.v5.min.js"></script>
  <script src="/portal/js/d3-symbol-extra.min.js"></script>

  <!-- Tag Input -->
  <script src="/portal/js/tagsinput.js"></script>
  <link rel="stylesheet" href="/portal/css/tagsinput.css"/>

  <!--Moment library-->
  <script src="/portal/js/moment.min.js"></script>
  <script src="/portal/js/moment-timezone-with-data.min.js"></script>

  <script src="/portal/scripts/vendor/jquery-3.3.1.min.js"></script>
  <script src="/portal/scripts/vendor/popper.1.14.7.min.js"></script>
  <script src="/portal/scripts/vendor/bootstrap.4.3.1.min.js"></script>

  <script crossorigin src="/portal/scripts/vendor/react.production.min.js"></script>
  <script crossorigin src="/portal/scripts/vendor/react-dom.production.min.js"></script>
  
  <script type="text/javascript" src="/portal/scripts/vendor/axios.min.js"></script>
  <script type="text/javascript" src="/portal/scripts/vendor/chart.min.js"></script>
  <script type="text/javascript" src="/portal/scripts/vendor/chartjs-plugin-datalabels.min.js"></script>
  <script type="text/javascript" src="/portal/scripts/vendor/chartjs-plugin-annotation.min.js"></script>

  <script type="text/javascript" src="/portal/scripts/metrics/metrics.js"></script>

  <style>
    canvas { -ms-user-select: none; -moz-user-select: none; -webkit-user-select: none; }
  </style>
</head>

<body>

  <!--[if lt IE 7]><p class=chromeframe>Your browser is <em>ancient!</em> <a href="http://browsehappy.com/">Upgrade to a different browser</a> or <a href="http://www.google.com/chromeframe/?redirect=true">install Google Chrome Frame</a> to experience this site.</p><![endif]-->
  <div class="filters">
    <div class="filter-header">
    </div>
    <div class="filter-content">
      <form class="form-inline">
        <label for="customer">Customer</label>
        <select name="customer" id="customer">
          <option selected>Select customer</option>
          <option value="cemex">Cemex</option>
        </select>

        <div class="camera-list hidden">
          <label for="camera">Camera</label>
          <select name="camera" id="camera">
            <option selected>Select camera</option>
          </select>
        </div>

        <div class="step-list hidden">
          <label for="step">Step:</label>
          <select name="step" id="step">
            <option selected>Select step</option>
            <option value="default">Heartbeat</option>
          </select>
        </div>

        <div class="interval-container hidden">
          <label for="interval">Time interval</label>
          <select name="interval" id="time-interval">
            <option selected data-offset="0" data-duration="0">Select interval</option>
          </select>
        </div>

        <script type="text/javascript">
          const IntervalSelector = Object.freeze({
            render: (model) => {
              const { elements } = Object.assign({ elements: [] }, model)
              const choices = Array.isArray(elements) ? [].concat(elements) : [elements];
              const options = choices.map(
                ({ label, offset, duration }) => `<option selected data-offset="${offset}" data-duration="${duration}">${label}</option>`
              )
              return `<select name="interval" id="time-interval">${options.join('')}</select>`
            }
          })
        </script>

        <script type="text/javascript">
        ;(function (global) {
          const SECOND_IN_MILLIS = 1000
          const MINUTE_IN_MILLIS = 60 * SECOND_IN_MILLIS
          const HOUR_IN_MILLIS = 60 * MINUTE_IN_MILLIS
          const DAY_IN_MILLIS = 24 * HOUR_IN_MILLIS
          const WEEK_IN_MILLIS = 7 * DAY_IN_MILLIS

          const roundTimestampTo = (timestamp, unit) => {
            switch(unit) {
              case 'seconds':
                return SECOND_IN_MILLIS * Math.floor(timestamp / SECOND_IN_MILLIS)
              case 'minutes':
                return MINUTE_IN_MILLIS * Math.floor(timestamp / MINUTE_IN_MILLIS)
              case 'hours':
                return HOUR_IN_MILLIS * Math.floor(timestamp / HOUR_IN_MILLIS)
              case 'days':
                return DAY_IN_MILLIS * Math.floor(timestamp / DAY_IN_MILLIS)
              case 'weeks':
                return WEEK_IN_MILLIS * Math.floor(timestamp / WEEK_IN_MILLIS)
              default:
                return timestamp;
            }
          };

          const TimeSelector = {
            values: () => {
              const current = Date.now()

              const choices = [{
                label: 'Select interval',
                start: 0x7FFFFFFFFFFFFFFF,
                duration: 0
              }, {
                label: 'Today',
                start: roundTimestampTo(current, 'days'),
                duration: DAY_IN_MILLIS
              }, {
                label: 'Yesterday',
                start: roundTimestampTo(current, 'days') - DAY_IN_MILLIS,
                duration: DAY_IN_MILLIS
              }, {
                label: 'Last Hour',
                start: roundTimestampTo(current, 'hours'),
                duration: HOUR_IN_MILLIS
              }, {
                label: 'Last 4 Hours',
                start: roundTimestampTo(current, 'hours'),
                duration: 4 * HOUR_IN_MILLIS
              }, {
                label: 'Last 12 Hours',
                start: roundTimestampTo(current, 'hours'),
                duration: 12 * HOUR_IN_MILLIS
              }, {
                label: 'Last 24 Hours',
                start: roundTimestampTo(current, 'hours'),
                duration: 24 * HOUR_IN_MILLIS
              }, {
                label: 'Current Week',
                start: roundTimestampTo(current, 'weeks'),
                duration: WEEK_IN_MILLIS
              }, {
                label: 'Last 7 Days',
                start: roundTimestampTo(current, 'weeks') - WEEK_IN_MILLIS,
                duration: WEEK_IN_MILLIS
              }, {
                label: 'Last 30 Days',
                start: roundTimestampTo(current, 'days'),
                duration: 30 * DAY_IN_MILLIS
              }];

              return choices.map(({label, start: offset, duration}) => {
                offset = Math.floor(offset / 1000);
                return (`${ (offset).toString(25) }:${ (duration).toString(25) }`).toLocaleUpperCase();
              });
            }
          };
          
          global.TimeSelector = Object.freeze(TimeSelector);
        }(this));
        </script>

        <button type="button" class="btn btn-primary render">Display</button>
      </form>
      <ul class="custmers-listt">
        <li class="customer-item" data-customer="">Atollogy</li>
      </ul>
    </div>
    <div class="filter-footer"></div>
  </div>

  <div class="metrics">
    <div class="metrics-header"></div>
    <div class="metric-content">
      <div class="title">License Plate Readings (per minute)</div>
      <div class="viewport">
        <canvas id="metrics-canvas" width="1280" height="720"></canvas>
      </div>
      <div class="actions"></div>
    </div>
    <div class="metric-footer">
      <p class="text small">Last Updated:&nbsp;<a href="#" alt="Help">2019-12-04T17:00:00</a></p>
    </div>
  </div>

  <script>
    window.onload = function() {
      async function main() {
        let { data: metrics } = await axios.get('/portal/metrics/customer/cxlfw');
        (new MetricsView()).render(metrics);
      };
      main();
    }
  </script>
</body>
</html>