<style>
  footer {
    background: white;
    padding: 20px;
  }

  #portal-terms {
    font-family: 'Montserrat', sans-serif;
    color: #121212;
  }

  #portal_version {
    font-family: 'Montserrat', sans-serif;
    color: #888888;
  }
  h6 {
    font-size: 10px;
    margin: 0px;
  }
</style>
<footer class="container-fluid fixed-bottom">
    <div class="row align-items-center">
        <div class="col-md-2 col-sm-2">
            <a href="<%= user.homePage %>">
                <img class="img-fluid" src="/portal/images/logos/atl.png" width="100">
            </a>
            <h6>&copy; <%= year %> Atollogy, Inc. </h6>
        </div>
        <div class="col-md-2 col-sm-4 text-center">
            <span id="portal_version">v<%= version %></span>
        </div>
        <div class="col-md-6 col-sm-4 text-center">
            <a id='portal-terms' href="https://atollogy.com/terms-and-conditions">
                <span class=".terms-link">Terms & Conditions</span>
            </a>
        </div>
    </div>
</footer>
<script async src="//code.tidio.co/hmudei8hrw7mdm4z12rgxsinhez060hs.js"></script>
