<div class="header">
    <div class="wrap">
        <div class="logo">
            <a id= "landing_link" href="<%= user.homePage %>">
                <img class="logo-image" src="/portal/image/logo/<%= user.employeeType %>">
            </a>
        </div>
        <div class="logout menuItem">
            <div class="inside">
                <div class="table">
                    <div class="tableCell">
                        <h2><%= user.displayName %></h2>
                    </div>
                    <div class="tableCell lastDown"><span class="fa-stack fa-1x">
                        <i class="openLogout fa fa-angle-down"></i>
                    </span></div>
                </div>
            </div>
            <div class="submenu">
                <% if(user.cgrs[0] === 'atl'){ %>
                <div class="setting-div"><a class="setting" style="float: right; color: #142c54;" href="/portal/users">
                        <button><i class="fas fa-cog"></i></button>
                    </a></div>
                <% } %>
                <h2><%= user.displayName %></h2>
                <h3><%= user.title %> at <%= user.ou %></h3>
                <table>
                    <tr>
                        <td class="first gray">EMAIL</td>
                        <td class="first aRight">
                            <a href="mailto:<%= user.mail %>" id="info-email"><%= user.mail %></a>
                        </td>
                    </tr>
                    <tr>
                        <td class="gray">PHONE</td>
                        <td class="aRight"><%= user.telephoneNumber %></td>
                    </tr>
                    <tr>
                        <td class="gray">ADDRESS</td>
                        <td class="aRight"><p><%= user.street %></p>
                            <p><%= user.l %></p>
                            <p><%= user.st %></p>
                            <p><%= user.postalCode %></p>
                        </td>
                    </tr>
                </table>
                <a href="/portal/logout">
                    <button class="logout-btn">Log out</button>
                </a>
            </div>
        </div>
        <div class="alerts menuItem">
            <div class="inside"><span class="fa-stack fa-1x"><i aria-hidden="true" class="fa fa-envelope-o"></i></span>
                <div class="notification">&nbsp;</div>
            </div>
        </div>
        <div class="info menuItem">
            <div class="inside"><i aria-hidden="true" class="fa fa-info-circle"></i></div>
        </div>
        <div class="clear"></div>
    </div>
</div>
<script language="javascript">
  const username=$('#info-email').text();
  const cgr='<%= user.employeeType %>';


$(document).click(function (event) {
    if (!$(event.target).closest('.logout').length) {
      if ($('.logout .submenu').is(':visible')) {
        $('.openLogout').removeClass('open');
        $('.logout .submenu').fadeOut();
        $('.logout .inside').removeClass('open');
        $('.openLogout').removeClass('fa-angle-up');
        $('.openLogout').addClass('fa-angle-down');
      }
    }
  });

  $('.logout .inside').click(function () {
    if ($('.openLogout').hasClass('open')) {
      $('.openLogout').removeClass('open');
      $('.logout .submenu').fadeOut(200);
      $('.logout .inside').removeClass('open');
      $('.openLogout').removeClass('fa-angle-up');
      $('.openLogout').addClass('fa-angle-down');
    } else {
      $('.openLogout').addClass('open');
      $('.logout .inside').addClass('open');
      $('.openLogout').addClass('fa-angle-up');
      $('.openLogout').removeClass('fa-angle-down');
      $('.logout .submenu').fadeIn(200);
    }
  });

  /*  $("#cgrPicker").change(async function () {
      const cgr = this.value;
      console.log('new cgr picked', cgr);
      const route = '/portal/users/changeCgr/' + cgr;
      const landingPage = (await d3.json(route, {credentials: 'include'})).landingPage;
      console.log(landingPage);
      window.location = landingPage;
    });*/
</script>
