
<link rel="icon" href="/favicon.ico?v=4">
<link rel="shortcut icon" href="/favicon.ico?v=4">
<!--<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">-->

<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.13/css/all.css" integrity="sha384-DNOHZ68U8hZfKXOrtjWvjxusGo9WQnrNx2sqG0tfsghAvtVlRW3tvkXWZh58N9jp" crossorigin="anonymous">

<link rel="stylesheet"
      href="//fonts.googleapis.com/css?family=Montserrat:100,100i,200,200i,300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i&amp;subset=latin-ext">

<link rel="stylesheet" href="/portal/stylesheets/style_ejs.css" type="text/css">
<script src="/portal/vendor/natural-compare.js"></script>

<script src="/portal/vendor/jquery-3.3.1.min.js"></script>
<script src="https://code.jquery.com/ui/1.10.3/jquery-ui.js"></script>
<!-- D3 -->
<script src="https://d3js.org/d3.v5.min.js"></script>
<script src="/portal/js/d3-symbol-extra.min.js"></script>

<script>let cgrs = '<%= user.cgrs %>'.split(',');</script>

<!-- Tag Input -->
<script src="/portal/js/tagsinput.js"></script>
<link rel="stylesheet" href="/portal/css/tagsinput.css"/>
<link rel="stylesheet" href="/portal/css/typeahead.css"/>


<!--Moment library-->
<script src="/portal/js/moment.min.js"></script>
<script src="/portal/js/moment-timezone-with-data.min.js"></script>

<!--Require all the bootstrap components beforehand-->
<link rel="stylesheet" href="/portal/vendor/bootstrap-4.1.min.css">
<script src="/portal/vendor/bootstrap.bundle.min.js"></script>
<script src="/portal/js/bootstrap-select.min.js"></script>
<link rel="stylesheet" href="/portal/css/bootstrap-select.min.css" />
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/tempusdominus-bootstrap-4/5.0.1/js/tempusdominus-bootstrap-4.min.js"></script>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/tempusdominus-bootstrap-4/5.0.1/css/tempusdominus-bootstrap-4.min.css" />
<script type="text/javascript" src="/portal/vendor/bootstrap-datepicker.min.js"></script>
<link rel="stylesheet" href="/portal/vendor/bootstrap-datepicker3.css"/>
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/qs/6.9.0/qs.min.js"></script>

<script src="/portal/js/lazy-loading.js"></script>

<script type="text/javascript" src="/portal/js/report-helper.js"></script>
<script type="text/javascript" src="/portal/discovery/index.js"></script>
<script type="text/javascript" src="/portal/js/request.js"></script>
<script type="text/javascript" src="/portal/js/Messages.js"></script>
<script type="text/javascript" src="/portal/js/Events.js"></script>
<script type="text/javascript" src="/portal/js/typeahead.js"></script>
<script type="text/javascript" src="/portal/js/AtollogyImage.js"></script>
<script type="text/javascript" src="/portal/js/ModalHeader.js"></script>
<script type="text/javascript" src="/portal/js/DeliveryModalHeader.js"></script>
<script type="text/javascript" src="/portal/js/CarouselComponent.js"></script>
<script type="text/javascript" src="/portal/js/MeasureComponent.js"></script>
<script type="text/javascript" src="/portal/js/TimelineComponent.js"></script>
<script type="text/javascript" src="/portal/js/ObservationModal.js"></script>

<script type="text/javascript" src="/portal/js/atollogy-context.js"></script>
<script type="text/javascript" src="/portal/js/color-provider.js"></script>
<script type="text/javascript" src="/portal/js/label-provider.js"></script>
<script type="text/javascript" src="/portal/js/width-provider.js"></script>
<script type="text/javascript" src="/portal/js/states-stats.js"></script>
<script type="text/javascript" src="/portal/js/legends.js"></script>

<link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
<script defer src="https://code.getmdl.io/1.3.0/material.min.js"></script>
<link rel="stylesheet" href="/portal/css/imgModal.css">

<script>
  !(function (global) {
    global.getCustomerFilterForSite = (record) => record;
  }(this));
</script>

<!-- START Extensions -->
<% extensions.forEach(function ({ source }) { %><script type="text/javascript" src="/portal/extensions/<%= source %>"></script><% }); %>
<!-- END Extensions -->

<!-- Aptrinsic Tag-->
<script type="text/javascript">
  (function(n,t,a,e){var i="aptrinsic";n[i]=n[i]||function(){
    (n[i].q=n[i].q||[]).push(arguments)},n[i].p=e;
    var r=t.createElement("script");r.async=!0,r.src=a+"?a="+e;
    var c=t.getElementsByTagName("script")[0];c.parentNode.insertBefore(r,c)
  })(window,document,"https://web-sdk.aptrinsic.com/api/aptrinsic.js","AP-AX1E8Y5CJCVO-2");
  <% if(user) { %>
    (function() {
      const userDataString = '<%- JSON.stringify(user)%>';
      const userData = JSON.parse(userDataString);
      
      const {
        pathname,
        host,
        search
      } = window.location

      const query = Qs.parse(search, { ignoreQueryPrefix: true });

      const logData = {
        id: userData.username,
        email: userData.mail,
        accountId: query.customer,
        facility: query.facility,
        fullName: userData.displayName, 
        host,
        uri: `${pathname}${search}`,
      }
      if (logData.accountId && logData.facility) {
        aptrinsic('identify', logData);
      }
    })()
  <% } %>
</script>
<!-- End Aptrinsic Tag-->
