<!-- Modal to show images -->
<div class="modal fade bd-example-modal-lg" id="imgModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
    <div class="modal-dialog-centered modal-dialog modal-lg" role="document">
        <div class="modal-content container">
            <div class="modal-header">
                <button class="close" type="button" data-dismiss="modal">
                    <span aria-hidden="true">&times;</span>
                </button>
                <div id="attributes" class="col-md-11 col-xl-11 col-sm-11"></div>
            </div>
            <div class="modal-body">
                <div id="measure-container" class="row justify-content-center"></div>
                <div id="imgLinks" class="row justify-content-center">
                </div>
                <div class="row">
                    <div class="col-12 modal-image-display">
                        <div id="carousel-container">&nbsp;</div>
                    </div>
                        <div class="zoomInOut" id="zoomIn"></div>
                </div>
            </div>

            <div class="modal-footer">
                <%if(user.cgrs[0]==='atl'){%>
                    <div class="row row-padding-bottom justify-content-md-center">
                        <div class="col-md-auto">
                            <input id="ms1" class="form-control" style="width:600px; height: auto;" type="text" name="ms1"/>
                        </div>
                    </div>
                <%}%>
                <div id="lp-asset-block" style="margin-top: 30px;">
                    <div class="row row-padding-bottom" id="carrier-row">
                        <div class="col-md-0" align="center">Carrier Name: </div>
                        <div class="col-md-9">
                            <input class="typeahead form-control text-box" id="carrierName" type="text" placeholder="Enter Carrier Name" onfocusout="upateTrailerSuggestions()">
                        </div>
                    </div>
                    <div class="row row-padding-bottom" id="trailer-row">
                        <div class="col-md-0" align="center">Trailer ID: </div>
                        <div class="col-md-9">
                            <input class="typeahead form-control text-box" id="trailerId" type="text" placeholder="Enter Trailer ID">
                        </div>
                    </div>
                    <div class="row row-padding-bottom">
                        <div id="licenseplate-entry" class="col-sl-7 no-padding" align="left">
                        </div>
                    </div>
                    <div class="row row-padding-bottom">
                        <div id="save-licenseplate" class="col-md-12 no-padding" align="left">
                            <button class="btn btn-success btn-block" id="save-licenseplate">Save record</button>
                        </div>
                    </div>
                    <div class="row row-padding-bottom">
                        <div id="ignore-record" class="col-md-12 no-padding" align="left">
                            <button class="btn btn-warning btn-block" id="ignore-record">Ignore record</button>
                        </div>
                    </div>
                </div>
                <div class="row row-padding-bottom" id="buttons-row">
                    <div class="col-xs-2 px-2">
                        <button class="btn btn-success" id="qc-accurate">Accurate</button>
                    </div>
                    <div class="col-xs-3">
                        <button class="btn btn-danger" id="qc-inaccurate">Inaccurate</button>
                    </div>
                    <div class="col-md-6" align="left">
                        <input id="commentTxt" type="text" class="form-control text-box" placeholder="Comment">
                    </div>
                </div>
                <div class="row row-padding-bottom correction-row" id="correction-row">
                    <div class="col-md-2 text-left">
                        <button class="btn btn-danger">Inaccurate</button>
                    </div>
                    <div class="col-md-7 no-padding" align="left">
                        <input id="correctionTxt" type="text" class="form-control text-box" placeholder="Correction">
                    </div>
                    <div class="col-md-2 no-padding" align="left">
                        <button class="btn btn-secondary">Apply Correction</button>
                    </div>
                <div class="row">
                        <div class="col-md-12 text-left">
                            <div id="modal-message"></div>
                        </div>
                    </div>
                </div>
                <div class="row row-padding-bottom" id="lpn-entry-row" style="display:none">
                    <div class="col-md-0" align="center">Enter Correct LP: </div>
                    <div class="col-md-9">
                        <input class="text-box" id="lpnEntry" type="text" placeholder="Enter License Plate">
                    </div>
                </div>
                <div class="col-md-11 no-padding" align="left">
                        <button class="btn btn-info btn-block" id="qc-save">Save Record</button>
                </div>
                <div class="row row-padding-bottom">
                    <div id="annotation-confirmation" class="col-md-7 no-padding" align="left">
                    </div>
                </div>
                <div class="row row-padding-bottom" id="comment-list-row">
                    <div class="col-md-12 no-padding" id="commentList"></div>
                </div>
            </div>

        </div>
    </div>
</div>
