<div class="form-group">
    <div class="inner-addon">
        <i class="fa fa-calendar" style="color:#495057;"></i>
        <i class="fa fa-angle-left " style="color:#495057" onclick="goToPreviousDate(parameters)"></i>
        <i class="fa fa-angle-right" style="color:#495057" onclick="goToNextDate(parameters)"></i>
        <input class="form-control" id="reportDate" name="date" type="text" onchange="updateUrl({date:this.value},parameters)"/>
    </div>
</div>
