<!DOCTYPE html>
<html>
<head>
  <title>Camera Status</title>
  <%- include('../partials/headerLinks'); %>
  <link rel="stylesheet" href="https://code.getmdl.io/1.3.0/material.indigo-pink.min.css">
  <script type="text/javascript" src="/portal/js/dashboard.js"></script>

  <script src="/portal/js/bootstrap-select.min.js"></script>
  <link rel="stylesheet" href="/portal/css/bootstrap-select.min.css" />
  <style>
    * {
      font-family: Arial,Helvetica,sans-serif;
    }

    .gwStats{
      margin:0;
      padding-left: 2em;
      padding-right: 2em;
      padding-bottom:10em;
    }

    h1{
      color: gray;
      font-size: 1.5em;
    }

    div{
      margin:0;
      padding:0;
    }

    #noDataIndicator {
      display: none;
      padding-left: 20px;
    }
    @media (min-width: 840px){
      :root{
        --percent-width:100%;
      }
      .card-col {
        width: calc(var(--percent-width) - 16px);
      }
    }
    img.show-img-div{
      padding: 10px;
      width:200px;
      height:130px;
    }
    video.show-img-div{
      height:0px;
    }
    .demo-card-square{
      box-shadow: 0 2px 2px 0 #102b4d, 0 3px 1px -2px #102b4d, 0 1px 5px 0 #102b4d;
    }
    .home-btn{
      margin-top: 20px;
      color: grey;
      float: right;
    }
    .custom-margin{
      margin-top: 5px;
      color: grey;
    }
    div.no-img-div{
      background-color: #eee;
      width: 200px;
      height: 125px;
    }
    .display-img{
      padding-bottom: 5px;
    }
    .message{
      font-size: 0.8em;
      text-align: center;
    }
    .gwCount{
      font-size: 0.8em;
      color: blue;
      padding-left: 80px;
      text-align: right;
    }
    div.longDuration{
      box-shadow: 0 2px 2px 0 #e60000, 0 3px 1px -2px #e60000, 0 1px 5px 0 #e60000;
    }
    a {
      color: #007bff;
    }
    .row-padding-top{
      padding-top: 20px;
    }
    .stale-message{
      color: #e60000;
    }
  </style>
</head>
<body>
<%- include('../partials/header'); %>
<div class="gwStats">
  <div class="mdl-grid" style="height: 60px">
    <div class="mdl-cell mdl-cell--8-col">
      <h1 class="title"></h1>

    </div>
    <div class="mdl-cell mdl-cell--1-col">
      <a class="home-btn mdl-button mdl-js-button mdl-button--icon" href="/portal/camera-status"><i class="material-icons">home</i>
      </a>
    </div>
    <div class="mdl-cell mdl-cell--3-col">
      <div class="mdl-textfield mdl-js-textfield mdl-textfield--expandable custom-margin">
        <label class="mdl-button mdl-js-button mdl-button--icon" for="sample6">
          <i class="material-icons">search</i>
        </label>
        <div class="mdl-textfield__expandable-holder">
          <input class="mdl-textfield__input" type="text" id="sample6" onkeyup="search(this.value)">
          <label class="mdl-textfield__label" for="sample-expandable">Search</label>
        </div>
      </div>
    </div>
  </div>

  <div class="mdl-grid">
    <div class="mdl-cell mdl-cell--7-col"></div>
    <div class="mdl-cell mdl-cell--4-col">
      <span class="gwCount"></span>
    </div>
  </div>


  <div class="container-fluid" id="container">
    <h4 id="noDataIndicator">Not data to view</h4>
  </div>
</div>
<%- include('../partials/footer'); %>
<%- include('../partials/imgModal'); %>
</body>
<script language="javascript">
  async function main(parameters) {
    d3.select('.title').text('Camera Status: '+parameters.customer);
    await checkLiveModeOn(parameters);
    getStatus(parameters);
  }

  main({ customer: '<%=customer%>' });
</script>
</html>
