<!DOCTYPE html>
<html>
<head>
  <title>Camera Status</title>
  <%- include('../partials/headerLinks'); %>
  <style>
    * {
      font-family: Arial, Helvetica, sans-serif;
    }

    .container {
      margin: 0;
      padding-left: 2em;
      padding-right: 2em;
    }

    h1 {
      color: gray;
      font-size: 1.5em;
    }

    div {
      margin: 0;
      padding: 0;
    }

    .cgr {
      margin-bottom: 0.5em;
    }

    .label {
      padding-top: 20px;
    }
  </style>
</head>
<body>
<%- include('../partials/header'); %>
<div class="container">
  <h1 class="label">Camera Status</h1>
  <div id="container"></div>
</div>
<%- include('../partials/footer'); %>
</body>
<script language="javascript">
  var dataUrl = '/portal/data/cgrs';

  d3.json(dataUrl, function(data){
    var cgrDivs = d3.select('#container').selectAll('div.cgr').data(data, function(d){return d;});
    cgrDivs.enter().append('div').classed('cgr', true)
      .append('a')
      .attr('href', d =>`/portal/camera-status/${d}`)
      .text(d => d);
    cgrDivs.exit().remove();
  });
</script>
</html>
