<!DOCTYPE html>
<html>
<head>
    <title>Current View</title>
    <%- include('../../partials/tv/headerLinks'); %>
    <link rel="stylesheet" href="https://code.getmdl.io/1.3.0/material.indigo-pink.min.css">

    <script type="text/javascript" src="/portal/js/work-order.js"></script>
    <link rel="stylesheet" href="/portal/css/s/beaconTracking.ejs.css"/>

    <style>
        body {
            background-color: #f7f6f6;
        }
    </style>
</head>
<body>
<%- include('../../partials/tv/header'); %>

<div class="container-fluid" id="container">
    <div class="mdl-grid mdl-grid-height">
        <div class="mdl-cell mdl-cell--5-col"></div>
        <div class="mdl-cell mdl-cell--3-col"></div>
        <div class="mdl-cell mdl-cell--4-col" style="padding: 35px 0px">
            <div class="title"></div>
        </div>
    </div>

    <div class="mdl-grid" style="height: 50px">
        <div class="mdl-cell mdl-cell--2-col"></div>
        <div class="mdl-cell mdl-cell--2-col right-align">
            <div class="switch">
            </div>
        </div>
    </div>

    <%if (user.cgrs[0] === 'gatwickairport' || user.cgrs[0] === 'tia'){%>
        <%- include('../../partials/airplane-loader'); %>
    <%}else{%>
        <%- include('../../partials/loading'); %>
    <%}%>
    <div class="mdl-grid">
        <div class="mdl-cell mdl-cell--5-col"></div>
        <div class="mdl-cell mdl-cell--5-col" id="message"></div>
    </div>
    <div class="mdl-grid center-items" id="workOrder"></div>
    <style>
        footer {
            background-color: #f7f6f6;
            padding: 20px;
        }

        #t_and_c {
            font-family: 'Montserrat', sans-serif;
            color: #121212;
        }

        #portal_version {
            font-family: 'Montserrat', sans-serif;
            color: #888888;
        }
    </style>

    <footer class="container-fluid fixed-bottom">
        <div class="row align-items-center">
            <div class="col-md-2 col-sm-2">
                <a href="<%= user.homePage %>">
                    <img class="img-fluid" src="/portal/images/logos/atl.png" width="100">
                </a>
            </div>
            <div class="col-md-2 col-sm-4 text-center">
                <span id="portal_version">v<%= version %></span>
            </div>
            <div class="col-md-6 col-sm-4 text-center">
                <a href="https://atollogy.com/terms-and-conditions">
                    <span id="t_and_c">Terms & Conditions</span>
                </a>
            </div>
        </div>
    </footer>
</div>
<%- include('../../partials/loading'); %>
<%- include('../../partials/tv/footer'); %>
</body>
<script language="javascript">
  let parameters = {};
  let dataRefreshInterval;
  let beaconHistory = d3.select('body').append('div').attr('class', 'history-window').style('opacity', 0);
  let loginCgr = '<%= user.cgrs %>';
  let landingPage = '<%= landingPage %>';
  let reportType = 'Outdoor';
  let filterOnTags=[];
  let globalData = [];
  let tooltip;
  let zoneFilter = [];

  async function main(isReload) {
    let latestConfig = await getLatestConfig();
    parameters.facility = latestConfig.config.facility;
    parameters.customer = latestConfig.cgr;
    await checkLiveModeOn(parameters);
    if (!isReload) {
        renderBreadCrumb(parameters, 'beaconTracking');
    }

    if(!parameters.date){
      $('.loading').remove();
      showNoShiftConfiguredMsg();
      return;
    }

    setTimeout(()=>{
      parameters = {}
      main(true)
    }, 60 * 1000);

    await reloadCustomerTags(parameters);
    renderCustomerTagsDropDown();
    renderSwitch(parameters);
    parameters = {...parameters, page: 'kanban'};
    const features = await fetchFeatures(parameters);
    let data = await reload(parameters);
    zoneFilter = data.defaultZones;
    if(data){
      renderZonePicker(data);
      loadHistory();
    }
  }

  main();

</script>
</html>
