<!DOCTYPE html>
<html>
<head>
    <title>Cycle Report</title>
    <%- include('../../partials/tv/headerLinks'); %>
    <script type="text/javascript" src="/portal/js/cycle-report-helper.js"></script>
</head>
<style>
    * {
        font-family: Arial, Helvetica, sans-serif;
    }

    svg {
        display: block;
    }

    svg * {
        font-size: 12px;
    }

    #cycles {
        padding-left: 60px;
    }

    .cycle {
        margin-bottom: 2em;
    }

    .cycleTitle {
        font-size: 1.2em;
        color: gray;
        margin-left: 55px;
    }

    .rowLabel {
        width: 120px;
        display: inline-block;
        vertical-align: middle;
    }

    .chartRow {
        display: inline-block;
        vertical-align: middle;
    }

    .rowNotes {
        display: inline-block;
        vertical-align: middle;
        font-size: 80%;
    }

    .cycleCount {
        margin-left: 1em;
        font-size: 60%;
    }

    div.legend {
        margin-top: 80px;
        position: absolute;
        margin-left: 1150px;
        height: auto;
    }

    div.legendEntry {
        display: -webkit-box;
    }

    svg.legendSwatch {
        height: 10px;
        width: 10px;
        display: inline-block;
    }

    div.legendLabel {
        padding: 4px;

        font-size: 12px;
    }

    .right-inner-addon {
        position: relative;
    }

    .inner-addon input {
        padding-left: 35px;
    }

    .inner-addon i.fa-calendar {
        position: absolute;
        padding: 10px 12px;
        pointer-events: none;
    }

    .inner-addon i.fa-angle-right {
        position: absolute;
        right: 15px;
        padding-top: 10px;
        padding-bottom: 10px;
        padding-left: 5px;
        padding-right: 10px;
        cursor: pointer;
    }

    .inner-addon i.fa-angle-left {
        position: absolute;
        right: 35px;
        padding-top: 10px;
        padding-bottom: 10px;
        padding-left: 5px;
        padding-right: 5px;
        cursor: pointer;
    }

    div#reportDateTitle {
        font-size: 1.2em;
        color: gray;
        margin-bottom: 0.5em;
        text-align: right;
    }

    div.tripLegend {
        float: left;
        width: auto;
        font-size: 80%;

    }

    div.tripNoLegend {
        float: left;
        width: auto;
        margin-left: 1em;
        font-size: 60%;
        color: gray;
        margin-top: 10px;
    }

    div.stats {
        /*width:90%;*/
        margin-bottom: 15px;
        padding-left: 138px;
        color: #2a2a65;
        font-weight: bold;
    }

    div.tooltip {
        position: absolute;
        text-align: center;
        width: auto;
        height: auto;
        padding: 2px;
        font: 12px sans-serif;
        background: lightsteelblue;
        border: 0px;
        border-radius: 2px;
        pointer-events: none;
    }

    .mark:hover {
        opacity: 0.5;
        cursor: pointer;
    }

    img.display-image {
        width: 100%;
        height: 450px;
    }

    div.subjectId {
        font-size: 1.2em;
        color: gray;
    }

    .freeze {
        position: fixed;
        top: 0;
        width: 100%;
    }

    div#noDataIndicator, #message {
        display: none;
    }

    div#screenName {
        font-size: 1.8em;
        color: gray;
        margin-bottom: 0.5em;
        /*text-align:center;*/
        margin-left: 55px;
    }

    .liveModeIndicator {
        font-size: 0.7em;
        color: #aaa;
        visibility: hidden;
    }

    .liveModeIndicator.liveModeOff:hover {
        text-decoration: underline;
        color: black;
        cursor: pointer;
    }
    div.showAvgDuration{
        font-size: 8px;
        visibility: hidden;
        color:#eee
    }
    body {
        background-color: #f7f6f6;
    }
    div.header {
        background-color: #f7f6f6;
    }

</style>
<body>
<%- include('../../partials/tv/header'); %>
<p/>

<div class="row">
    <div class="col-3">
        <div id="screenName"> <%= screenName %></div>
    </div>
    <div class="col-2">
    </div>
    <div class="col-4">
        <div id="reportDateTitle">
            <div class="date"></div>
            <div class="liveModeIndicator"></div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-3">
        <div class="cycleTitle"></div>
    </div>
</div>
<div class="row">
    <div class="col-1"></div>
    <div class="col-11" id="noDataIndicator">
        <center>No data to display</center>
    </div>

</div>
<div class="row">
    <div class="col-12" id="message">
        <center>There is no shift configured for this report</center>
    </div>
</div>

<div id="cycles"></div>
<p/>
<%- include('../../partials/loading'); %>
<%- include('../../partials/tv/footer'); %>
</body>
<script language="javascript">
  let landingPage = '<%= landingPage %>';

  var parameters = {};
  let latestConfig, div;
  let filterOnTags=[];
  let searchText='';
  let globalData = [];
  let sortOrder = true;
  async function main() {
    latestConfig = await getLatestConfig();
    parameters.facility = latestConfig.config.facility;
    parameters.customer = latestConfig.cgr;
    await checkLiveModeOn(parameters);
    if(!parameters.date){
      $('.loading').remove();
      showNoShiftConfiguredMsg();
      return;
    }
    div = d3.select("body").append("div").attr("class", "tooltip").style("opacity", 0);
    cycleReport(parameters);
  }

  main();

</script>
</html>
