<!DOCTYPE html>
<html>
<head>
    <title>Current Visit Log</title>
    <%- include('../../partials/tv/headerLinks'); %>
    <link rel="stylesheet" href="https://code.getmdl.io/1.3.0/material.indigo-pink.min.css">
    <script type="text/javascript" src="/portal/js/cycle-report-helper.js"></script>
</head>
<style>
    * {
        font-family: Arial, Helvetica, sans-serif;
    }

    .no-padding {
        padding: 0 !important;
    }

    .no-margin {
        margin-bottom: 0 !important
    }

    div.cycle {
        margin-bottom: 2em;
    }
    div.title, div.facility{
        font-size: 1.5em;
        color: gray;
    }
    div.facilityLabel{
        font-size: 1.1em;
        color: gray;
        padding-top: 6px;
    }
    #truckCount, #timeTravel{
        margin-top: 2px;
        color: gray;
        font-size: 13px;
    }

    .cycleSection {
        color: gray;
    }

    .cycleContentInProgress, .cycleContentCompleted {
        margin-bottom: 1em;
    }

    div.entry {
        color: gray;
    }

    div.entry.inProgress {
        color: black;
    }

    #noDataIndicator, #message {
        display: none;
        padding-left: 20px;
    }

    .demo-card-square.mdl-card {
        min-width: 60px;
        width: auto;
        height: auto;
        display:flex;
    }
    div.truck, div.duration, div.start-time{
        margin-left: 35px;
    }

    img.display-img{
        padding-top: 10px;
        width:75%;
        height:65%;
        margin-left: 35px;
    }
    div.truck{
        cursor: pointer;
    }
    div.truck:hover{
        text-decoration: underline;
    }

    div.mdl-grid{
        max-height: 350px;
    }
    @media (min-width: 840px) {
        :root {
            --customColor: #19496f
        }

        .custom-color {
            box-shadow: 0 2px 2px 0 var(--customColor), 0 3px 1px -2px var(--customColor), 0 1px 5px var(--customColor);
        }
    }
    div.img-tooltip {
        position: absolute;
        width: 600px;
        pointer-events: none;
        z-index: 1;
        border: 2px solid grey;
        background-color: white;
    }
    div.list-tooltip {
        position: absolute;
        width: auto;
        pointer-events: none;
        z-index: 1;
        border: 2px solid grey;
        background-color: white;
        overflow-y: scroll;
        height:200px;
    }
    img.img-popup{
        width: 100%;
        height: 92%;
        padding: 18px;
    }

    div.breadcrumb-row{
        padding-top: 10px;
        height: 50px;
        padding-left: 0.1em;
        margin-top: 0px;
    }
    .close-img{
        position: absolute;
        right:8px;
        top:3px;
        pointer-events: auto;
        font-size: 13px;
        color: gray;
        cursor: pointer;
    }
    .tag-btn{
        position: absolute;
        right: 20px;
        cursor: pointer;
    }
    .filter-btn{
        position: relative;
    }

    .expand-filter{
        visibility: visible;
        transition-duration: 100s;
    }
    .mdl-badge[data-badge]:after{
        border-radius: 50%;
        width: 15px;
        height: 15px;
        top: -25px;
    }

    .fa-filter {
        font-size: 18px;
        padding-bottom: 25px;
    }

    div.success{
        animation-name: success-anime;
        animation-duration: 4s;
    }
    @keyframes success-anime {
        to {-webkit-box-shadow: 0px 1px 12px 1px rgba(18,161,18,1);
            -moz-box-shadow: 0px 1px 12px 1px rgba(18,161,18,1);
            box-shadow: 0px 1px 12px 1px rgba(18,161,18,1);}
    }

    div.error{
        animation-name: error-anime;
        animation-duration: 4s;
    }
    @keyframes error-anime {
        to {-webkit-box-shadow: 0px 1px 23px 1px rgba(230,18,18,1);
            -moz-box-shadow: 0px 1px 23px 1px rgba(230,18,18,1);
            box-shadow: 0px 1px 23px 1px rgba(230,18,18,1);}

    }

    /*inorder for bootstrap and mdl work together*/
    .mdl-textfield{
        width: 30%;
        padding: 0px;
        padding-bottom: 28px;
    }
    .select-filter{
        padding-left: 10px;
    }
    .custom-badge{
        padding-left: 5px;
    }
    a.nav-link{
        color: #007bff;
        text-decoration: none;
        background-color: transparent;
        font-family: Arial, Helvetica, sans-serif;
        font-size: 1.2rem;
        font-weight: 400;
    }
    a.active{
        color: black;
    }
    a.active:hover{
        cursor: auto;
    }
    .cycleTitle{
        padding-left: 10px;
    }
    .nav{
        padding-left: 20px;
    }
    .mdl-textfield__label{
        top: 5px;
    }
    body {
        background-color: #f7f6f6;
     }
    div.header {
        background-color: #f7f6f6;
    }

</style>
<body>
<%- include('../../partials/tv/header'); %>
<p/>
<div class="container-fluid" id="container">
    <div class="mdl-grid" style="height: 65px;">
        <div class="mdl-cell mdl-cell--7-col">
            <div class="facility"></div>
        </div>
        <div class="mdl-cell mdl-cell--5-col ">
            <div class="title"></div>
            <h6 id="truckCount"></h6>
        </div>
    </div>

    <h4 id="noDataIndicator">No trucks in the yard</h4>
    <h4 id="message">There is no shift configured for this report</h4>
</div>
<script>
  let parameters = {};
  let now = new moment();
  let landingPage = '<%= landingPage %>';
  let div;
  let searchText='';
  let filterOnTags=[];
  async function main() {
    let latestConfig = await getLatestConfig();
    parameters.facility = latestConfig.config.facility;
    parameters.customer = latestConfig.cgr;
    await checkLiveModeOn(parameters);
    if(!parameters.date){
      $('.loading').remove();
      showNoShiftConfiguredMsg();
      return;
    }
    d3.select('div.facility').text(`Facility: ${parameters.facility}`);
    div = d3.select("body").append("div").attr("class", "img-tooltip").style("opacity", 0);
    visitLog(parameters);
  }

  main();

</script>
<p/>
<%- include('../../partials/loading'); %>
<%- include('../../partials/tv/footer'); %>
</body>
</html>
