<!DOCTYPE html>
<html>
<head>
    <title>Subject Summary</title>
    <%- include('../../partials/tv/headerLinks'); %>
    <script type="text/javascript" src="/portal/js/subjects-report-helper.js"></script>
</head>
<style>
    * {
        font-family: Arial, Helvetica, sans-serif;
    }

    svg {
        display: block;
    }

    svg * {
        font-size: 12px;
    }

    .legend {
        font-size: 12px;
    }

    .legendEntry {
        display: inline-block;
        margin-right: 1em;
        min-width: 16vw;
        max-width: 26vw;
    }

    .legendEntry .legendSwatch {
        height: 10px;
        width: 10px;
        display: inline-block;
    }

    .legendEntry div {
        display: inline-block;
    }

    .legendEntry div.legendLabel {
        margin-left: 5px;
    }

    div.interval, div.subject-name, div.measure-state {
        font-size: 1.2em;
        color: gray;
    }

    div#reportDateTitle {
        font-size: 1.2em;
        color: gray;
        margin-bottom: 0.5em;
        text-align: right;
    }

    div#subjects {
        width: 840px;
        margin: auto;
        padding: .5em .5em 20px;
    }

    div#subjects.inProgress {
        width: 940px;
    }

    div#subjects.hasImages {
        width: 1090px;
    }

    div.subject, div.scale {
        position: relative;
        padding-right: 120px;
        width: 820px;
        min-height: 120px;
    }

    div#subjects.inProgress div.subject, div#subjects.inProgress div.scale {
        width: 920px;
    }

    div#subjects.hasImages div.subject, div#subjects.hasImages div.scale {
        padding-right: 220px;
        width: 1070px;
    }

    div.scale {
        min-height: 10px;
    }

    .scale {
        margin-left: 1em;
    }

    div.status-badge {
        position: absolute;
        height: 100px;
        width: 100px;
        border-radius: 50px;
        border: 1px solid gray;
        text-align: center;
        padding-top: 25px;
        color: white;
        right: 0;
        top: 10px;
    }

    div#subjects.hasImages div.currentStatus {
        right: 150px;
    }

    div.currentStatus:hover {
        box-shadow: 0 0 0 2px rgba(51, 51, 255, 0.3), 0 0 0 2px rgba(51, 153, 255, 0.3);
        opacity: 0.9;
        cursor: pointer;
    }

    div.currentStatus div.status {
        font-weight: bold;
    }

    div.currentStatus div.updateTime {
        font-size: 10px;
    }

    div.currentImage {
        position: absolute;
        right: 0;
        top: 10px;
    }

    img.currentImage, video.currentVideo {
        height: 100px;
        max-width: 145px;
        border: 1px solid gray;
    }

    div.currentImage div.noImg {
        height: 100px;
        width: 140px;
        border: 1px solid #ccc;
        background-color: #eee;
        color: #aaa;
        text-align: center;
        padding-top: 25px;
    }

    rect.mark.imageBacked:hover {
        opacity: 0.75;
        stroke: rgba(0, 0, 0, 0.75);
        stroke-width: 1px;
    }

    .row-padding {
        padding-top: 20px;
    }

    .inner-addon {
        position: relative;
    }

    .inner-addon input {
        padding-left: 35px;
    }

    .inner-addon i.fa-calendar {
        position: absolute;
        left: 0px;
        padding: 10px 12px;
        pointer-events: none;
    }

    .inner-addon i.fa-angle-right {
        position: absolute;
        right: 0px;
        padding-top: 10px;
        padding-bottom: 10px;
        padding-left: 5px;
        padding-right: 10px;
        cursor: pointer;
    }

    .inner-addon i.fa-angle-left {
        position: absolute;
        right: 20px;
        padding-top: 10px;
        padding-bottom: 10px;
        padding-left: 5px;
        padding-right: 10px;
        cursor: pointer;
    }

    button.btn {
        color: #495057;
    }

    button.inactive-link {
        background-color: rgb(238, 238, 238);
    }

    button.active-link {
        background-color: #ffc107;
        color: #131517;
    }

    div#station-count {
        font-size: 1.0em;
        color: gray;
        margin-bottom: 0.5em;
        padding-left: 10px;
    }

    #subjects div.title {
        font-size: 1.2em;
        color: gray;
    }

    #subjects div.title:hover {
        color: #0a71d6;
        cursor: pointer;
        text-decoration: underline;
    }

    .liveModeIndicator {
        font-size: 0.7em;
        color: #aaa;
    }

    .liveModeIndicator.liveModeOff:hover {
        text-decoration: underline;
        color: black;
        cursor: pointer;
    }

    .row-padding-top {
        padding-top: 10px;
    }

    div.legend {
        width: 760px;
    }
    body {
        background-color: #f7f6f6;
    }
    div.header {
        background-color: #f7f6f6;
    }
</style>
<body>
<%- include('../../partials/tv/header'); %>

<div id="subjects">
    <div class="row row-padding-top">
        <div class="col-md-12">
            <div id="reportDateTitle">
                <div class="date"></div>
                <div class="liveModeIndicator"></div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-md-2" id="station-count"></div>
        <div id="message"></div>
        <div class="scale">
            <svg class="statusTimeline"></svg>
        </div>
    </div>
</div>
<p/>
<%- include('../../partials/loading'); %>
<%- include('../../partials/tv/footer'); %>
</body>
<script language="javascript">
  let parameters = {};
  let currentLandingPage = '<%= landingPage %>';
  let latestConfig;
  let tooltip;

  async function main() {
    latestConfig = await getLatestConfig();
    parameters.facility = latestConfig.config.facility;
    parameters.customer = latestConfig.cgr;
    tooltip = d3.select("body").append("div").attr("class", "tooltip").style("opacity", 0);
    //if date/shift not found in url string get it from checkLiveMode()
    await checkLiveModeOn(parameters);
    if(!parameters.date && !parameters.shift){
      $('.loading').remove();
      renderNoShiftConfigured();
      return;
    }
    subjectsReport(parameters, 'summary');
  }
  main();
</script>
</html>
