<!DOCTYPE html>
<html>
<head>
    <title>Subject Detail</title>
    <%- include('../../partials/tv/headerLinks'); %>
    <script type="text/javascript" src="/portal/js/subjects-report-helper.js"></script>
</head>
<style>
    * {
        font-family: Arial, Helvetica, sans-serif;
    }

    svg {
        display: block;
    }

    svg * {
        font-size: 12px;
    }

    .legend {
        font-size: 12px;
    }

    .legendEntry {
        display: inline-block;
        margin-right: 1em;
        min-width: 16vw;
        max-width: 26vw;
    }

    .legendEntry .legendSwatch {
        height: 10px;
        width: 10px;
        display: inline-block;
    }

    .legendEntry div {
        display: inline-block;
    }

    .legendEntry div.legendLabel {
        margin-left: 5px;
    }

    div.interval, div.subject-name, div.measure-state {
        font-size: 1.2em;
        color: gray;
    }

    div#reportDateTitle {
        font-size: 1.2em;
        color: gray;
        margin-bottom: 0.5em;
        text-align: right;
    }

    div#subjects {
        width: 940px;
        margin: auto;
        padding: .5em .5em 20px;
    }

    div.subject, div.scale {
        position: relative;
        padding-right: 120px;
        width: 950px;
        min-height: 120px;
        margin-bottom: 3em;
    }

    div.scale {
        min-height: 10px;
        margin-bottom: 0.1em;
        margin-bottom: 0.25em;
    }

    div.subject div.title {
        font-size: 1.5em;
        color: gray;
    }

    div.currentStatus {
        position: absolute;
        height: 100px;
        width: 100px;
        border-radius: 50px;
        border: 1px solid gray;
        text-align: center;
        padding-top: 25px;
        color: white;
        right: 0;
        top: 10px;
    }

    div.currentStatus div.status {
        font-weight: bold;
    }

    div.currentStatus div.updateTime {
        font-size: 10px;
    }

    div.statusTimeline {
        margin-bottom: .5em;
    }

    div.currentImage {
        position: absolute;
        right: 0;
        top: 10px;
    }

    img.currentImage, video.currentVideo {
        height: 100px;
        max-width: 145px;
        border: 1px solid gray;
    }

    div.currentImage div.noImg {
        height: 100px;
        width: 140px;
        border: 1px solid #ccc;
        background-color: #eee;
        color: #aaa;
        text-align: center;
        padding-top: 25px;
    }

    rect.mark.imageBacked:hover {
        opacity: 0.75;
        stroke: rgba(0, 0, 0, 0.75);
        stroke-width: 1px;
    }

    .row-padding-margin {
        padding-top: 20px;
        max-width: 1300px;
        margin-left: 50px;
    }

    .right-inner-addon {
        position: relative;
    }

    .inner-addon input {
        padding-left: 35px;
    }

    .inner-addon i.fa-calendar {
        position: absolute;
        padding: 10px 12px;
        pointer-events: none;
    }

    .inner-addon i.fa-angle-right {
        position: absolute;
        right: 15px;
        padding-top: 10px;
        padding-bottom: 10px;
        padding-left: 5px;
        padding-right: 10px;
        cursor: pointer;
    }

    .inner-addon i.fa-angle-left {
        position: absolute;
        right: 40px;
        padding-top: 10px;
        padding-bottom: 10px;
        padding-left: 5px;
        padding-right: 5px;
        cursor: pointer;
    }

    button.btn-secondary:hover {
        background-color: #959ea9;
        border-color: #959ea9;
        opacity: 0.7%;
    }

    .row-padding-top {
        padding-top: 80px;
    }

    button.btn {
        color: #495057;
    }

    button.inactive-link {
        background-color: rgb(238, 238, 238);
    }

    button.active-link {
        background-color: #ffc107;
        color: #131517;
    }

    .liveModeIndicator {
        font-size: 0.7em;
        color: #aaa;
    }

    .liveModeIndicator.liveModeOff:hover {
        text-decoration: underline;
        color: black;
        cursor: pointer;
    }

    div.legend {
        width: 760px;
    }
    img.logo{
        width: 100%;
        height: 100%;
        float: right;
        position: relative;
        padding-top: 0px;
    }
    body {
        background-color: #f7f6f6;
    }
    div.header {
        background-color: #f7f6f6;
    }
</style>
<body>
<%- include('../../partials/tv/header'); %>
<div class="container row-padding-margin">
    <div class="row">
        <div class="col-md-12">
            <div id="reportDateTitle">
                <div class="date"></div>
                <div class="liveModeIndicator"></div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-md-2 row-padding-top">
            <div id="subjectLists"><%- include('../../partials/reportSubjectPicker'); %></div>
        </div>
        <div class="col-md-9">
            <div id="subjects">
                <div id="message">Loading...</div>
            </div>
        </div>
    </div>
</div>
<%- include('../../partials/loading'); %>
<%- include('../../partials/tv/footer'); %>
</body>
<script language="javascript">
  let parameters = {};
  let currentLandingPage = '<%= landingPage %>';
  let latestConfig;
  let tooltip;

  async function main() {
    latestConfig = await getLatestConfig();
    parameters.facility = latestConfig.config.facility;
    parameters.customer = latestConfig.cgr;
    parameters.subject = latestConfig.config.subjects[0];
    tooltip = d3.select("body").append("div").attr("class", "tooltip").style("opacity", 0);
    //if date/shift not found in url string get it from checkLiveMode()
    await checkLiveModeOn(parameters);
    if(!parameters.date && !parameters.shift){
      $('.loading').remove();
      renderNoShiftConfigured();
      return;
    }
    subjectsReport(parameters, 'detail');
  }
  main();
</script>
