<!DOCTYPE html>
<html>
<head>
    <title>Activate Screen</title>
    <%- include('../partials/headerLinks'); %>
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    <link rel="stylesheet" href="https://code.getmdl.io/1.3.0/material.indigo-pink.min.css">
    <script defer src="https://code.getmdl.io/1.3.0/material.min.js"></script>
</head>
<style>
    * {
        font-family: Arial,Helvetica,sans-serif;
    }
    div.mdl-card__supporting-text{
        height: auto;
        overflow: visible
    }
    div.mdl-card__title {
        color: #fff;
        background: #3F51B5 center / cover;
    }
    div.justify-content-end{
        display:flex;
        justify-content: flex-end;
    }
    div.horizontal-center-align{
         display: flex;
         justify-content:center
     }
    div#message{
        font-size: 16px;
        color:rgba(0,0,0,.54);
    }

</style>
<body>
<%- include('../partials/header'); %>
<div class="mdl-grid" layout-align="center center">
    <div class="mdl-cell mdl-cell--4-col"></div>
    <div class="mdl-cell mdl-cell--6-col">
        <div class="demo-card-square mdl-card mdl-shadow--2dp">
            <div class="mdl-card__title mdl-card--expand">
                <h2 class="mdl-card__title-text">Activate Screen</h2>
            </div>
            <form id="activate-screen" onsubmit="return validateForm()" action="/portal/screen-admin/activate" method="POST" >
                <div class="mdl-card__supporting-text">
                    <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
                        <input class="mdl-textfield__input" name="activationToken" type="text" value="<%=token%>">
                        <label class="mdl-textfield__label" for="activationToken">Activation Code</label>
                    </div>
                    <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
                        <input class="mdl-textfield__input" id="screenName" name="screenName" type="text" value="<%=screen_name%>">
                        <label class="mdl-textfield__label" for="ScreenName">Screen Name</label>
                    </div>
                    <div class="mdl-grid horizontal-center-align" id="errorMsg">
                        <%=flashMessage%>
                    </div>
                </div>
                <div class="mdl-card__actions justify-content-end">
                    <button class="mdl-button mdl-button--colored mdl-js-button mdl-js-ripple-effect footer-align-right" type="submit">
                        Get Started
                    </button>
                </div>
            </form>
        </div>
    </div>
    <div class="mdl-cell mdl-cell--2-col"></div>
</div>
<div class="mdl-grid">
    <div class="mdl-cell mdl-cell--4-col"></div>
    <div class="mdl-cell mdl-cell--3-col horizontal-center-align" id="message"></div>
    <div class="mdl-cell mdl-cell--2-col"></div>
</div>
<script type="text/javascript">

    function validateForm(){
      let existingScreenNames = [];
      let screenArrStr = "<%=existingScreens %>";
      screenArrStr.split(',').forEach(d=>{
        existingScreenNames.push(d);
      });
      let screenName = d3.select('#screenName').node().value;
      if(existingScreenNames.includes(screenName)){
        d3.select('#message').text('Screen Name already exists.');
        return false;
      }
    }
</script>
<%- include('../partials/footer'); %>
</body>
</html>