<!DOCTYPE html>
<html>
<head>
    <title>Configure Screen</title>
    <%- include('../partials/headerLinks'); %>
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    <link rel="stylesheet" href="https://code.getmdl.io/1.3.0/material.indigo-pink.min.css">
    <script src="https://code.getmdl.io/1.3.0/material.min.js"></script>
    <script src="/portal/js/bootstrap-select.min.js"></script>
    <link rel="stylesheet" href="/portal/css/bootstrap-select.min.css"/>
    <!--<script src="/portal/js/mdl-selectfield.js"></script>-->
    <!--<link rel="stylesheet" href="/portal/css/mdl-selectfield.css"/>-->
    <script src="https://rawgit.com/mebibou/mdl-selectfield/master/dist/mdl-selectfield.min.js"></script>
    <link rel="stylesheet" href="https://rawgit.com/mebibou/mdl-selectfield/master/dist/mdl-selectfield.min.css">
    <script src="/portal/vendor/jquery-3.3.1.min.js"></script>
</head>
<style>
    * {
        font-family: Arial, Helvetica, sans-serif;
    }

    div.mdl-card{
        width: 380px;
    }

    div.mdl-card__supporting-text {
        height: auto;
        overflow: visible
    }

    div.footer-align-right {
        float: right;
    }

    div.mdl-card__title {
        color: #fff;
        background: #3F51B5 center / cover;

    }

    .inner-addon i.fa-calendar {
        position: absolute;
        padding: 10px 12px;
        pointer-events: none;
    }

    div.justify-content-end {
        display: flex;
        justify-content: flex-end;
    }

    div.menu-height {
        height: auto;
    }

    ul.menu-scroll {
        height: 200px;
        overflow-y: scroll;
    }

    label {
        font-size: 16px;
    }

    label.label-height {
        height: 30px;
    }

    div.no-padding {
        padding: 0px;
    }

    div.horizontal-center-align {
        display: flex;
        justify-content: center
    }

    div#message {
        font-size: 16px;
        color: rgba(0, 0, 0, .54);
    }

    label.subjects {
        padding-left: 10px;
    }

    #homepage {
        color: grey;
        float: right;
    }

    .bottom-padding {
        padding-bottom: 25px;
    }
    #mycard {
        height: auto;
        width:100%;
        display:table;
        margin-top: 20px;
        padding-bottom: 150px;
    }
    .center{
        justify-content: center;
    }

    .scrollable{
        max-height: 120px;
        overflow: scroll;
        border: 1px solid #eee;
    }
    .config-row{
        height: 180px;
    }
    .custom-grid{
        max-height: 60px;
    }
    #configs{
        margin-left: 3%;
    }

</style>
<body>
<%- include('../partials/header'); %>

<div id ="mycard">
    <div class="mdl-grid">
    <!--<div class="mdl-layout-spacer"></div>-->
        <div class="mdl-cell mdl-cell--4-col"></div>
        <div class="mdl-cell mdl-cell--4-col">
            <div class="demo-card-square mdl-card mdl-shadow--2dp center">
                <div class="mdl-card__title mdl-card--expand">
                    <h2 class="mdl-card__title-text">Configure Screen</h2>
                </div>
                <div class="mdl-card__supporting-text">
                    <div class="mdl-grid custom-grid">
                        <div class="mdl-cell mdl-cell--12-col">
                            <div class="mdl-selectfield mdl-js-selectfield mdl-selectfield--floating-label">
                                <select class="mdl-selectfield__select" id="screenName" name="screenName" onchange="main()">
                                    <% for(let i in config) { %>
                                        <option value="<%= JSON.stringify(config[i]) %>"><%=config[i].screen_name %></option>
                                    <% } %>
                                </select>
                                <label class="mdl-selectfield__label" for="screenName">Device Name</label>
                            </div>
                        </div>
                    </div>
                    <div class="mdl-grid custom-grid">
                        <div class="mdl-cell mdl-cell--12-col" id="facilityDropDown">

                        </div>
                    </div>
                    <div class="mdl-grid custom-grid bottom-padding">
                        <div class="mdl-cell mdl-cell--12-col" id="landingDropDown">

                        </div>
                    </div>
                    <div class="mdl-grid custom-mdl-grid config-row" id="configs">

                    </div>
                </div>
                <div class="mdl-card__actions justify-content-end">
                    <button class="mdl-button mdl-button--colored mdl-js-button mdl-js-ripple-effect footer-align-right"
                            onclick="configureScreen()">
                        Save Configuration
                    </button>
                </div>
            </div>
        </div>
        <div class="mdl-cell mdl-cell--4-col"></div>
    </div>
    <div class="mdl-grid no-padding horizontal-center-align bottom-padding">
        <div class="mdl-cell mdl-cell--4-col"></div>
        <div class="mdl-cell mdl-cell--5-col" id="message"></div>
        <div class="mdl-cell mdl-cell--2-col"></div>
    </div>
</div>
<script type="text/javascript">

  //select all for Subjects
  $('#checkall input').change(function () {
    var listaElementos = document.querySelectorAll('.check');

    for (var i = 0, n = listaElementos.length; i < n; i++) {
      var element = listaElementos[i];

      if ($('#checkall input').is(":checked")) {
        element.MaterialCheckbox.check();
      } else {
        element.MaterialCheckbox.uncheck();
      }
    }
  });

  $('.check').change(function () {
    var listaElementos = document.querySelectorAll('.check');

    for (var i = 0, n = listaElementos.length; i < n; i++) {
      if ($('.check input:checked').length == $('.check input').length) {
        document.querySelector('#checkall').MaterialCheckbox.check();
      } else {
        document.querySelector('#checkall').MaterialCheckbox.uncheck();
      }
    }
  });

  let screenType = "";
  let customer = '<%= customer %>';
  let subjects = <%-JSON.stringify(subjects)%>;
  let landingPageList = {
    YARD_INOUT_CUST: {
      tv: ['Cycle Report', 'Visit Log', 'Current View'],
      kiosk: ['Cycle Report', 'Visit Log', 'Current View']
    },
    FAB_FLOOR_CUST: {
      tv: ['Summary Report', 'Detail Report'],
      kiosk: ['Summary Report', 'Detail Report']
    }
  }
  // let configs = [];
  async function main(){
    await facitlityDropDown();
    await landingPageDropDown();
    if(!isYardCustomer(customer)){
      await renderSubjects();
    }
  }

  async function landingPageDropDown(){
    let landingPages = [];
    $('#landingDropDown').empty();
    let screenConfig = JSON.parse($('#screenName').val());
    if(isYardCustomer(customer)){
      landingPages = landingPageList.YARD_INOUT_CUST[screenConfig.screen_type];
    }else{
      landingPages = landingPageList.FAB_FLOOR_CUST[screenConfig.screen_type];
    }
    let list=[];
    for(let i in landingPages){
      list = list + `<option value="${landingPages[i]}" selected>${landingPages[i]}</option>`;
    }
    let landingDropDown = `<div class="mdl-selectfield mdl-js-selectfield mdl-selectfield--floating-label">
                        <select class="mdl-selectfield__select" id="landingPage" name="landingPage" onchange="renderSubjects()">
                            ${list}
                        </select>
                        <!--<label class="mdl-selectfield__label" for="landingPage">Landing Page</label>-->
                    </div>`
    $('#landingDropDown').append(landingDropDown);
    componentHandler.upgradeDom();
  }

  async function facitlityDropDown(){
    $('#facilityDropDown').empty();
    let screenConfig = JSON.parse($('#screenName').val()).config;
    let allFacilities = await d3.json('/portal/data/getFacilityList?customer=' + customer, {credentials: 'include'});
    let list = '';

    for(let i in allFacilities){
        if(screenConfig && screenConfig.facility && screenConfig.facility === allFacilities[i]){
          list = list + `<option value="${allFacilities[i]}" selected>${allFacilities[i]}</option>`;
        }else{
          list = list + `<option value="${allFacilities[i]}">${allFacilities[i]}</option>`;
        }
      }
    let facilityDropDown = `<div class="mdl-selectfield mdl-js-selectfield mdl-selectfield--floating-label">
                        <select class="mdl-selectfield__select" id="facility" name="facility" onchange="renderSubjects()">
                            ${list}
                        </select>
                        <!--<label class="mdl-selectfield__label" for="facility">Facility</label>-->
                    </div>`
    $('#facilityDropDown').append(facilityDropDown);
    componentHandler.upgradeDom();
  }

  main();

  function renderSubjects() {
    if(isYardCustomer(customer)){
      return;
    }
    let facility = $('#facility').val();
    let facilitySubjects = subjects[facility];
    let configObj = JSON.parse($('#screenName').val());
    $('#configs').empty();
    let col1Div = d3.select('#configs').append('div').classed('mdl-cell', true).classed('mdl-cell--4-col', true);
    col1Div.append('label').text('Subjects:');
    let col2Div = d3.select('#configs').append('div').classed('mdl-cell', true).classed('mdl-cell--8-col', true).classed('scrollable', true);
    if (configObj.screen_type === 'tv') {
      let subjectCheckBox = col2Div.selectAll('label.subjects').data(facilitySubjects);
      let subjectListCheckBox = subjectCheckBox.enter().append('label').classed('subjects', true).classed('mdl-checkbox', true)
        .classed('mdl-js-checkbox', true).classed('mdl-js-ripple-effect', true).classed('check', true).classed('label-height', true)
        .attr('for', function (d) {
          return d.replace(' ', '');
        })
      subjectListCheckBox.append('input').attr('value', function (d) {
        return d
      })
        .attr('type', 'checkbox').attr('id', function (d) {
        return d.replace(' ', '');
      }).classed('mdl-checkbox__input', true);
      subjectListCheckBox.append('span').classed('mdl-checkbox__label', true).text(function (d) {
        return d;
      });

      componentHandler.upgradeDom();
      //checking the checkbox if already configured
      let subjects = configObj.config.subjects;
      var listaElements = document.querySelectorAll('.check');
      for (var i = 0, n = listaElements.length; i < n; i++) {
        var element = listaElements[i];
        if (subjects.includes(element.innerText)) {
          element.MaterialCheckbox.check();
        } else {
          element.MaterialCheckbox.uncheck();
        }
      }
    } else {
      d3.select('input#screenType').attr('value', 'kiosk');
      $('#configs').empty();

      //subject list drop down
      let list = [];
      let primarySubject = (configObj.config && configObj.config.primarySubject) || '';
      for (let i in subjects[facility]) {
        if (subjects[facility][i] === primarySubject) {
          list = list + `<option value="${subjects[facility][i]}" selected>${subjects[facility][i]}</option>`;
        } else {
          list = list + `<option value="${subjects[facility][i]}">${subjects[facility][i]}</option>`;
        }
      }

      let primarySubjects = `<div class="mdl-selectfield mdl-js-selectfield">
                        <select class="mdl-selectfield__select" id="primarySubjects" name="primarySubjects">
                            ${list}
                        </select>
                        <!--<label class="mdl-selectfield__label" for="facility">Primary Subjects</label>-->
                    </div>`
      $('#configs').append(primarySubjects);
      componentHandler.upgradeDom();
    }
  }

  async function configureScreen() {
    let landingPage = $('#landingPage').val();
    let screenObj = JSON.parse($('#screenName').val());
    let screenName = screenObj.screen_name;
    screenType = screenObj.screen_type;
    let facility = $('#facility').val();

    let reqJSON = {};
    if (!screenName) {
      d3.select('#message').text("Select a device to configure");
      return;
    }
    if (!landingPage) {
      d3.select('#message').text("Select a device to configure");
      return;
    }
    reqJSON.landingPage = landingPage;
    reqJSON.screenName = screenName;
    reqJSON.config = {};
    reqJSON.config.facility = facility;
    if (screenType === 'tv') {
      if (!isYardCustomer(customer)) {
        let subjects = [];
        d3.selectAll('.mdl-checkbox__input').each(function (d) {
          let cb = d3.select(this);
          if (cb.property("value") != "" && cb.property("checked")) {
            subjects.push(cb.property("value"));
          }
        });
        if (!subjects.length) {
          d3.select('#message').text("Select the subjects to configure.");
          return;
        }
        reqJSON.config.subjects = subjects;
      }

    } else if (screenType === 'kiosk') {
      let primarySubject = d3.select('#primarySubjects').node().value;
      if (!primarySubject) {
        d3.select('#message').text("Select the primary subject to configure.");
        return;
      }
      reqJSON.config.primarySubject = primarySubject;
      let subjects = [];
      d3.selectAll('.mdl-checkbox__input').each(function (d) {
        let cb = d3.select(this);
        if (cb.property("value") != "" && cb.property("checked")) {
          subjects.push(cb.property("value"));
        }
      });
    }

    let result = await d3.json('/portal/screen-admin/configureScreen', {
      method: 'post',
      body: JSON.stringify(reqJSON),
      headers: {'Content-type': 'application/json; charset=UTF-8'},
      credentials: 'include'
    });

    if (result) {
      let message = result.flashMessage;
      d3.select('#message').text(message);
    }
  }

  async function setConfigurations(subjects, screenObj) {
    d3.select('#message').classed('error', true).html("");
    d3.select('#screenName').attr('value', screenObj.screen_name);
    d3.select('#screenNameLabel').remove();
    d3.select('#configs').html("");
    d3.select('#landingPage').attr('value', "");

    if (screenObj.screen_type.toLowerCase() === 'tv') {
      d3.select('input#screenType').attr('value', 'tv');
      let landingPageArr = [];
      //Landing drop down
      if (!isYardCustomer(customer)) {
        landingPageArr = [{display: 'Summary Report', value: 'subjectSummary'}, {
          display: 'Detail Report',
          value: 'subjectDetail'
        }];
      } else {
        landingPageArr = [{display: 'Cycle Report', value: 'cycle'}, {display: 'Visit Log', value: 'cycleStatus'}, {display: 'Current View', value: 'beaconTracking'}];
      }

      let landingPageDropDownDiv = d3.select('#landingPageDropDown');
      let landingPageList = landingPageDropDownDiv.append('ul').attr('for', 'landingPage').classed('mdl-menu', true).classed('mdl-menu--bottom-left', true)
        .classed('mdl-js-menu', true).selectAll('li.mdl-menu__item').data(landingPageArr);
      landingPageList.enter().append('li').attr('id', d => d.value).classed('mdl-menu__item', true).text(function (d) {
        return d.display;
      })
        .on('click', function (d) {
          d3.select('#landingPage').attr('value', d.display);
          d3.select('#landingPageLabel').remove();
          return;
        });

      //Subject checkboxes
      let configurations = isYardCustomer(customer) ? 'Facility: ' : 'Subjects: ';
      let col1Div = d3.select('#configs').append('div').classed('mdl-cell', true).classed('mdl-cell--4-col', true);
      col1Div.append('label').text(configurations);
      let col2Div = d3.select('#configs').append('div').classed('mdl-cell', true).classed('mdl-cell--8-col', true);
      // let checkAll = col2Div.append('label').attr('id','checkall')
      //   .classed('mdl-checkbox mdl-js-checkbox',true).classed('mdl-js-ripple-effect',true).classed('label-height',true)
      //   .attr('for','checkbox-0');
      // checkAll.append('input').attr('type','checkbox').attr('id','checkbox-0').classed('mdl-checkbox__input',true);
      // checkAll.append('span').classed('mdl-checkbox__label',true).text('All');
      let facilities = await getFacilities(customer);
      let facilityRadioBtn = col2Div.selectAll('label.facility').data(facilities);
      let newFacilityRadioBtn = facilityRadioBtn.enter().append('label').classed('facility', true).classed('mdl-radio', true)
        .classed('mdl-js-radio', true).attr('for', function (d) {
          return d.replace(' ', '');
        })
      newFacilityRadioBtn.append('input').attr('type', 'radio').attr('id', function (d) {
        return d.replace(' ', '');
      }).attr('name', 'facility').classed('mdl-radio__button', true).attr('value', function (d) {
        return d;
      });
      newFacilityRadioBtn.append('span').classed('mdl-radio__label', true).text(function (d) {
        return d;
      });
      if (!isYardCustomer(customer)) {

        let subjectCheckBox = col2Div.selectAll('label.subjects').data(subjects);
        let subjectListCheckBox = subjectCheckBox.enter().append('label').classed('subjects', true).classed('mdl-checkbox', true)
          .classed('mdl-js-checkbox', true).classed('mdl-js-ripple-effect', true).classed('check', true).classed('label-height', true)
          .attr('for', function (d) {
            return d.subject_name.replace(' ', '');
          })
        subjectListCheckBox.append('input').attr('value', function (d) {
          return d.subject_name
        })
          .attr('type', 'checkbox').attr('id', function (d) {
          return d.subject_name.replace(' ', '');
        }).classed('mdl-checkbox__input', true);
        subjectListCheckBox.append('span').classed('mdl-checkbox__label', true).text(function (d) {
          return d.subject_name;
        });

      }
      col1Div.merge(col2Div);
      componentHandler.upgradeDom();
      if (screenObj.config) {
        let landingPageConfig = screenObj.config.landing_page;
        let formatStr = landingPageConfig.split('.')[0].split('subject')[1];
        if (formatStr === 'Summary') {
          d3.select('#landingPage').attr('value', 'Summary Report');
        } else if (formatStr === 'Detail') {
          d3.select('#landingPage').attr('value', 'Detail Report');
        }
        d3.select('#landingPageLabel').remove();
        let subjects = screenObj.config.subjects;
        var listaElements = document.querySelectorAll('.check');
        for (var i = 0, n = listaElements.length; i < n; i++) {
          var element = listaElements[i];
          if (subjects.includes(element.innerText)) {
            element.MaterialCheckbox.check();
          } else {
            element.MaterialCheckbox.uncheck();
          }
        }
        if (screenObj.config.subjects && listaElements.length === screenObj.config.subjects.length) {
          document.querySelector('#checkall').MaterialCheckbox.check();
        } else {
          document.getElementById(`${screenObj.config.facility.replace(' ', '')}`).parentNode.MaterialRadio.check();
        }
      } else {
        var listaElements = document.querySelectorAll('.check');
        for (var i = 0, n = listaElements.length; i < n; i++) {
          listaElements[i].MaterialCheckbox.uncheck();
        }
      }
    } else if (screenObj.screen_type.toLowerCase() === 'kiosk') {
      d3.select('input#screenType').attr('value', 'kiosk');

      //Landing drop down
      let landingPageArr = ['Summary Report'];
      let landingPageDropDownDiv = d3.select('#landingPageDropDown');
      let landingPageList = landingPageDropDownDiv.append('ul').attr('for', 'landingPage').classed('mdl-menu', true).classed('mdl-menu--bottom-left', true)
        .classed('mdl-js-menu', true).selectAll('li.mdl-menu__item').data(landingPageArr);
      landingPageList.enter().append('li').classed('mdl-menu__item', true).text(function (d) {
        return d;
      })
        .on('click', function (d) {
          d3.select('#landingPage').attr('value', d);
          d3.select('#landingPageLabel').remove();
          return;
        })

      //subject list drop down
      let subjectDropDownDiv = d3.select('#configs').append('div').classed('mdl-textfield', true).classed('mdl-js-textfield', true)
        .classed('mdl-textfield--floating-label', true).classed('getmdl-select', true);
      subjectDropDownDiv.append('input').attr('type', 'text').classed('mdl-textfield__input', true).classed('mdc-text-field-icon', true)
        .attr('name', 'subject').attr('id', 'primarySubject').attr('readonly', true).attr('required', true);
      subjectDropDownDiv.append('label').attr('for', 'subject').classed('mdl-textfield__label', true).attr('id', 'subjectLabel').text('Subject');
      let subjectList = subjectDropDownDiv.append('ul').attr('for', 'primarySubject').classed('mdl-menu', true).classed('mdl-menu--bottom-left', true)
        .classed('mdl-js-menu', true).selectAll('li.mdl-menu__item').data(subjects);
      subjectList.enter().append('li').classed('mdl-menu__item', true).text(function (d) {
        return d.subject_name;
      })
        .on('click', function (d) {
          d3.select('#primarySubject').attr('value', d.subject_name);
          d3.select('#subjectLabel').remove();
          return;
        })

      //secondary subjects check box
      let col1Div = d3.select('#configs').append('div').classed('mdl-cell', true).classed('mdl-cell--4-col', true);
      col1Div.append('label').text('Secondary Subjects: ');
      let col2Div = d3.select('#configs').append('div').classed('mdl-cell', true).classed('mdl-cell--8-col', true);
      // let checkAll = col2Div.append('label').attr('id','checkall')
      //   .classed('mdl-checkbox mdl-js-checkbox',true).classed('mdl-js-ripple-effect',true).classed('label-height',true)
      //   .attr('for','checkbox-0');
      // checkAll.append('input').attr('type','checkbox').attr('id','checkbox-0').classed('mdl-checkbox__input',true);
      // checkAll.append('span').classed('mdl-checkbox__label',true).text('All');
      let subjectCheckBox = col2Div.selectAll('label.subjects').data(subjects);
      let subjectListCheckBox = subjectCheckBox.enter().append('label').classed('subjects', true).classed('mdl-checkbox', true)
        .classed('mdl-js-checkbox', true).classed('mdl-js-ripple-effect', true).classed('check', true).classed('label-height', true)
        .attr('for', function (d) {
          return d.subject_name.replace(' ', '');
        })
      subjectListCheckBox.append('input').attr('value', function (d) {
        return d.subject_name
      })
        .attr('type', 'checkbox').attr('id', function (d) {
        return d.subject_name.replace(' ', '');
      }).classed('mdl-checkbox__input', true);
      subjectListCheckBox.append('span').classed('mdl-checkbox__label', true).text(function (d) {
        return d.subject_name;
      });
      subjectDropDownDiv.merge(col1Div).merge(col2Div);
      componentHandler.upgradeDom();

      if (screenObj.config) {
        let landingPageConfig = screenObj.config.landing_page;
        let formatStr = landingPageConfig.split('.')[0].split('subject')[1];
        if (formatStr === 'Summary') {
          d3.select('#landingPage').attr('value', 'Summary Report');
        } else if (formatStr === 'Detail') {
          d3.select('#landingPage').attr('value', 'Detail Report');
        }
        d3.select('#landingPageLabel').remove();
        d3.select('#subjectLabel').remove();
        d3.select('#primarySubject').attr('value', screenObj.config.primarySubject);
        let secondarySubjects = screenObj.config.secondarySubjects;
        var listaElements = document.querySelectorAll('.check');
        for (var i = 0, n = listaElements.length; i < n; i++) {
          var element = listaElements[i];
          if (secondarySubjects.includes(element.innerText)) {
            element.MaterialCheckbox.check();
          } else {
            element.MaterialCheckbox.uncheck();
          }
        }
        if (listaElements.length === screenObj.config.secondarySubjects.length) {
          document.querySelector('#checkall').MaterialCheckbox.check();
        }
      } else {
        var listaElements = document.querySelectorAll('.check');
        for (var i = 0, n = listaElements.length; i < n; i++) {
          listaElements[i].MaterialCheckbox.uncheck();
        }
      }
    }
  }

  function setTextField(obj) {
    let textVal = obj.innerHTML;
    d3.select('#landingPage').attr('value', textVal);
    d3.select('#landingPageLabel').remove();
  }

  async function getFacilities(customer) {
    let allFacilities = await d3.json('/portal/data/getFacilityList?customer=' + customer, {credentials: 'include'});
    let permittedFacilities = await d3.json('/portal/data/getPermittedFacilities/', {credentials: 'include'});
    let displayFacilities;
    if (permittedFacilities != null && permittedFacilities.length != 0) {
      displayFacilities = allFacilities.filter(value => -1 !== permittedFacilities.indexOf(value)); //intersection of the 2 arrays
    } else {
      displayFacilities = allFacilities;
    }
    return displayFacilities;
  }

  function isYardCustomer(customer) {
    let yardCust = ['cemex', 'tlf', 'cemexusa', 'trimac', 'titanamerica', 'tlf', 'cemexcc', 'cemexclayton', 'cemexredwood'];
    return yardCust.some(y => y === customer);
  }


</script>
<%- include('../partials/footer'); %>
</body>
</html>
