<html>
<header>
    <meta http-equiv="refresh" content="30;url=/portal/screen/awake/<%= screen_type %>"/>
    <title>Activate Screen</title>
    <style>
        body{
            background-color: #d9d9d9;
        }
        div.align-text-center{
            vertical-align:middle;
            display: flex;
            justify-content:center;
        margin-top: 10%;
        }

        div.custom-font-size
        {
            font-size:18em;
        }
        div.small-font-size{
            font-size: 1.5em;
        }
    </style>
</header>
<body>
<div class="align-text-center custom-font-size">
    <%= token %>
</div>
<div class="align-text-center small-font-size">
    <i>
        Use the url https://atollogy.com/portal/screen-admin/activate and enter the above code to activate this device.
    </i>
</div>
</body>
</html>