<!DOCTYPE html>
<html>
<head>
  <title>Edit User</title>
  <script src="https://d3js.org/d3.v5.min.js"></script>
  <script src="/portal/js/moment.min.js"></script>

  <link rel="stylesheet" href="https://code.getmdl.io/1.3.0/material.indigo-pink.min.css">
  <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
  <script defer src="https://code.getmdl.io/1.3.0/material.min.js"></script>
  <script src="/portal/vendor/jquery-3.3.1.min.js"></script>
  <link rel="stylesheet" href="/portal/vendor/bootstrap-4.1.min.css">
  <script src="/portal/vendor/bootstrap.bundle.min.js"></script>
  <script src="/portal/js/bootstrap-select.min.js"></script>
  <script src="/portal/discovery/index.js"></script>
  <script src="/portal/js/request.js"></script>
  <link rel="stylesheet" href="/portal/css/bootstrap-select.min.css" />
</head>
<style>
  .demo-card-wide.mdl-card {
    width: 1024px;
    height: auto;

  }
  .demo-card-wide {
    height: 200px;
  }


  .demo-card-wide > .mdl-card__title {
    color: #fff;
    height: 64px;
    background-color:#303F9F;
  }

  .mdl-card__title-text {
    position: relative;
    top: 6px;

  }

  .demo-card-wide > .mdl-card__menu {
    color: #fff;
  }

  #mycard {
    height: auto;
    width:100%;
    display:flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
    margin-bottom: 30px;
  }
  div.example{
    font-size: 0.8em;
    color: #aaa;
  }
  div.textfield-height{
    height: 50px;
  }
  div.mdl-grid{
    height: 70px;
  }
  span.tooltip-width{
    max-width: 250px;
  }
  div.row-height{
    height: 20px;
  }
  #facilityRow div.row-height {
    padding: 0px;
    height: 32px;
  }
  .facility-middle {
    margin: 0px;
    display: flex;
    align-items: center;
  }
  .notification-label {
    padding: 0px;
    display: flex;
    align-items: center;
  }
  .facility-checkbox {
    margin-right: 5px !important;
  }
  button.add-state-btn{
    margin-top: 10px;
  }
  div.sample-color{
    height: 10px;
    width: 10px;
    display: inline-block;
    margin-left: 20px;
  }
  div.button-align-right{
    float: right;
    left:650px;
    position: relative;
  }
  div.menu-height{
    height:auto;
  }
  ul.drop-down-menu-scroll{
    height: 600px;
    overflow-y: scroll;
  }
  ul.menu-scroll{
    height: 700px;
    overflow-y: scroll;
  }
  div.success{
    color:#1e7e34;
  }
  div.error{
    color: #d00c0c;
  }
  div#message{
    left: 30px;
    position: relative;
  }
  .custom-button{
    position: relative;
    /* bottom:6px; */
  }
  .custom-mdl-grid{
    height: auto !important;
  }
  .showTableaInfo {
    display: none;
  }
  #tableauGroupDropDown {
    margin-top: 0px;
  }
  .tableau-checkbox {
    margin-top: 13px;
  }
  .tableau-multi-row-label {
    width:250px;
    word-wrap: break-word
  }
  .tableau-multi-select-dd {
    margin-top: 5%;
  }

  .inner.show {
    max-height: 300px !important;
  }

  .divider {
    height: 1px;
    margin: 5px 0;
    overflow: hidden;
    background-color: #e5e5e5;
  }

  .filter-option-inner-inner {
    color: rgba(0,0,0,.54);
  }

  .mdl-textfield__label:after {
    bottom: 13px;
  }
</style>
<body>
<div id ="mycard">

  <div class="demo-card-wide mdl-card mdl-shadow--2dp">
    <div class="mdl-card__title">
      <h3 class="mdl-card__title-text">User Information</h3>
      <div class="button-align-right">
        <button id="demo-menu-lower-left" class="mdl-button mdl-js-button mdl-button--icon" onclick="viewUsers()">
          <i class="material-icons">view_list</i>
        </button>
        <span for="demo-menu-lower-left" class="mdl-tooltip tooltip-width">View Users List</span>
      </div>
    </div>

    <div class="mdl-card__supporting-text">
      <div class="mdl-grid">
        <div class="mdl-cell mdl-cell--1-col"></div>
        <div class="mdl-cell mdl-cell--5-col">
          <div class="textfield-height">
            <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
              <input class="mdl-textfield__input" type="text" id="fName" value="<%=updateUser.first_name%>" >
              <label class="mdl-textfield__label" for="sample3">First Name</label>
              <span for="fName" class="mdl-tooltip tooltip-width">First Name</span>

            </div>
          </div>
        </div>

        <div class="mdl-cell mdl-cell--1-col"></div>
        <div class="mdl-cell mdl-cell--5-col">
          <div class="textfield-height">
            <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
              <input class="mdl-textfield__input" type="text" id="lName" value="<%=updateUser.last_name%>">
              <label class="mdl-textfield__label" for="sample3">Last Name</label>
              <span for="lName" class="mdl-tooltip">Last Name</span>
            </div>
          </div>
        </div>
      </div>

      <div class="mdl-grid">
        <div class="mdl-cell mdl-cell--1-col"></div>
        <div class="mdl-cell mdl-cell--5-col">
          <div class="textfield-height">
            <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
              <input class="mdl-textfield__input" type="email" id="email" value="<%=updateUser.username%>">
              <label class="mdl-textfield__label" for="sample3">Email</label>
              <span for="email" class="mdl-tooltip tooltip-width">Email</span>
              <span class="mdl-textfield__error">Enter a valid email!</span>
            </div>
          </div>
        </div>

        <div class="mdl-cell mdl-cell--1-col"></div>
        <div class="mdl-cell mdl-cell--5-col">
          <div class="textfield-height">
            <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
              <input class="mdl-textfield__input" type="text" id="cgrs" value="<%=updateUser.cgrs%>" <%if(user.cgrs[0]!=='atl'){%>disabled<%}%>>
              <label class="mdl-textfield__label" for="sample3">CGRs</label>
              <!-- <select class="selectpicker" multiple data-live-search="true" title="CGRs" id="cgrs" data-width="100%" data-selected-text-format="count > 3" <%if(user.cgrs[0]!=='atl'){%>disabled<%}%>></select> -->
              <span for="cgrs" class="mdl-tooltip tooltip-width">atl,sbay,tlf (comma seperated)</span>
            </div>
          </div>
        </div>
      </div>

      <div class="mdl-grid">
        <div class="mdl-cell mdl-cell--1-col"></div>
        <div class="mdl-cell mdl-cell--5-col">
          <div class="textfield-height">
            <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
              <input class="mdl-textfield__input" type="text" id="phone" value="<%=updateUser.phone_number%>">
              <label class="mdl-textfield__label" for="sample3">Phone Number</label>
              <span for="phone" class="mdl-tooltip tooltip-width">Phone Number</span>
            </div>
          </div>
        </div>
        <div class="mdl-cell mdl-cell--1-col"></div>
        <div class="mdl-cell mdl-cell--5-col">
          <div class="textfield-height">
            <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
              <input class="mdl-textfield__input" type="text" id="company" value="<%=updateUser.company%>">
              <label class="mdl-textfield__label" for="sample3">Company</label>
              <span for="company" class="mdl-tooltip tooltip-width">Company</span>
            </div>
          </div>
        </div>
      </div>

      <div class="mdl-grid custom-mdl-grid">
        <div class="mdl-cell mdl-cell--1-col"></div>
        <div class="mdl-cell mdl-cell--3-col">
          <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
            <input class="mdl-textfield__input" type="text" id="facility">
            <label class="mdl-textfield__label" for="facility">Permitted Facilities</label>
            <span for="facility" class="mdl-tooltip tooltip-width">e.g. Eliot, Cache Creek, etc.</span>
          </div>
        </div>

        <div class="mdl-cell mdl-cell--1-col"></div>
        <div class="mdl-cell mdl-cell--1-col">
          <button class="mdl-button mdl-js-button mdl-button--fab mdl-button--mini-fab mdl-button--primary add-state-btn" onclick="addFacility()">
            <i class="material-icons">add</i>
          </button>
        </div>
        <div class="mdl-cell mdl-cell--1-col"></div>
        <div class="mdl-cell mdl-cell--5-col">
          <div class="mdl-grid align-middle notification-label">
            <!-- <%- JSON.stringify(updateUser) %> -->
            <div>Notification</div>
          </div>
        </div>
      </div>

      <div class="mdl-grid">
        <div class="mdl-cell mdl-cell--1-col"></div>
        <div class="mdl-cell mdl-cell--5-col">
        </div>
        <div class="mdl-cell mdl-cell--1-col"></div>
        <div class="mdl-cell mdl-cell--5-col">
          <div id="facilityRow">
            <%let facilityCount=updateUser.facilities ? updateUser.facilities.length : 0;
            if(updateUser.facilities!==null){
                    for(let i in updateUser.facilities){%>
            <div class="mdl-grid row-height" id="row<%=Number(i)+1%>">
              <div class="mdl-cell mdl-cell--8-col facility-middle">
                <input type="checkbox" id="facility-<%=Number(i)+1%>-checkbox" class="mdl-checkbox__input facility-checkbox"  <%if(updateUser.alerts && updateUser.alerts.find(item=>item.facility==updateUser.facilities[i]) && updateUser.alerts.find(item=>item.facility==updateUser.facilities[i]).notification.safetyalert){%> checked<%}%>>
                <label id="facility<%=Number(i)+1%>" class="facility-name"><%=updateUser.facilities[i]%></label>
              </div>
              <div class="mdl-cell mdl-cell--1-col facility-middle">
                <button class="mdl-button mdl-js-button mdl-button--icon custom-button" onclick="removeFacility(this)">
                  <i class="material-icons ">clear</i>
                </button>
              </div>
            </div>
            <%}
            }%>
          </div>
        </div>
      </div>
      <div class="mdl-grid">
        <div class="mdl-cell mdl-cell--1-col"></div>
        <div class="mdl-cell mdl-cell--3-col">
          <label class="mdl-checkbox mdl-js-checkbox mdl-js-ripple-effect tableau-checkbox" for="tableauCheckbox">
            <input type="checkbox" id="tableauCheckbox" class="mdl-checkbox__input" <%if(updateUser.user_access.tableau.showNav){%> checked<%}%>>
            <span class="mdl-checkbox__label">Tableau User</span>
          </label>
        </div>
        <div class="mdl-cell mdl-cell--3-col"></div>
        <div class="mdl-cell mdl-cell--5-col showTableauInfo" id="tableauGroupDropDown">
          <div class="tableau-multi-select-dd">
            <select class="selectpicker select-filter tableau-dropdown" multiple id="tableauDropdown">

            </select>
          </div>
        </div>
      </div>

      <div class="mdl-grid showTableauInfo custom-mdl-grid">
        <div class="mdl-cell mdl-cell--12-col" id="tableauMultipleUrl">
          <%let tableauUrlCount = updateUser.user_access && updateUser.user_access.tableau ? updateUser.user_access.tableau.accessUrl.length : 0;
          if(updateUser.user_access.tableau.showNav){
                  for(let i in updateUser.user_access.tableau.accessUrl){%>
          <div class="mdl-grid custom-mdl-grid row-height" id="tableau<%=Number(i)+1%>">
            <div class="mdl-cell mdl-cell--1-col"></div>
            <div class="mdl-cell mdl-cell--5-col">
              <label class="tableau-multi-row-label" id="tableauDashboardName<%=Number(i)+1%>"><%=updateUser.user_access.tableau.accessUrl[i].dashboardName%></label>
            </div>
            <div class="mdl-cell mdl-cell--1-col"></div>
            <div class="mdl-cell mdl-cell--4-col">
              <label class="tableau-multi-row-label" id="tableauUrl<%=Number(i)+1%>"><%=updateUser.user_access.tableau.accessUrl[i].url%></label>
            </div>
            <div class="mdl-cell mdl-cell--1-col">
              <button class="mdl-button mdl-js-button mdl-button--icon custom-button" onclick="removeTableauUrl(this)">
                <i class="material-icons">clear</i>
              </button>
            </div>
          </div>
          <%}
          }%>
        </div>
      </div>
      <div class="mdl-grid showTableauInfo">
        <div class="mdl-cell mdl-cell--1-col"></div>
        <div class="mdl-cell mdl-cell--5-col">
          <div class="textfield-height">
            <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
              <input class="mdl-textfield__input" type="text" id="tableauDashboardName" value="">
              <label class="mdl-textfield__label" for="sample3">Tableau Dashboard Name</label>
              <span for="phone" class="mdl-tooltip tooltip-width">Tableau Dashboard Name</span>
            </div>
          </div>
        </div>
        <div class="mdl-cell mdl-cell--1-col"></div>
        <div class="mdl-cell mdl-cell--4-col">
          <div class="textfield-height">
            <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
              <input class="mdl-textfield__input" type="text" id="tableauUrl" value="<%=updateUser.user_access.tableau.url%>">
              <label class="mdl-textfield__label" for="sample3">Tableau Dashboard URL</label>
              <span for="phone" class="mdl-tooltip tooltip-width">Tableau Dashboard URL</span>
            </div>
          </div>
        </div>
        <div class="mdl-cell mdl-cell--1-col">
          <button class="mdl-button mdl-js-button mdl-button--fab mdl-button--mini-fab mdl-button--primary add-state-btn" onclick="addMultipleTableauAccess()">
            <i class="material-icons">add</i>
          </button>
        </div>
      </div>

      <div class="mdl-grid">
        <div class="mdl-cell mdl-cell--5-col"></div>
        <div class="mdl-cell mdl-cell--2-col">
          <button class="mdl-button mdl-js-button mdl-button--raised mdl-button--colored" onclick="saveConfigs()">
            Save Configurations
          </button>
        </div>
      </div>

      <div class="mdl-grid">
        <div class="mdl-cell mdl-cell--4-col"></div>
        <div class="mdl-cell mdl-cell--4-col">
          <div id="message"></div>
        </div>
      </div>
    </div>
  </div>
  <div id="snackbar" class="mdl-js-snackbar mdl-snackbar">
    <div class="mdl-snackbar__text"></div>
    <button class="mdl-snackbar__action" type="button"></button>
  </div>
</div>
</body>
<script language="javascript">

  jQuery(document).ready(function($) {
    $('#tableauCheckbox').change(function(){
      if ($(this).is(':checked')) {
        $('div.showTableauInfo').show();
      } else {
        $('#tableauUrl').val('');
        $('#tableauGroup').val('');
        $('div.showTableauInfo').hide();
      }
    }).change();
  });

  let oldTableauGroup = '<%=updateUser.user_access.tableau.group%>' === '' ? [] : ('<%=updateUser.user_access.tableau.group%>').split(',');
  let oldTableauUrl = '<%=updateUser.user_access.tableau.url%>'
  let oldShowNav = `<%=updateUser.user_access.tableau.showNav%>`;
  async function getTableauGroups() {
    try {
      let data = await d3.json('/portal/analytics/groups', {credentials: 'include'});
      let groups = data.res;

      let list = '';
      let selectPicker = $('.selectpicker').html('');
      let options = '';
      for (let d of groups) {
        if(oldTableauGroup.some(y=> y=== d.name)) {
          options = options + '<option selected>' + d.name + '</option>';
        } else {
          options = options + '<option>' + d.name + '</option>';
        }
      }
      selectPicker.append(options);
      $('select').selectpicker('refresh');
    } catch(cause) {
      console.error('Unable to obtain Tableau groups', cause);
    }
  }

  async function getCustomerRegionGroups() {
    try {
      const cgrs = await getRequest(`${getFleetUrl('group')}/facilities`);

      const options = [];
      const userCgrs = `<%=updateUser.cgrs%>`.split(',');
      options.push('<option value="[clear-all]" class="clear-all">Clear All</option>');
      options.push('<option data-divider="true"></option>');
      cgrs.forEach(item => {
        options.push(`<option value="${item.aliasName}" ${userCgrs.includes(item.aliasName) ? 'selected' : ''}>${item.aliasName}</option>`);
      });
      $("#cgrs").html(options).selectpicker('refresh');

      $('.selectpicker').on('change', function () {
        var selectPicker = $(this);
        var clearAllOption = selectPicker.find('option.clear-all');
        var clearAll = clearAllOption.prop('selected');
        var optionValues = selectPicker.find('option[value!="[clear-all]"][data-divider!="true"]');

        if (clearAll) {
          optionValues.prop('selected', false).parent().selectpicker('refresh');
          clearAllOption.prop('selected', false).parent().selectpicker('refresh');
        }
      });
    } catch(cause) {
      console.error('Unable to obtain CGRs', cause)
    }
  }

  getTableauGroups();
  getCustomerRegionGroups();

  let olderDetail = {};
  olderDetail.fName = '<%=updateUser.first_name%>';
  olderDetail.lName = '<%=updateUser.last_name%>';
  olderDetail.cgrs = '<%=updateUser.cgrs%>';
  olderDetail.email = '<%=updateUser.username%>';
  let facilityCount = Number('<%=facilityCount%>');
  let tableauUrlCount = Number('<%=tableauUrlCount%>');

  var input = document.getElementById("facility");
  input.addEventListener("keyup", function(event) {
    event.preventDefault();
    if (event.keyCode === 13) {
      addFacility();
    }
  });

  async function saveConfigs(){
    let id = 0;
    let reqJson = {};
    reqJson.userType = '<%=userType%>';
    if(reqJson.userType === 'edit'){
      id = '<%=updateUser.user_id%>';
    }
    let accessUrl = $('#tableauCheckbox').is(':checked') ? getTableauAccessUrl() : [];
    if($('#fName').val()===''){
      d3.select('div#message').classed('error',true).text('First Name is required');
      return;
    } else if($('#lName').val()===''){
      d3.select('div#message').classed('error',true).text('Last Name is required');
      return;
    } else if($('#cgrs').val()===''){
      d3.select('div#message').classed('error',true).text('Cgrs is required');
      return;
    } else if($('#tableauCheckbox').is(':checked') && accessUrl.length === 0 &&  ($('#tableauUrl').val() === '' || $('#tableauDropdown').val().length === 0)) {
      d3.select('div#message').classed('error',true).text('Incomplete Tableau Details');
      return;
    } else if($('#tableauCheckbox').is(':checked') && accessUrl.length === 0 && $('#tableauUrl').val().indexOf('/views') !== 0) {
      d3.select('div#message').classed('error',true).text('Tableau URL should start with /views');
      return;
    } else if ($('#tableauCheckbox').is(':checked') && $('#tableauGroup').val() === '') {
      d3.select('div#message').classed('error',true).text('Incomplete Tableau Details. Select a tableau group');
    }

    reqJson.user_access = {
      new: {
        tableau: {
          showNav: $('#tableauCheckbox').is(':checked'),
          accessUrl: accessUrl,
          group: $('#tableauDropdown').val()
        }
      },
      old: {
        tableau: {
          showNav: oldShowNav || false,
          group: oldTableauGroup,
          accessUrl: <%- JSON.stringify(updateUser.user_access.tableau.accessUrl) %>
        }
      }
    }
    reqJson.firstName = $('#fName').val();
    reqJson.lastName = $('#lName').val();
    reqJson.email = $('#email').val();

    const selectedCGRs = $('#cgrs').val();
    reqJson.cgrs = selectedCGRs && selectedCGRs.join ? selectedCGRs.join(',') : selectedCGRs;

    reqJson.phoneNumber = $('#phone').val();
    reqJson.company = $('#company').val();
    reqJson.olderDetail = olderDetail;
    let facilities = [];
    let alerts = [];
    for(i = 1;i<=facilityCount;i++){
      try{

        let facility = d3.select('label#facility'+i).text();
        let notification = $('#facility-'+i+'-checkbox').is(':checked');
        facilities.push(facility.trim());
        alerts.push({facility: facility.trim(), notification: {safetyalert: notification}});
      }catch(e){
        console.log('Deleted State');
      }
    }
    reqJson.facilities = facilities;
    reqJson.alerts = JSON.stringify(alerts);
    let urlString = '';
    if(reqJson.userType === 'new'){
      urlString = `/portal/users/new`;
    }else{
      urlString = '/portal/users/'+id;
    }
    let options = {
      credentials: 'include',
      method:"POST",
      body: JSON.stringify(reqJson),
      headers: {
        'Content-type': 'application/json'
      }
    }
    let data = await d3.json(urlString, options)
    var snackbarContainer = document.querySelector('#snackbar');
    var respData = {message: data.message};
    snackbarContainer.MaterialSnackbar.showSnackbar(respData);
    d3.select('div#message').classed('success',data.count===1).classed('error',data.count!==1).text(data.message);
  }

  function viewUsers(){
    window.location.href = '/portal/users';
  }

  function getTableauAccessUrl() {
    let accessUrl = [];
    for(i = 1;i<=tableauUrlCount;i++){
      try{

        let tabUrl = d3.select('label#tableauUrl'+i).text();
        let dashboardName = d3.select('label#tableauDashboardName'+i).text();
        accessUrl.push({
          url: tabUrl.trim(),
          dashboardName: dashboardName.trim()
        });
      }catch(e){
        console.log('Deleted State');
      }
    }
    return accessUrl;
  }

  function addFacility() {
    let facility = $('#facility').val();
    if(facility !== '') {
      facilityCount++;
      let facilityRowDiv = d3.select('div#facilityRow')
              .append('div').classed('mdl-grid',true).classed('row-height',true).attr('id','row'+facilityCount);
      const facilityContentDiv = facilityRowDiv.append('div').classed('mdl-cell',true).classed('mdl-cell--8-col',true).classed('facility-middle', true);
      facilityContentDiv.append('input').attr('id','facility-'+facilityCount+'-checkbox').attr('type','checkbox').classed('mdl-checkbox__input', true).classed('facility-checkbox', true);
      facilityContentDiv.append('label').attr('id','facility'+facilityCount).classed('facility-name', true).text(facility);

      let btnColDiv = facilityRowDiv.append('div').classed('mdl-cell',true).classed('mdl-cell--1-col',true).classed('facility-middle', true);
      
      let btnIcon = btnColDiv.append('button').classed('mdl-button',true).classed('mdl-js-button', true).classed('mdl-button--icon',true).classed('custom-button',true)
              .on('click',function(){
                let temp = d3.select(this.parentElement.parentNode);
                temp.remove();
              });
      btnIcon.append('i').classed('material-icons',true).text('clear');
      $('#facility').val('');
    }
  }

  function addMultipleTableauAccess() {
    let tableauUrl = $('#tableauUrl').val();
    if(!validateTableauUrl(tableauUrl)) {
      d3.select('div#message').classed('error',true).text('Tableau URL should start with /views');
      return;
    }
    tableauUrlCount++;
    let tableauDashboardName = $('#tableauDashboardName').val();
    if(tableauUrl !== '' && tableauDashboardName !== '') {
      let tableauUrlRow = d3.select('div#tableauMultipleUrl')
              .append('div').classed('mdl-grid',true).classed('row-height',true).classed('custom-mdl-grid', true).attr('id','tableau'+tableauUrlCount);
      tableauUrlRow.append('div').classed('mdl-cell',true).classed('mdl-cell--1-col',true);
      tableauUrlRow.append('div').classed('mdl-cell',true).classed('mdl-cell--5-col',true).append('label').classed('tableau-multi-row-label', true).attr('id','tableauDashboardName'+tableauUrlCount).text(tableauDashboardName);
      tableauUrlRow.append('div').classed('mdl-cell',true).classed('mdl-cell--1-col',true);
      tableauUrlRow.append('div').classed('mdl-cell',true).classed('mdl-cell--4-col',true).append('label').classed('tableau-multi-row-label', true).attr('id','tableauUrl'+tableauUrlCount).text(tableauUrl);
      let btnColDiv = tableauUrlRow.append('div').classed('mdl-cell',true).classed('mdl-cell--1-col',true);
      let btnIcon = btnColDiv.append('button').classed('mdl-button',true).classed('mdl-js-button', true).classed('mdl-button--icon',true).classed('custom-button',true)
              .on('click',function(){
                let temp = d3.select(this.parentElement.parentNode);
                temp.remove();
              });
      btnIcon.append('i').classed('material-icons',true).text('clear');
      $('#tableauUrl').val('');
      $('#tableauDashboardName').val('');
    } else {
      d3.select('div#message').classed('error',true).text('Missing Tableau Url or Dashboard Name');
      return;
    }
  }

  function validateTableauUrl(url) {
    if(url.indexOf('/views') === 0) {
      return true;
    } else {
      return false;
    }
  }

  function removeFacility(facility){
    let temp = d3.select(facility.parentElement.parentNode);
    temp.remove();
  }

  function removeTableauUrl(url) {
    let temp = d3.select(url.parentElement.parentNode);
    temp.remove();
  }
</script>
</html>
