doctype html
html
    head
        title Atollogy Report Portal
        base(href='/portal/')
        meta(charset='utf-8')
        meta(name='viewport', content='width=device-width, initial-scale=1, maximum-scale=1')
        meta(http-equiv='content-type', content='text/html; charset=UTF-8')
        link(rel='shortcut icon', href='/favicon.ico', type='image/x-icon')
        link(rel='stylesheet', href='//maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css')
        link(rel='stylesheet', href='//fonts.googleapis.com/css?family=Montserrat:100,100i,200,200i,300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i&subset=latin-ext')
        link(rel='stylesheet', href='vendor/bootstrap-4.1.min.css', type='text/css')
        link(rel='stylesheet', href='stylesheets/style_ejs.css', type='text/css')
        script(type='text/javascript', src='vendor/jquery-latest.min.js')
        script(type='text/javascript', src='js/register.js')
        script(src='vendor/bootstrap.bundle.min.js')
    body
        if user != null
            .header
                .wrap
                    .logo
                        a(href=user.homePage)
                            img(src='image/logo/#{user.employeeType}')
                    .logout.menuItem
                        .inside: .table
                            .tableCell: h2= user.displayName
                            .tableCell.lastDown
                                span.fa-stack.fa-1x
                                    i.openLogout.fa.fa-angle-down
                        .submenu
                            h2= user.displayName
                            h3 #{user.title} at #{user.ou}
                            a(href='/portal/logout'): button Log out
                            table
                                tr
                                    td.first.gray EMAIL
                                    td.first.aRight
                                        a(href='mailto:#{user.mail}')= user.mail
                                tr
                                    td.gray PHONE
                                    td.aRight= user.telephoneNumber
                                tr
                                    td.gray ADDRESS
                                    td.aRight
                                        p #{user.street},
                                        p #{user.l},
                                        p #{user.st},
                                        p #{user.postalCode}
                    .alerts.menuItem
                        .inside
                            span.fa-stack.fa-1x
                                i.fa.fa-envelope-o(aria-hidden='true')
                            .notification &nbsp;
                    .info.menuItem: .inside: i.fa.fa-info-circle(aria-hidden='true')
                    .clear

        block content

        div
            .clear
            .clear
            script(type='text/javascript', src='discovery/index.js')
            script(type='text/javascript', src='js/request.js')
            script(type='text/javascript', src='js/register.js')
            script(type='text/javascript', src='js/script.js')
            script(src='vendor/bootstrap.bundle.min.js')
