<!DOCTYPE html>
<html>
<head>
    <title>Configure Device</title>
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    <link rel="stylesheet" href="https://code.getmdl.io/1.3.0/material.indigo-pink.min.css">
    <script defer src="https://code.getmdl.io/1.3.0/material.min.js"></script>
    <script src="/portal/vendor/jquery-3.3.1.min.js"></script>
</head>
<style>
    * {
        font-family: Arial,Helvetica,sans-serif;
    }
    div.horizontal-center-align{
        display: flex;
        justify-content:center
    }
    div.error{
        font-size: 1.2em;
        color: gray;
    }

</style>
<body>
<div class="mdl-grid">
    <div class="mdl-cell mdl-cell--3-col"></div>
    <div class="mdl-cell mdl-cell--6-col horizontal-center-align error">
        <%=error%>
    </div>
    <div class="mdl-cell mdl-cell--2-col"></div>
</div>
<script src="https://d3js.org/d3.v5.min.js"></script>
<script src="/portal/js/moment.min.js"></script>
<script language="javascript">

</script>
</body>
</html>