extends layout

block content
    .wrapper.login-wrapper
        if (messages)
            div#messages
                for message in messages
                    span.message.warning= message
        form#login.form-login(method='post')
            table
                tr
                    td
                        div.input-common
                            div.label Email:
                            input#email-login.top-margin10.login.field(type='text' name="email")
                tr
                    td
                        div.input-common
                            div.label Password:
                            input.top-margin10.login.field(type='password', name='password')
                tr
                    td.align-right(colspan="2")
                        a(href="#" data-toggle='modal', data-target='#forgotPwd')
                            h6.top-margin10 Forgot Password?
                tr
                    td.align-center(colspan="2")
                        button.btn.login-btn.top-margin15(onclick="login()" type="submit")
                            | Submit


    //Modal
    .modal.fade#forgotPwd(tabindex='-1', role='dialog')
        .modal-dialog-centered.modal-dialog.modal-lg
            .modal-content
                .modal-body
                    .row
                        .col-11
                            div.header-text Forgot Password
                        .col-1
                            button.close(data-dismiss="modal")
                                span &times;
                    .div
                        div.input-common
                            label(for='email') Enter Email Address:
                            input#email.form-control(type='email', placeholder='name@email.com' name='email' required=true)

                    .row.justify-content-center
                        .col-12#message


                .modal-footer.justify-content-center
                    button.btn.btn-secondary.login-btn#verifyBtn(onclick="verifyEmail()")
                        | Verify
