<!DOCTYPE html>
<html>
<head>
    <title>Configure Device</title>
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    <link rel="stylesheet" href="https://code.getmdl.io/1.3.0/material.indigo-pink.min.css">
    <script defer src="https://code.getmdl.io/1.3.0/material.min.js"></script>
    <script src="/portal/vendor/jquery-3.3.1.min.js"></script>
</head>
<style>
    .demo-card-wide.mdl-card {
        width: 1024px;
        height: auto;

    }
    .demo-card-wide {
        height: 200px;
    }


    .demo-card-wide > .mdl-card__title {
        color: #fff;
        height: 64px;
        background-color:#303F9F;
    }

    .mdl-card__title-text {
        position: relative;
        top: 6px;

    }

    .demo-card-wide > .mdl-card__menu {
        color: #fff;
    }

    #mycard {
        height: auto;
        width:100%;
        display:flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        margin-top: 20px;
        margin-bottom: 30px;
    }
    div.example{
        font-size: 0.8em;
        color: #aaa;
    }
    div.textfield-height{
        height: 50px;
    }
    div.mdl-grid{
        height: 70px;
    }
    span.tooltip-width{
        max-width: 250px;
    }
    div.row-height{
        height: 20px;
    }
    button.add-state-btn{
        margin-top: 10px;
    }
    div.sample-color{
        height: 10px;
        width: 10px;
        display: inline-block;
        margin-left: 20px;
    }
    div.button-align-right{
       float: right;
        left:650px;
        position: relative;
    }
    div.menu-height{
        height:auto;
    }
    ul.drop-down-menu-scroll{
        height: 600px;
        overflow-y: scroll;
    }
    ul.menu-scroll{
        height: 700px;
        overflow-y: scroll;
    }
    div.success{
        color:#1e7e34;
    }
    div#message{
        left: 30px;
        position: relative;
    }
    .custom-button{
        position: relative;
        bottom:6px;
    }
    .color-picker{
        width:2.5em;
        height:1em;
        padding:0px;
    }
</style>
<body>
<div id ="mycard">

    <div class="demo-card-wide mdl-card mdl-shadow--2dp">
        <div class="mdl-card__title">
            <h3 class="mdl-card__title-text">Report Configurations</h3>
            <div class="button-align-right">
                <button id="demo-menu-lower-left" class="mdl-button mdl-js-button mdl-button--icon">
                <i class="material-icons">view_list</i>
                </button>
                <a id="homepage" class="mdl-button mdl-js-button mdl-button--icon" href="/portal/reports/homepage">
                    <i class="material-icons">home</i>
                </a>
                <ul class="mdl-menu mdl-menu--bottom-left mdl-js-menu mdl-js-ripple-effect menu-scroll"
                    for="demo-menu-lower-left">
                    <%for(let i in cgrs){%>
                    <li class="mdl-menu__item" onclick="viewConfigs('<%=cgrs[i]%>')"><%=cgrs[i]%></li>
                    <%}%>
                </ul>
                <span for="demo-menu-lower-left" class="mdl-tooltip tooltip-width">View Configs</span>
                <span for="homepage" class="mdl-tooltip tooltip-width">Home</span>
            </div>
        </div>


        <div class="mdl-card__supporting-text">
            <div class="mdl-grid">
                <div class="mdl-cell mdl-cell--1-col"></div>
                <div class="mdl-cell mdl-cell--5-col">
                    <div class="textfield-height">
                        <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
                            <input class="mdl-textfield__input" type="text" id="facilityName" value="<%=facility%>">
                            <label class="mdl-textfield__label" for="sample3">Facility Name</label>
                            <span for="facilityName" class="mdl-tooltip">e.g. South Bay</span>
                        </div>
                    </div>
                    <!--<div class="example"><i>e.g. Mill 5, Mill 6, Mill 12</i></div>-->
                </div>
                <div class="mdl-cell mdl-cell--1-col"></div>
                <div class="mdl-cell mdl-cell--5-col">
                    <div class="textfield-height">
                        <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label getmdl-select menu-overflow">
                            <input type="text" class="mdl-textfield__input mdc-text-field-icon" name="cgrs" value="<%=cgr%>" id="cgrs" readonly required >
                            <label for="cgrs" class="mdl-textfield__label" id="cgrsLabel">CGRs</label>
                            <ul for="cgrs" class="mdl-menu mdl-menu--bottom-left mdl-js-menu menu-height drop-down-menu-scroll">
                                <%for(let i in cgrs) {%>
                                <li class="mdl-menu__item" data-val="<%=cgrs[i]%>" onclick="setCgrTextField('<%=cgrs[i]%>')"><%=cgrs[i]%></li>
                                <%}%>
                            </ul>
                        </div>
                    </div>
                    <!--<div class="example"><i>e.g. Mill 5, Mill 6, Mill 12</i></div>-->
                </div>
            </div>

            <div class="mdl-grid">
                <div class="mdl-cell mdl-cell--1-col"></div>
                <div class="mdl-cell mdl-cell--5-col">
                    <div class="textfield-height">
                        <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
                            <input class="mdl-textfield__input" type="text" id="gwName" value="<%=gwName%>">
                            <label class="mdl-textfield__label" for="sample3">Gateway Name</label>
                            <span for="gwName" class="mdl-tooltip tooltip-width">e.g. Mills 5,12 - Overhead, Mill 5 - Whiteboard</span>
                        </div>
                    </div>
                    <!--<div class="example"><i>e.g. Mills 5,12 - Overhead, Mill 5 - Whiteboard</i></div>-->
                </div>

                <div class="mdl-cell mdl-cell--1-col"></div>
                <div class="mdl-cell mdl-cell--5-col">
                    <div class="textfield-height">
                        <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
                            <input class="mdl-textfield__input" type="text" id="subjectName" value="<%=subjectName%>">
                            <label class="mdl-textfield__label" for="sample3">Subject Name</label>
                            <span for="subjectName" class="mdl-tooltip">e.g. Mill 5, Mill 6, Mill 12</span>
                        </div>
                    </div>
                    <!--<div class="example"><i>e.g. Mill 5, Mill 6, Mill 12</i></div>-->
                </div>

            </div>

            <div class="mdl-grid">
                <div class="mdl-cell mdl-cell--1-col"></div>
                <div class="mdl-cell mdl-cell--5-col">
                    <div class="textfield-height">
                        <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
                            <input class="mdl-textfield__input" type="text" id="stepName" value="<%=stepName%>">
                            <label class="mdl-textfield__label" for="sample3">Step Name</label>
                            <span for="stepName" class="mdl-tooltip tooltip-width">e.g. operator_at_mill_5, mill_13_sticker</span>
                        </div>
                    </div>
                    <!--<div class="example"><i>e.g. operator_at_mill_5, mill_13_sticker</i></div>-->
                </div>

                <div class="mdl-cell mdl-cell--1-col"></div>
                <div class="mdl-cell mdl-cell--5-col">
                    <div class="textfield-height">
                        <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
                            <input class="mdl-textfield__input" type="text" id="measureName" value="<%=measureName%>">
                            <label class="mdl-textfield__label" for="sample3">Measure Name</label>
                            <span for="measureName" class="mdl-tooltip tooltip-width">e.g. operator, door, operator card, bulb</span>
                        </div>
                    </div>
                    <!--<div class="example"><i>e.g. operator, door, operator card, bulb</i></div>-->
                </div>

            </div>
            <div class="mdl-grid">
                <div class="mdl-cell mdl-cell--1-col"></div>
                <div class="mdl-cell mdl-cell--5-col">
                    <div class="textfield-height">
                        <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
                            <input class="mdl-textfield__input" type="text" id="camId" value="<%=camId%>">
                            <label class="mdl-textfield__label" for="sample3">Camera ID</label>
                            <span for="camId" class="mdl-tooltip tooltip-width">e.g. video0</span>
                        </div>
                    </div>
                    <!--<div class="example"><i>e.g. Mills 5,12 - Overhead, Mill 5 - Whiteboard</i></div>-->
                </div>
            </div>
            <div class="mdl-grid">
                <div class="mdl-cell mdl-cell--1-col"></div>
                <div class="mdl-cell mdl-cell--5-col">
                    <div class="textfield-height">
                        <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
                            <input class="mdl-textfield__input" type="text" id="extractType" value="<%=extractType%>">
                            <label class="mdl-textfield__label" for="extarctType">Extract Type</label>
                            <span for="extractType" class="mdl-tooltip tooltip-width">e.g. bbox, state, haas_mill_composite, color_state</span>
                        </div>
                    </div>
                    <!--<div class="example"><i>e.g. operator, door, operator card, bulb</i></div>-->
                </div>
                <div class="mdl-cell mdl-cell--1-col"></div>
                <div class="mdl-cell mdl-cell--5-col">
                    <div class="textfield-height">
                        <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
                            <input class="mdl-textfield__input" type="text" id="extractKey" value="<%=extractKey%>">
                            <label class="mdl-textfield__label" for="sample3">Extract Key</label>
                            <span for="extractKey" class="mdl-tooltip tooltip-width">e.g. person, position, card_state</span>
                        </div>
                    </div>
                    <!--<div class="example"><i>e.g. Mills 5,12 - Overhead, Mill 5 - Whiteboard</i></div>-->
                </div>
            </div>

            <div class="mdl-grid">
                <div class="mdl-cell mdl-cell--1-col"></div>
                <div class="mdl-cell mdl-cell--5-col">
                    <div class="textfield-height">
                        <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
                            <input class="mdl-textfield__input" type="text" id="logoName" value="<%=logoName%>">
                            <label class="mdl-textfield__label" for="sample3">Icon Name</label>
                            <span for="logoName" class="mdl-tooltip tooltip-width">e.g. activity.png, bulb.png</span>
                        </div>
                    </div>

                </div>

                <div class="mdl-cell mdl-cell--1-col"></div>
                <div class="mdl-cell mdl-cell--5-col">
                    <div class="textfield-height">
                        <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
                            <input class="mdl-textfield__input" type="text" id="imgInterval" value="<%=imgInterval%>">
                            <label class="mdl-textfield__label" for="sample3">Image Link Interval</label>
                            <span for="imgInterval" class="mdl-tooltip">e.g 10, 20 (Default 30 mins)</span>
                        </div>
                    </div>

                </div>

            </div>

            <div class="mdl-grid">
                <div class="mdl-cell mdl-cell--1-col"></div>
                <div class="mdl-cell mdl-cell--5-col">
                    <div class="textfield-height">
                        <label class="mdl-switch mdl-js-switch mdl-js-ripple-effect" for="showImgSwitch">
                            <span class="mdl-switch__label"> Extract Image Name</span>
                            <%if(extractImgName!==null){%>
                                <input type="checkbox" id="showImgSwitch" class="mdl-switch__input" checked onchange="hideShowInputField(this.checked)">
                            <%}else{%>
                                <input type="checkbox" id="showImgSwitch" class="mdl-switch__input" onchange="hideShowInputField(this.checked)">
                            <%}%>
                        </label>

                    </div>
                    <!--<div class="example"><i>e.g. operator, door, operator card, bulb</i></div>-->
                </div>
                <div class="mdl-cell mdl-cell--1-col"></div>
                <div class="mdl-cell mdl-cell--5-col">
                    <div class="textfield-height" id="extractImgDiv">
                        <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
                            <%if(extractImgName!==null){%>
                                <input class="mdl-textfield__input" type="text" id="extractImgName" value="<%=extractImgName%>">
                            <%}else{%>
                                <input class="mdl-textfield__input" type="text" id="extractImgName" value="<%=extractImgName%>" disabled>
                            <%}%>
                            <label class="mdl-textfield__label" for="extractType">Extract Image Name</label>
                            <span for="extarctImgName" class="mdl-tooltip tooltip-width">e.g. anonymous.jpg, image.jpg</span>
                        </div>
                    </div>
                    <!--<div class="example"><i>e.g. Mills 5,12 - Overhead, Mill 5 - Whiteboard</i></div>-->
                </div>
            </div>

            <div id="stateRow">
                <%let stateCount=0;
                if(states!==null){

                    let stateKey = Object.keys(states);
                    stateCount = stateKey.length;
                    for(let i in stateKey){%>
                      <div class="mdl-grid row-height" id="row<%=Number(i)+1%>">
                          <div class="mdl-cell mdl-cell--1-col"></div>
                          <div class="mdl-cell mdl-cell--3-col">
                              <label id="state<%=Number(i)+1%>"><%=stateKey[i]%></label>
                          </div>
                          <div class="mdl-cell mdl-cell--3-col">
                              <label id="csLabel<%=Number(i)+1%>"><%=states[stateKey[i]].cs_label%></label>
                          </div>
                          <div class="mdl-cell mdl-cell--3-col">
                              <label id="color<%=Number(i)+1%>">
                                  <%=states[stateKey[i]].color%>
                              </label>
                              <input class="color-picker" type="color" value="<%=states[stateKey[i]].color%>" onchange="updateColorDiv(this)">
                          </div>
                          <div class="mdl-cell mdl-cell--1-col"></div>
                          <div class="mdl-cell mdl-cell--1-col">
                              <button class="mdl-button mdl-js-button mdl-button--icon custom-button custom-button" onclick="removeState(this)">
                                  <i class="material-icons">clear</i>
                              </button>
                          </div>
                      </div>
                    <%}
                }%>


            </div>

            <div class="mdl-grid">
                <div class="mdl-cell mdl-cell--1-col"></div>
                <div class="mdl-cell mdl-cell--3-col">
                    <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
                        <input class="mdl-textfield__input" type="text" id="state">
                        <label class="mdl-textfield__label" for="extarctType">State</label>
                        <span for="state" class="mdl-tooltip tooltip-width">e.g. Present, Open, Running, Solid Green</span>
                    </div>
                </div>

                <div class="mdl-cell mdl-cell--3-col">
                    <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
                        <input class="mdl-textfield__input" type="text" id="csLabel">
                        <label class="mdl-textfield__label" for="extarctType">CS Label</label>
                        <span for="csLabel" class="mdl-tooltip tooltip-width">e.g. Present, Open, Running, Solid Green</span>
                    </div>
                </div>

                <div class="mdl-cell mdl-cell--3-col">
                    <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
                        <input class="mdl-textfield__input" type="color" id="color" value="#a0a09c">
                        <label class="mdl-textfield__label" for="extarctType">Color</label>
                        <span for="color" class="mdl-tooltip tooltip-width">Select color from the picker</span>
                    </div>
                </div>
                <div class="mdl-cell mdl-cell--1-col"></div>
                <div class="mdl-cell mdl-cell--1-col">
                    <button class="mdl-button mdl-js-button mdl-button--fab mdl-button--mini-fab mdl-button--primary add-state-btn" onclick="addState()">
                        <i class="material-icons">add</i>
                    </button>
                </div>
            </div>

            <div class="mdl-grid">
                <div class="mdl-cell mdl-cell--5-col"></div>
                <div class="mdl-cell mdl-cell--2-col">
                    <button class="mdl-button mdl-js-button mdl-button--raised mdl-button--colored" onclick="saveConfigs()">
                        Save Configurations
                    </button>
                </div>
            </div>
            <div class="mdl-grid">
                <div class="mdl-cell mdl-cell--4-col"></div>
                <div id="message">

                </div>
            </div>
        </div>
    </div>
    <div id="snackbar" class="mdl-js-snackbar mdl-snackbar">
        <div class="mdl-snackbar__text"></div>
        <button class="mdl-snackbar__action" type="button"></button>
    </div>
</div>
</body>
<script src="https://d3js.org/d3.v5.min.js"></script>
<script src="/portal/js/moment.min.js"></script>
<script language="javascript">

    // $('#extractImgDiv').hide();
    let oldSubjectName = '<%=subjectName%>';
    let oldMeasureName = '<%=measureName%>';
    let oldFacility = '<%=facility%>';
    let stateCount = Number('<%=stateCount%>');
    let reportType = '<%=reportType%>';
    function hideShowInputField(switchState){
      if(switchState)
      {
        $('#extractImgName').prop('disabled',false);
        // $('#extractImgDiv').show();
      }else{
        $('#extractImgName').val('');
        $('#extractImgName').prop('disabled',true);
        // $('#extractImgDiv').hide();
      }
      componentHandler.upgradeDom();
    }

    // let stateCount = 0;


    function addState(){
      let state = $('#state').val();
      let csLabel = $('#csLabel').val();
      let color = $('#color').val();
      if(state!== '' && csLabel!== ''){
        stateCount++;
        let stateRowDiv = d3.select('div#stateRow')
          .append('div').classed('mdl-grid',true).classed('row-height',true).attr('id','row'+stateCount);
        stateRowDiv.append('div').classed('mdl-cell',true).classed('mdl-cell--1-col',true);
        stateRowDiv.append('div').classed('mdl-cell',true).classed('mdl-cell--3-col',true).append('label').attr('id','state'+stateCount).text(state);
        stateRowDiv.append('div').classed('mdl-cell',true).classed('mdl-cell--3-col',true).append('label').attr('id','csLabel'+stateCount).text(csLabel);
        let colorPicker = stateRowDiv.append('div').classed('mdl-cell',true).classed('mdl-cell--3-col',true)
        colorPicker.append('label').attr('id','color'+stateCount).text(color)
        colorPicker.append('input').attr('type','color').classed('color-picker',true).attr('value',color);
        stateRowDiv.append('div').classed('mdl-cell',true).classed('mdl-cell--1-col',true);
        let btnColDiv = stateRowDiv.append('div').classed('mdl-cell',true).classed('mdl-cell--1-col',true);
        let btnIcon = btnColDiv.append('button').classed('mdl-button',true).classed('mdl-js-button', true).classed('mdl-button--icon',true).classed('custom-button',true)
          .on('click',function(){
            let temp = d3.select(this.parentElement.parentNode);
            temp.remove();
          });
        btnIcon.append('i').classed('material-icons',true).text('clear');
        $('#state').val('');
        $('#csLabel').val('');
        $('#color').val('#a0a09c');
      }
      let colorInputPicker = document.querySelectorAll('.color-picker');
      for (var i = 0; i < colorInputPicker.length; i++) {
        colorInputPicker[i].addEventListener('change', function(event) {
          let colorChange = $(event.target).val();
          $(event.target).siblings().text(colorChange);
        });
      }

    }

    function saveConfigs(){
        let reqJson = {};
        reqJson.facilityName = $('#facilityName').val();
        reqJson.cgrs = $('#cgrs').val();
        reqJson.gwName = $('#gwName').val();
        reqJson.subjectName = $('#subjectName').val();
        reqJson.stepName = $('#stepName').val();
        reqJson.measureName = $('#measureName').val();
        reqJson.camId = $('#camId').val();
        reqJson.extractType = $('#extractType').val();
        reqJson.extractKey = $('#extractKey').val();
        reqJson.oldSubject = oldSubjectName;
        reqJson.oldMeasure = oldMeasureName;
        reqJson.oldFacility = oldFacility;
        reqJson.csConfig = {};
        let showImgSwicth = $('#showImgSwitch').prop('checked');
        if(showImgSwicth){
          reqJson.extractImgName = $('#extractImgName').val();
        }else{
          reqJson.extractImgName = '';
        }
        let stateObj = {};

        for(i = 1;i<=stateCount;i++){
          try{
            let obj = {};
            let state = d3.select('label#state'+i).text();
            let csLabel = d3.select('label#csLabel'+i).text();
            let color = d3.select('label#color'+i).text();
            obj.cs_label = csLabel.trim();
            obj.color = color.trim();
            stateObj[state.trim()]   = obj;
            // stateObjArr.push(stateObj);
            reqJson.states = stateObj;
          }catch(e){
            console.log('Deleted State');
          }

        }
      reqJson.csConfig.states = stateObj;
      reqJson.reportType = reportType;
      reqJson.csConfig.image_name = $('#logoName').val();
      reqJson.csConfig.img_interval = $('#imgInterval').val() ? Number($('#imgInterval').val()) : 30;
      d3.json('/portal/config/updateConfig', {
          method: 'POST',
          body: JSON.stringify(reqJson),
          headers: { 'Content-Type': 'application/json' }
        }).then( function(data){
          oldSubjectName = reqJson.subjectName;
          oldMeasureName = reqJson.measureName;
          oldFacility = reqJson.facilityName;
          var snackbarContainer = document.querySelector('#snackbar');
          var data = {message: 'Configurations saved!'};
          snackbarContainer.MaterialSnackbar.showSnackbar(data);
          d3.select('div#message').classed('success',true).text(`Configuration for ${$('#cgrs').val()} saved successfully.`);
        });
    }

    function viewConfigs(cgr){
        window.location.href='/portal/config/renderConfig/'+cgr;
    }
    function setCgrTextField(cgr){
      d3.select('#cgrs').attr('value',cgr);
      d3.select('#cgrsLabel').remove();
    }

    function removeState(state){
      console.log(state);
      let temp = d3.select(state.parentElement.parentNode);
      temp.remove();
    }

    function hexToRgbA(hex){
      var c;
      if(/^#([A-Fa-f0-9]{3}){1,2}$/.test(hex)){
        c= hex.substring(1).split('');
        if(c.length== 3){
          c= [c[0], c[0], c[1], c[1], c[2], c[2]];
        }
        c= '0x'+c.join('');
        return 'rgba('+[(c>>16)&255, (c>>8)&255, c&255].join(',')+',1)';
      }
      throw new Error('Bad Hex');
    }


    function updateColorDiv(event){
      $(event).siblings().text($(event).val())
    }

</script>
</html>