<!DOCTYPE html>
<html>
<head>
    <title>Reset Password</title>
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    <link rel="stylesheet" href="https://code.getmdl.io/1.3.0/material.indigo-pink.min.css">
    <script defer src="https://code.getmdl.io/1.3.0/material.min.js"></script>
    <script src="/portal/vendor/jquery-3.3.1.min.js"></script>
</head>
<style>
    * {
        font-family: Arial,Helvetica,sans-serif;
    }
    div.mdl-card__title{
        background-color: #303F9F;
        color: white;
    }
    div.horizontal-center-align{
        display: flex;
        justify-content:center
    }
    div.error > p{
        color:red;
    }
    div.success > p{
        color:#1e7e34;
    }
    div.strongPwd{
        font-size: 0.7em;
        color: #aaa;
    }
    i.check{
        color: #1e7e34;
    }

</style>
<body>
<div class="mdl-grid">
    <div class="mdl-cell mdl-cell--4-col"></div>
    <div class="mdl-cell mdl-cell--6-col">
        <div class="demo-card-square mdl-card mdl-shadow--2dp">
            <div class="mdl-card__title mdl-card--expand">
                <h2 class="mdl-card__title-text">Reset Password</h2>
            </div>
            <form class="form-card">
            <div class="mdl-card__supporting-text">
                <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
                    <input class="mdl-textfield__input" type="password" id="newPwd" onkeyup="validateStrongPassword()">
                    <label class="mdl-textfield__label" for="resetPwd">New Password</label>
                </div>
                <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
                    <input class="mdl-textfield__input" type="password" id="confirmPwd">
                    <label class="mdl-textfield__label" for="confirmPwd">Confirm Password</label>
                </div>
                <div class="mdl-grid horizontal-center-align" id="resetMessage">

                </div>
                <div class="mdl-grid horizontal-center-align strongPwd" id="strongPwd">
                    <i id="lowerCase">Password should contain atleast 1 lowercase character</i>
                    <i id="upperCase">Password should contain atleast 1 uppercase character</i>
                    <i id="numeric">Password should contain atleast 1 numeric character</i>
                    <i id="specialChar">Password should contain atleast 1 special character (!@#$%^&*)</i>
                    <i id="minimumChar">Password must be minimum 8 character or longer</i>
                </div>
            </div>
            </form>
            <div class="mdl-card__actions horizontal-center-align">
                <button id="resetBtn" class="mdl-button mdl-button--colored mdl-js-button mdl-js-ripple-effect footer-align-right" onclick="resetPwd()">
                    Reset Password
                </button>
            </div>
        </div>
    </div>
    <div class="mdl-cell mdl-cell--2-col"></div>
</div>
<script src="https://d3js.org/d3.v5.min.js"></script>
<script src="/portal/js/moment.min.js"></script>
<script language="javascript">
  function resetPwd(){
    let newPwd = $('#newPwd').val();
    let confirmPwd = $('#confirmPwd').val();
    let urlSplit = window.location.pathname.split('/');
    let token = urlSplit[urlSplit.length-1];
    if(!validateStrongPassword()){
      return;
    }else if(newPwd === confirmPwd){
      let reqJSON = {
        pwd:newPwd,
        token:token
      }

      d3.json('/portal/reset/finish-reset', {
        method: 'POST',
        body: JSON.stringify(reqJSON),
        headers: { 'Content-Type': 'application/json' }
      }).then((theResponseObject) => {
        theResponseObject = Object.assign({}, theResponseObject);
        if (theResponseObject.flashMessage === 'success') {
          d3.select('#strongPwd').html('');
          let resetDiv = d3.select('#resetMessage').classed('success',true);
          resetDiv.html("");
          resetDiv.append('p').text('Your password has been reset successfully. ');
          resetDiv.append('a').attr('href','/login').text('Click here to go to Login page.');
          d3.select('#resetBtn').attr('disabled',true);
        } else {
          let resetDiv = d3.select('#resetMessage').classed('error',true);
          resetDiv.html("");
          resetDiv.append('p').text('There was an error in reseting you password.');
          resetDiv.append('p').text('Please try again.');
        }
      });
    }else{
      let resetDiv = d3.select('#resetMessage').classed('error',true);
      resetDiv.html("");
      resetDiv.append('p').text('Passwords do not match. ');
    }

  }

  function validateStrongPassword(){
    let newPwd = $('#newPwd').val();
    let lowerCaseRegex = new RegExp("^(?=.*[a-z])");
    let upperCaseRegex = new RegExp("^(?=.*[A-Z])");
    let numericRegex = new RegExp("^(?=.*[0-9])");
    let specialCharRegex = new RegExp("^(?=.*[!@#$%^&*])");
    let minimumLengthRefex = new RegExp("^(?=.{8,})");
    let isValid = true;
    if(!lowerCaseRegex.test(newPwd)){
      d3.select('#lowerCase').classed('check',false);
      isValid=false;
    }else {
      d3.select('#lowerCase').classed('check',true);
    }
    if(!upperCaseRegex.test(newPwd)){
      d3.select('#upperCase').classed('check',false);
      isValid=false;
    }else{
      d3.select('#upperCase').classed('check',true);
    }
    if(!numericRegex.test(newPwd)){
      d3.select('#numeric').classed('check',false);
      isValid=false;
    }else {
      d3.select('#numeric').classed('check',true);
    }
    if(!specialCharRegex.test(newPwd)){
      d3.select('#specialChar').classed('check',false);
      isValid=false;
    }else{
      d3.select('#specialChar').classed('check',true);
    }
    if(!minimumLengthRefex.test(newPwd)){
      d3.select('#minimumChar').classed('check',false);
      isValid=false;
    }else{
      d3.select('#minimumChar').classed('check',true);
    }
    if(isValid){
      return true;
    }else{
      return false;
    }

  }
</script>
</body>
</html>