<!DOCTYPE html>
<html>
<head>
  <title>Users List</title>
  <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
  <link rel="stylesheet" href="https://code.getmdl.io/1.3.0/material.indigo-pink.min.css">
  <script defer src="https://code.getmdl.io/1.3.0/material.min.js"></script>
  <script src="/portal/vendor/jquery-3.3.1.min.js"></script>
</head>
<style>
  div#configs {
    height: auto;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
    margin: 20px 60px;
    padding-bottom: 30px;
  }

  div.content {
    padding: 0 50px;
    display: none;
    overflow: hidden;
    background-color: #f1f1f1;
  }

  td.td-width {
    background-color: #eee;
    width: 100%;
  }

  .new-configs-btn {
    margin-bottom: 20px;
    float: left;
  }

  #report-title {

    font-size: 1.3em;
    color: gray;
  }

  .mdl-dialog {
    border: none;
    box-shadow: 0 9px 46px 8px rgba(0, 0, 0, 0.14), 0 11px 15px -7px rgba(0, 0, 0, 0.12), 0 24px 38px 3px rgba(0, 0, 0, 0.2);
    width: 380px;
  }

  .mdl-dialog__title {
    padding: 24px 24px 0;
    margin: 0;
    font-size: 2.5rem;
  }

  .mdl-dialog__actions {
    padding: 8px 8px 8px 24px;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-direction: row-reverse;
    -ms-flex-direction: row-reverse;
    flex-direction: row-reverse;
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
  }

  .mdl-dialog__actions > * {
    margin-right: 8px;
    height: 36px;
  }

  .mdl-dialog__actions > *:first-child {
    margin-right: 0;
  }

  .mdl-dialog__actions--full-width {
    padding: 0 0 8px 0;
  }

  .mdl-dialog__actions--full-width > * {
    height: 48px;
    -webkit-flex: 0 0 100%;
    -ms-flex: 0 0 100%;
    flex: 0 0 100%;
    padding-right: 16px;
    margin-right: 0;
    text-align: right;
  }

  .mdl-dialog__content {
    padding: 20px 24px 24px 24px;
    color: rgba(0, 0, 0, 0.54);
  }

  .switch {
    position: relative;
    display: inline-block;
    width: 50px;
    height: 25px;
  }

  .switch input {
    opacity: 0;
    width: 0;
    height: 0;
  }

  .slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
  }

  .slider:before {
    position: absolute;
    content: "";
    height: 17px;
    width: 18px;
    left: 2px;
    bottom: 4px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
  }

  input:checked + .slider {
    background-color: #2196F3;
  }

  input:focus + .slider {
    box-shadow: 0 0 1px #2196F3;
  }

  input:checked + .slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
  }

  /* Rounded sliders */
  .slider.round {
    border-radius: 34px;
  }

  .slider.round:before {
    border-radius: 50%;
  }

  .col-remove {
    text-align: center !important;
  }

  .material-icons.sort {
    font-size: 20px;
    position: absolute;
    margin-left: 5px;
  }
  .mdl-data-table__cell--non-numeric.sort-col[data-sort='username'], .mdl-data-table__cell--non-numeric.sort-col[data-sort='full_name'] {
    cursor: pointer;
  }

  #homepage{
    color: gray
  }

  .btn-normal-text {
    text-transform: none !important;
  }
</style>
<body>
<div id="configs">
  <div class="mdl-grid">
    <div class="mdl-layout-spacer"></div>
    <div class="mdl-cell mdl-cell--1-col"></div>
    <div class="mdl-cell mdl-cell--5-col" id="report-title">Atollogy Users List</div>
    <%if(user.cgrs[0] === 'atl'){%>
      <button class="mdl-button mdl-js-button mdl-button--raised mdl-button--colored new-configs-btn btn-normal-text" onclick="addNewUser()">
        Add User
      </button>
      <a id="homepage" class="mdl-button mdl-js-button mdl-button--icon" href="/portal/reports/homepage">
        <i class="material-icons">home</i>
      </a>
    <%}%>
    <div class="mdl-layout-spacer"></div>
    <div class="mdl-cell mdl-cell--2-col"></div>
  </div>
  <div class="mdl-grid">
    <div class="mdl-layout-spacer"></div>
    <table class="mdl-data-table mdl-js-data-table mdl-shadow--2dp" id="mdl-table">
      <thead>
      <tr>
        <th class="mdl-data-table__cell--non-numeric" data-sort="userId">UserID</th>
        <th class="mdl-data-table__cell--non-numeric sort-col" data-sort="full_name">Name
          <i class="material-icons sort"></i>
        </th>
        <th class="mdl-data-table__cell--non-numeric sort-col" data-sort="username"">Email
          <i class="material-icons sort"></i>
        </th>
        <th class="mdl-data-table__cell--non-numeric" data-sort="facilities">Facilities</th>
        <th class="mdl-data-table__cell--non-numeric" data-sort="phoneNo">Phone No.</th>
        <th class="mdl-data-table__cell--non-numeric">Edit</th>
        <th class="mdl-data-table__cell--non-numeric">Account Status</th>
      </tr>
      </thead>
      <tbody id="body-data">
      <% for(let i in res){ %>

      <tr class="collapsible" data-toggle="toggle">
        <td data-label="userId" class="mdl-data-table__cell--non-numeric"><%= res[i].id %></td>
        <td data-label="fName" class="mdl-data-table__cell--non-numeric"><%= res[i].full_name %></td>
        <td data-label="Email" class="mdl-data-table__cell--non-numeric"><%= res[i].username %></td>
        <td data-label="facilities" class="mdl-data-table__cell--non-numeric" style="padding: 0px 0px;">
          <%if(res[i].permitted_facilities && res[i].permitted_facilities.length){%>
          <ol style="padding-left: 30px">
            <%for(let j in res[i].permitted_facilities){%>
              <li><%=res[i].permitted_facilities[j]%></li>
              <%}%>
          </ol>
          <%}%>
        </td>
        <td data-label="Phone" class="mdl-data-table__cell--non-numeric"><%= res[i].phone_number %></td>
        <td data-label="Edit">
          <button class="mdl-button mdl-js-button mdl-button--icon" onclick="editUser(<%= JSON.stringify(res[i]) %>)">
            <i class="material-icons">edit</i>
          </button>
        </td>
        <td data-label="Close" class="col-remove">
          <label class="switch">
            <%if (res[i].is_active === true) { %>
              <input type="checkbox" checked onchange="confirmDeletion(event, this, `<%=res[i].id%>`, `<%=res[i].username%>`, `<%=res[i].first_name%>`)">
            <% } else { %>
              <input type="checkbox" onchange="confirmDeletion(event, this, `<%=res[i].id%>`, `<%=res[i].username%>`, `<%=res[i].first_name%>`)">
            <% } %>
            <span class="slider round"></span>
          </label>
        </td>
      </tr>
      <% } %>
      </tbody>
    </table>
    <div class="mdl-layout-spacer"></div>
  </div>
  <div id="snackbar" class="mdl-js-snackbar mdl-snackbar">
    <div class="mdl-snackbar__text"></div>
    <button class="mdl-snackbar__action" type="button"></button>
  </div>
</div>

<!--Confirmation Dialog-->
<dialog id="dialog" class="mdl-dialog">
  <h3 class="mdl-dialog__title">Update User Status</h3>
  <div class="mdl-dialog__content">
    <p>
      <h5>Are you sure you want to <span id="status-user"></span> this user?</h5>
    </p>
  </div>
  <div class="mdl-dialog__actions">
    <button type="button" class="mdl-button">No</button>
    <button type="button" class="mdl-button confirm"> Yes</button>
  </div>
</dialog>
<script src="https://d3js.org/d3.v5.min.js"></script>
<script src="/portal/js/moment.min.js"></script>
<script language="javascript">
  let dialog = document.querySelector('#dialog');
  let listUser = <%- JSON.stringify(res) %>;

  function confirmDeletion(event, obj, id, email, firstName) {
    event.preventDefault();

    const status = $(obj).is(":checked")
    $(obj).prop('checked', !status)
    $('#status-user').html(`${status ? 'active' : 'inactive'}`);

    dialog.showModal();
    if (!dialog.showModal) {
      dialogPolyfill.registerDialog(dialog);
    }

    const deleteUserEvent = function() {
      $(obj).prop('checked', status)
      let reqJSON = {
        id: id,
        email: email,
        firstName : firstName,
        is_active: status
      }
      deleteUser(obj, reqJSON, deleteUserEvent);
    }

    dialog.querySelector('button:not([disabled])').addEventListener('click', function () { dialog.close(); });
    dialog.querySelector('.confirm').addEventListener('click', deleteUserEvent);
  }

  async function deleteUser(obj, reqJSON, deleteUserEvent) {
    try {
      let result = await d3.json('/portal/users/delete/' +reqJSON.id, {
        method: 'put',
        body: JSON.stringify(reqJSON),
        headers: {'Content-type': 'application/json; charset=UTF-8'},
        credentials: 'include'
      });
      dialog.close();
      dialog.querySelector('.confirm').removeEventListener("click", deleteUserEvent);
      var snackbarContainer = document.querySelector('#snackbar');
      var data = {message: result.message};
      listUser = listUser.map(item => {
        if (item.id == reqJSON.id) {
          item.is_active = reqJSON.is_active;
        }
        return item;
      });
      snackbarContainer.MaterialSnackbar.showSnackbar(data);
    }
    catch (err) {
      $(obj).prop('checked', !reqJSON.is_active)
    }
  }

  function editUser(obj) {
    let reqJson = JSON.stringify(obj);
    window.location.href = '/portal/users/' + obj.id;
  }

  function addNewUser(){
    window.location.href = '/portal/users/new'
  }

  function sort(obj, data) {
    const sortName = $(obj).attr('data-sort');
    const type = $(obj).children().text();
    let dataChange = [];
    $('.sort-col').children().html('');
    if (type === 'arrow_upward') {
      $(obj).children().html('arrow_downward')
      dataChange = sortByCondition(data, sortName, 'desc');
    }
    else {
      $(obj).children().html('arrow_upward')
      dataChange = sortByCondition(data, sortName, 'asc');
    }

    function sortByCondition(data, field, direction) {
      let dataChange = [];
      if (direction === 'asc') {
        dataChange = data.sort((a, b) => (a[field].toLowerCase() > b[field].toLowerCase() ? 1 : a[field].toLowerCase() < b[field].toLowerCase() ? -1 : 1));
      } 
      else {
        dataChange = data.sort((a, b) => (a[field].toLowerCase() > b[field].toLowerCase() ? -1 : a[field].toLowerCase() < b[field].toLowerCase() ? 1 : -1));
      }
      return dataChange;
    }

    $('#body-data').html('');
    dataChange.forEach(item => {
      $('#body-data').append(
        `<tr class="collapsible" data-toggle="toggle">
          <td data-label="userId" class="mdl-data-table__cell--non-numeric">${item.id}</td>
          <td data-label="fName" class="mdl-data-table__cell--non-numeric">${item.full_name}</td>
          <td data-label="Email" class="mdl-data-table__cell--non-numeric">${item.username}</td>
          <td data-label="facilities" class="mdl-data-table__cell--non-numeric" style="padding: 0px 0px;">
            ${
              item.permitted_facilities && item.permitted_facilities.length > 0 ?
                `<ol style="padding-left: 30px">
                    ${
                      item.permitted_facilities.map(item => `<li>${item}</li>`).join('')
                    }
                </ol>`
                : ''
            }
          </td>
          <td data-label="Phone" class="mdl-data-table__cell--non-numeric">${item.phone_number}</td>
          <td data-label="Edit">
            <button class="mdl-button mdl-js-button mdl-button--icon" user_id='${item.id}'>
              <i class="material-icons">edit</i>
            </button>
          </td>
          <td data-label="Close" class="col-remove">
            <label class="switch">
              ${
                item.is_active ? 
                  `<input type="checkbox" checked onchange="confirmDeletion(event, this, '${item.id}', '${item.username}', '${item.first_name}')">`
                : 
                  `<input type="checkbox" onchange="confirmDeletion(event, this, '${item.id}', '${item.username}', '${item.first_name}')">`
              }
              <span class="slider round"></span>
            </label>
          </td>
        </tr>
      `
      );
      $(`.mdl-button.mdl-js-button.mdl-button--icon[user_id=${item.id}]`).attr('onclick', `editUser(${JSON.stringify(item)})`)
    })
  }

  $('.sort-col').click(e => {
    sort(e.target, listUser);
  })
  $('.sort-col .sort').click(e => {
    e.stopPropagation();
    sort(e.target.parentElement, listUser)
  })
</script>
</body>
</html>