<!DOCTYPE html>
<html>
<head>
    <title>Configure Device</title>
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    <link rel="stylesheet" href="https://code.getmdl.io/1.3.0/material.indigo-pink.min.css">
    <script defer src="https://code.getmdl.io/1.3.0/material.min.js"></script>
    <script src="/portal/vendor/jquery-3.3.1.min.js"></script>
</head>
<style>
    div#configs{
        height: auto;
        justify-content: center;
        align-items: center;
        margin-top: 20px;
        margin: 20px 60px;
    }
    div.content {
        padding: 0 50px;
        display: none;
        overflow: hidden;
        background-color: #f1f1f1;
    }

    td.td-width{
        background-color: #eee;
        width:100%;
    }
    .new-configs-btn{
        margin-bottom: 20px;
        float: left;
    }
    #report-title{

        font-size: 1.3em;
        color: gray;
    }
    #homepage{
        color: gray
    }

</style>
<body>

<div id="configs">
    <div class="mdl-grid">
        <div class="mdl-layout-spacer"></div>
        <div class="mdl-cell mdl-cell--2-col"></div>
        <div class="mdl-cell mdl-cell--5-col" id="report-title"><%=cust.charAt(0).toUpperCase() + cust.slice(1);%> Report Configs</div>
        <button class="mdl-button mdl-js-button mdl-button--raised mdl-button--colored new-configs-btn" onclick="addNewConfigs()">
            Add Configurations
        </button>
        <a id="homepage" class="mdl-button mdl-js-button mdl-button--icon" href="/portal/reports/homepage">
            <i class="material-icons">home</i>
        </a>
        <div class="mdl-layout-spacer"></div>
        <div class="mdl-cell mdl-cell--2-col"></div>
    </div>
    <div class="mdl-grid">
        <div class="mdl-layout-spacer"></div>
        <table class="mdl-data-table mdl-js-data-table mdl-shadow--2dp" id="mdl-table">
            <thead>
                <tr>
                    <th class="mdl-data-table__cell--non-numeric" data-sort="facility">Facility</th>
                    <th class="mdl-data-table__cell--non-numeric" data-sort="gateway">Gateway Name</th>
                    <th class="mdl-data-table__cell--non-numeric" data-sort="subject">Subject Name</th>
                    <th class="mdl-data-table__cell--non-numeric" data-sort="measure">Measure Name</th>
                    <th class="mdl-data-table__cell--non-numeric" data-sort="measure">Step Name</th>
                    <th class="mdl-data-table__cell--non-numeric"></th>
                    <th class="mdl-data-table__cell--non-numeric"></th>
                </tr>
            </thead>
            <tbody >
            <%for(let i in res){%>

                    <tr class="collapsible" data-toggle="toggle">
                        <td data-label="Facility" class="mdl-data-table__cell--non-numeric"><%=res[i].facility%></td>
                        <td data-label="Gateway" class="mdl-data-table__cell--non-numeric"><%=res[i].gateway_name%></td>
                        <td data-label="Subject" class="mdl-data-table__cell--non-numeric"><%=res[i].subject_name%></td>
                        <td data-label="Measure" class="mdl-data-table__cell--non-numeric"><%=res[i].measure_name%></td>
                        <td data-label="Step Name" class="mdl-data-table__cell--non-numeric"><%=res[i].step_name%></td>
                        <td data-label="Edit">
                            <button class="mdl-button mdl-js-button mdl-button--icon dialog-button" onclick="editConfigs(<%=JSON.stringify(res[i])%>)">
                                <i class="material-icons">edit</i>
                            </button>
                        </td>
                        <td data-label="Close">
                            <button class="mdl-button mdl-js-button mdl-button--icon dialog-button" onclick="deleteConfigs(this)">
                                <i class="material-icons">close</i>
                            </button>
                        </td>
                    </tr>
            <%}%>
            </tbody>
        </table>
        <div class="mdl-layout-spacer"></div>
    </div>
    <div id="snackbar" class="mdl-js-snackbar mdl-snackbar">
        <div class="mdl-snackbar__text"></div>
        <button class="mdl-snackbar__action" type="button"></button>
    </div>
</div>
<script src="https://d3js.org/d3.v5.min.js"></script>
<script src="/portal/js/moment.min.js"></script>
<script language="javascript">

  function deleteConfigs(obj){
    let tableCells = $(obj).parent().parent().find('td');
    let deleteObj = {};

    for(let i = 0;i<tableCells.length;i++){
      if($(tableCells[i]).data().label === 'Facility'){
        deleteObj.facility = $(tableCells[i]).text();
      }
      if($(tableCells[i]).data().label === 'Subject'){
        deleteObj.subject = $(tableCells[i]).text();
      }
      if($(tableCells[i]).data().label === 'Measure'){
        deleteObj.measureName = $(tableCells[i]).text();
      }
    }
    deleteObj.cust = '<%=cust%>';
    $.ajax({
      url: '/portal/config/deleteConfig',
      type: 'POST',
      data:deleteObj,
      success: function(result) {
        console.log(result);
        $(obj).parent().parent().remove();
        var snackbarContainer = document.querySelector('#snackbar');
        var data = {message: 'Configuration deleted!'};
        snackbarContainer.MaterialSnackbar.showSnackbar(data);
      }
    });

  }

  function addNewConfigs() {
    window.location.href = '/portal/config/newConfig';
  }

  function editConfigs(obj){
    obj.cgr = '<%=cust%>';
    let reqJson = encodeURIComponent(JSON.stringify(obj));
    window.location.href = '/portal/config/editConfig?editObj='+reqJson;
  }

  function hexToRgbA(hex) {
    var c;
    if (/^#([A-Fa-f0-9]{3}){1,2}$/.test(hex)) {
      c = hex.substring(1).split('');
      if (c.length == 3) {
        c = [c[0], c[0], c[1], c[1], c[2], c[2]];
      }
      c = '0x' + c.join('');
      return 'rgba(' + [(c >> 16) & 255, (c >> 8) & 255, c & 255].join(',') + ',1)';
    }
    throw new Error('Bad Hex');
  }

</script>
</body>
</html>