.modalRow {
  font-size: 1.2em;
  color: #aaa;
}

#commentList .comment {
  position: relative;
  background-color: #eee;
  margin-top: .25em;
  margin-bottom: .25em;
  border-radius: 5px;
  padding: 10px;
}

#commentList .comment .date {
  position: absolute;
  top: 10px;
  right: 10px;
  color: gray;
}

#commentList .comment .user {
  color: gray;
}

#commentList .state.accurate {
  color: rgb(43, 188, 101);
}

#commentList .state.inaccurate {
  color: rgb(201, 46, 46);
}

.row-padding-bottom {
  padding-bottom: 10px;
}

.modal-footer .row {
  margin-left: 0px;
}

button.inactive-link {
  background-color: rgb(238, 238, 238);
}

button.active-link {
  background-color: #ffc107;
  color: #131517;
}

button.btn {
  color: #495057;
}

div#modal-header-data {
  font-size: 1.2em;
  color: gray;
}

img.display-image {
  width: 100%;
  height: 450px;
}

.modal-footer, .modal-header {
  display: block;
  justify-content: baseline;
  height: auto;
}

.modal-header .row * {
  box-sizing: content-box;
}

.modal-header .close {
  top: 0px;
}

.annotation-footer{
  visibility: hidden;
}

.modal-body {
  display: block;
  justify-content: baseline;
  padding: 0;
}

#modal-message {
  font-size: 16px;
  color: rgba(0,0,0,.54);
}

.correction-row {
  display: none;
}

img.display-image {
  align-content: center;
  margin: auto;
  display: block;
  max-width: 90%;
  height: auto;
  position: relative;
}

video.display-video {
  align-content: center;
  margin: auto;
  display: block;
  width: 100%;
  height: 100%;
}

.videoCamIcon{
  padding-left: 10px;
}
.videoCamIcon .material-icons{
  color: #cecece;
}
.zoomInOut{
  position: absolute;
  right: 60px;
  bottom: 25px;
  z-index: 1;
}
a.zoom-in-link{
  color: #f1f4ff;
}
a.zoom-in-link:hover{
  color: #0a71d6;
}

.atl-carousel-item {
  width: 20px !important;
  height: 20px !important;
  border-radius: 100%;
  line-height: 20px;
  border: none;
  background: #999;
  text-indent: 0;
  margin: 0 2px;
  border: none;
  color: white;
  align-content: center;
  display: grid;
  list-style-type: none;
  justify-content: center;
  font-size: 11px;
  font-weight: 600;
}

.carousel-indicators .active {
  background-color: #62b2ff !important;
  opacity: 0.9;
}

#imgLinks {
  margin: 5px 0;
}

.atl-measures {
  font-size: 14px;
  font-weight: 600;

  list-style: none;
  margin: 10px 5px 5px 5px;
  position: relative;
  align-items: center;
  justify-content: space-between;
  padding: 0 1em;

  display: grid;
  text-align: center;
  grid-template-columns: repeat(5, 0fr);
}

.atl-measures-element {
  min-width: 10em;
  padding: 0 5px;
}

li.atl-measures-element.active {
  color: #000000;
  background-color: #d1d1d1;
  padding: 5px 10px;
  border-radius: 4px;
}

.atl-timeline {
  font-size: 14px;
  font-weight: 600;

  list-style: none;
  margin: 5px;
  position: relative;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  padding: 0 1em;
}

.atl-timeline-element {
  min-width: 6em;
  padding: 5px 10px;
  text-align: center
}

li.atl-timeline-element.active {
  color: #000000;
  background-color: #d1d1d1;
  padding: 5px 10px;
  border-radius: 4px;
}

.hidden {
  display: none !important;
}

a.carousel-control-zoom {
  bottom: 0;
  right: 5px;
  z-index: 1;
  width: 15%;
  color: #f1f4ff;
  position: absolute;
  text-align: center;
  align-items: center;
  display: inline-block;
  justify-content: center;
  background-size: 100% 100%;
  background: transparent no-repeat center center;
}

a.carousel-control-zoom:hover {
  color: #0a71d6;
}

span.material-icons {
  font-size: 30px;
}

.modal-title {
  text-transform: capitalize;
}

.modal-info {
  text-transform: capitalize;
}

video::-webkit-media-controls-panel {
  display: flex !important;
  opacity: 1 !important;
}

.metrics {
  display: inline-block;
}