    <!DOCTYPE html>
    <html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>QC</title>
        <%- include('../partials/headerLinks'); %>
        <link rel="stylesheet" href="/portal/vendor/bootstrap-4.1.min.css">
        <script src="/portal/vendor/jquery-3.3.1.min.js"></script>
        <script src="/portal/vendor/bootstrap.bundle.min.js"></script>
        <script src="/portal/vendor/jquery-ui.min.js"></script>
        <script src="/portal/js/lazy-loading.js"></script>
        <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
        <style>
            * {
                font-family: Arial,Helvetica,sans-serif;
                font-size: 15px;
            }
            .label-padding{
                padding-top: 6px;
            }
            .custome-header{
                color: #fff !important;
                background-color: #6c757d  !important;
                border-color: #6c757d  !important;
                height: 3.5em;
            }
            .row-padding-top{
                padding-top: 20px;
            }
            a{
                background-color: #000000a8 !important;
            }
            .text-box{
                height: 95% !important;
            }
            .imgDisp{
                /*border: 1px solid #dedfe0;*/
            }
            #image {

                display: block;
                margin-left: auto;
                margin-right: auto;
                width: 100%;
                height: 100%;
            }
            .no-padding {
                padding: 0 !important;
            }
            .button-icon {
                height: 15px !important;
            }
            .empty {
                border: 1px solid red;
            }
            a{
                color: #ffffff !important;
                background-color: #00000000 !important;
            }

            #commentList .comment{
                position: relative;
                background-color: #eee;
                margin-top: .25em;
                margin-bottom: .25em;
                border-radius: 5px;
                padding: 10px;
            }

            #commentList .comment .date{
                position: absolute;
                top:10px;
                right: 10px;
                color:gray;
            }
            #commentList .comment .user{
                color:gray;
            }

            #commentList .state.accurate{
                color:rgb(43, 188, 101);
            }

            #commentList .state.inaccurate{
                color:rgb(201, 46, 46);
            }
            div.format{
                font-size: 0.8em;
                color: #aaa;
            }
            #imgDisplay{
                text-align: center;
            }
            .card{
                margin-bottom: 70px;
            }
            .zoom-in-link{
                position: absolute;
                right: 0px;
                color: blue !important;
                bottom: 0px;
            }

        </style>
    </head>
    <body>
    <%- include('../partials/header'); %>
    <div class="container-fluid" id="container">
        <div class="row row-padding-top">
            <div class="col-md-2"></div>
            <div class="col-md-8">
                <div class="card">
                    <div class="card-header header custome-header">
                        <div class="row">
                            <div class="col-md-2">QA</div>
                            <div class="col-md-4"></div>
                            <div class="col-md-4" id="accuracy">Accuracy: 100% </div>
                            <div class="col-md-2 float-right">
                                <a href="#" onclick="homepage()"><i class="material-icons">home</i></a>
                            </div>
                        </div>
                    </div>
                    <div class="card-body">
                        <div class="row">
                            <div class="col-md-2"></div>
                            <div class="col-md-4" id="stand"></div>
                        </div>

                        <div class="row">
                            <div class="col-md-2"></div>
                            <div class="col-md-4" id="collectionTime"></div>
                        </div>

                        <div class="row row-padding-top" id="image_row">
                            <div class="col-md-1">
                                <button class="btn btn-secondary" id="prev" onclick="prevImg()">
                                    <i class="carousel-control-prev-icon button-icon" aria-hidden="true"></i>
                                </button>
                            </div>
                            <div class="col-md-2"></div>
                            <div class="col-md-6 text-center">

                                <button class="btn btn-success float-left" onclick="saveQA(true)">
                                    Accurate
                                </button>
                                <button type="button" class="btn btn-danger" onclick="saveQA(false)">Inaccurate</button>
                                <button class="btn btn-secondary float-right" onclick="saveQA(null)">
                                    Save Comment
                                </button>
                            </div>

                            <div class="col-md-2"></div>
                            <div class="col-md-1" align="right">
                                <button class="btn btn-secondary" onclick="nextImg()" id="next">
                                    <i class="carousel-control-next-icon button-icon" aria-hidden="true"></i>
                                </button>
                            </div>
                        </div>

                        <div class="row row-padding-top" >
                          <!--<div class="col-md-1"></div>-->
                            <div class="col-md-12 no-padding imgDisp" id="imgDisplay" >

                            </div>
                            <!--<div class="col-md-1"></div>-->
                        </div>
                        <div class="row">
                            <div class="col-md-2"></div>
                            <div class="col-md-10" id="imageMetaData"></div>
                            <div class="col-md-1"></div>
                        </div>

                        <div class="row row-padding-top">
                            <div class="col-md-2 "></div>
                            <div class="col-md-8 no-padding" id="commentList"></div>
                            <div class="col-md-2"></div>
                        </div>

                        <div class="row row-padding-top">
                            <div class="col-md-2 "></div>
                            <div class="col-md-8 no-padding" align="center"><input id="commentTxt" type="text"class="form-control text-box"  placeholder="Comment"></div>
                            <div class="col-md-2"></div>
                        </div>

                        <div class="row row-padding-top">
                            <div class="col-md-2"></div>
                            <div class="col-md-8" align="center" id="imgCount"></div>
                            <div class="col-md-2"></div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-2"></div>
        </div>
    </div>

    </div>
    <%- include('../partials/footer'); %>
    <script>
      let index = 0;
      let dataArr=[];
      let dataArrLen = 0;
      var queryString = decodeURI((window.location.search && window.location.search.length) ? window.location.search.substring(1) : '');
      var parameters = {};
      let sessionId;
      queryString.split('&').forEach(function (str) {
        var parts = str.split('=');
        if (parts.length == 2) {
          parameters[parts[0]] = parts[1];
        }
      });

      let cust = parameters.cust;
      var parameters = {
        step: parameters.step,
        gatewayId: parameters.gatewayId,
        camId: parameters.camId,
        from: parameters.from,
        to: parameters.to,
        fnVersion: parameters.fnVersion,
        cfgVersion: parameters.cfgVersion,
        gatewayName: parameters.gatewayName
      };

      function renderImg(index){
        let dataJSON=dataArr[index];
        let collection_time = moment(dataJSON.collection_time).unix();
        let newEntries =  d3.select('#imgDisplay');
        d3.select('#collectionTime').text('Time: '+moment(dataJSON.collection_time).format('YYYY-MM-DD HH:mm:ss'));
        if(dataJSON.images[0].endsWith('.mp4')){
          newEntries.selectAll('video').remove();
          let newImages = newEntries.append('video');
          d3.select('#imgCount').text(index+1+'/'+dataArrLen);
          d3.select('#commentTxt').text('').classed('empty',false);
          d3.select('#imageMetaData').html('');
          d3.select('#imageMetaData').append('div').text(moment(dataJSON.collection_time).format('YYYY-MM-DD HH:mm:ss') +' - '+dataJSON.gateway_name +' - '+dataJSON.camera_id+' - '+dataJSON.step_name+' - '+dataJSON.step_function_version+' - '+dataJSON.step_config_version);
          d3.select('#imageMetaData').append('div').classed('format',true).text('(Collection Time - Gateway Name - CameraId - Step Name - Step Fn Version - Step Config Version)');

          newEntries.select('video')
            .merge(newImages)
            .attr('id','image')
            .attr('loop','loop')
            .attr('muted','muted')
            .attr('autoplay', 'autoplay')
            .attr('playsinline', 'playsinline')
            .append('source')
            .attr('data-src', function () {
              const imageObject = dataJSON;
              const theTimeUnix = moment(imageObject.collection_time).unix();
              let theTimePrecision = ''
              if (reDateStringFormat.test(imageObject.collection_time)) {
                theTimePrecision = reDateStringFormat.exec(imageObject.collection_time).find((_, index) => index === 1)
              } else if (reSubSecondPrecision.test(imageObject.collection_time)) {
                theTimePrecision = reSubSecondPrecision.exec(imageObject.collection_time / 1000).find((_, index) => index === 1)
              }
              const theImageTimeStamp = `${theTimeUnix}${Number(theTimePrecision) > 0 ? theTimePrecision : ''}`;
              return '/portal/image/' + cust+'/'+imageObject.gateway_id+'/'+imageObject.camera_id+'/'+`${theImageTimeStamp}`+'/'+imageObject.step_name+'/1?width=200';
            });
        }else if(dataJSON.images[0].endsWith('.jpg')){
          newEntries.selectAll('img').remove();
          let newImages = newEntries.append('img');
          d3.select('#imgCount').text(index+1+'/'+dataArrLen);
          d3.select('#commentTxt').text('').classed('empty',false);
          d3.select('#imageMetaData').html('');
          d3.select('#imageMetaData').append('div').text(moment(dataJSON.collection_time).format('YYYY-MM-DD HH:mm:ss') +' - '+dataJSON.gateway_name +' - '+dataJSON.camera_id+' - '+dataJSON.step_name+' - '+dataJSON.step_function_version+' - '+dataJSON.step_config_version);
          d3.select('#imageMetaData').append('div').classed('format',true).text('(Collection Time - Gateway Name - CameraId - Step Name - Step Fn Version - Step Config Version)');
          newEntries.select('img')
            .merge(newImages)
            .attr('id','image')
            .attr('data-src', function () {
              const imageObject = dataJSON;
              const theTimeUnix = moment(imageObject.collection_time).unix();
              let theTimePrecision = ''
              if (reDateStringFormat.test(imageObject.collection_time)) {
                theTimePrecision = reDateStringFormat.exec(imageObject.collection_time).find((_, index) => index === 1)
              } else if (reSubSecondPrecision.test(imageObject.collection_time)) {
                theTimePrecision = reSubSecondPrecision.exec(imageObject.collection_time / 1000).find((_, index) => index === 1)
              }
              const theImageTimeStamp = `${theTimeUnix}${Number(theTimePrecision) > 0 ? theTimePrecision : ''}`;
              return '/portal/image/' + cust+'/'+imageObject.gateway_id+'/'+imageObject.camera_id+'/'+`${theImageTimeStamp}`+'/'+imageObject.step_name+'/1?width=200';
            });
          let zoomLink = newEntries.append('a').classed('zoom-in-link', true).attr('href', function (d) {
            const imageObject = dataJSON;
            const theTimeUnix = moment(imageObject.collection_time).unix();
            let theTimePrecision = ''
            if (reDateStringFormat.test(imageObject.collection_time)) {
              theTimePrecision = reDateStringFormat.exec(imageObject.collection_time).find((_, index) => index === 1)
            } else if (reSubSecondPrecision.test(imageObject.collection_time)) {
              theTimePrecision = reSubSecondPrecision.exec(imageObject.collection_time / 1000).find((_, index) => index === 1)
            }
            const theImageTimeStamp = `${theTimeUnix}${Number(theTimePrecision) > 0 ? theTimePrecision : ''}`;
            return '/portal/image/' + cust+'/'+imageObject.gateway_id+'/'+imageObject.camera_id+'/'+`${theImageTimeStamp}`+'/'+imageObject.step_name+'/1';
          }).attr('target', 'new');
          zoomLink.append('i').classed('material-icons', true).text('zoom_in');
        }



        if(index == 0 ){
          d3.select('#prev').attr('disabled','true');
        }else if(index == dataArr.length-1){
          d3.select('#next').attr('disabled','true');
        }else{
          d3.select('#next').attr('disabled',null);
          d3.select('#prev').attr('disabled',null);
        }
      }

      function renderComments(data){
        let commentDiv = d3.select('#commentList').selectAll('div.comment').data(data);
        let newComments = commentDiv.enter().append('div').classed('comment',true);

        newComments.append('div').classed('state', true);
        newComments.append('div').classed('date', true);
        newComments.append('div').classed('content', true);
        newComments.append('div').classed('user', true);
        newComments.append('div').classed('actions', true);

        let mergedDivs = newComments.merge(commentDiv);
        mergedDivs.select('div.state').classed('accurate', function(d){
          return d.isAccurate;
        }).classed('inaccurate', function(d){
          return d.isAccurate === false;
        }).text(function(d){
          return d.isAccurate ? 'Accurate' : (d.isAccurate === false ? 'Inaccurate' : '');
        });
        mergedDivs.select('div.content').text(function(d){
          return d.comment;
        });
        mergedDivs.select('div.date').text(function(d){
          return moment(d.createdAtTime).format('YYYY-MM-DD h:mm a');
        });
        mergedDivs.select('div.user').text(function(d){
          return '— ' + d.userName;
        });

        commentDiv.exit().remove();
      }

      function loadComments(){
        d3.selectAll('.btn').attr('disabled',true);

        d3.json('/portal/workbench/imageStepAnnotation/'+cust+'?gwId='+dataArr[index].gateway_id+'&camId='+dataArr[index].camera_id+'&stepName='+dataArr[index].step_name+'&fnVersion='+dataArr[index].step_function_version+'&cfgVersion='+dataArr[index].step_config_version+'&collectionTime='+moment(dataArr[index].collection_time).unix(), function(data){
          renderComments(data);
          d3.selectAll('.btn').attr('disabled',null);
        });
      }

      function homepage(){
        window.location.href = '/portal/qc?customer='+cust;
      }

      function nextImg(){
        if(index+1 < dataArrLen){
          index++;
          renderImg(index);
          loadComments();
        }else{
          d3.select('#next').attr('disabled');
        }

      }

      function shuffle(a) {
        var j, x, i;
        for (i = a.length - 1; i > 0; i--) {
          j = Math.floor(Math.random() * (i + 1));
          x = a[i];
          a[i] = a[j];
          a[j] = x;
        }
        return a;
      }


      // eslint-disable-next-line no-unused-vars
      function prevImg(){
        if(index>0){
          index--;
          renderImg(index);
          loadComments();
        }else{
          d3.select('#prev').attr('disabled');
        }

      }
      let inaccuracyCount = 0;
      // eslint-disable-next-line no-unused-vars
      function saveQA(state) {
        let comment = document.getElementById('commentTxt');
        if(state === null && comment.value === ''){
          comment.classList.add('empty');
        }else{
          comment.classList.remove('empty');
          let reqJSON = {
            customer: cust,
            collection_time: dataArr[index].collection_time,
            gateway_id: dataArr[index].gateway_id,
            camera_id: dataArr[index].camera_id,
            step_name: dataArr[index].step_name,
            function_version: dataArr[index].step_function_version,
            config_version: dataArr[index].step_config_version,
            is_accurate: state,
            sessionId: sessionId,
            comment: comment.value
          };
          d3.json('/portal/workbench/imageStepAnnotation', {
            method: 'POST',
            include: 'credentials',
            body: JSON.stringify(reqJSON),
            headers: { 'Content-Type': 'application/json' }
          }).then((data) => {
            let accuracy;
            if (!state && state!=null){
              inaccuracyCount++;
            }
            accuracy = (1-(inaccuracyCount/dataArr.length))*100;
            d3.select('#accuracy').text('Accuracy: '+accuracy.toFixed(2)+'%  ('+inaccuracyCount+'/'+dataArr.length+')');
          });
          nextImg();
          comment.value='';
        }
      }

      var parameterString = Object.keys(parameters).filter(p => parameters[p] !== undefined).map(p => p+'='+parameters[p]).join('&');

      if (cust != '') {
        d3.json('/portal/workbench/getImageKeys/' + cust + '?' + parameterString, function (data) {

          if(data.result.stepKeys.length){
            if(parameters.randomGen=='true'){
              dataArr = shuffle(data.result.stepKeys);
              if(parameters.imgCount && Number(parameters.imgCount)<=dataArr.length){
                dataArrLen = Number(parameters.imgCount);
              }else{
                dataArrLen = dataArr.length;
              }

            }else{
              dataArr = data.result.stepKeys;
              dataArrLen = dataArr.length;
            }

            sessionId = data.sessionId;
            renderImg(index);
            loadComments();
          } else {
            d3.select('#imgDisplay').append('p').text('No Images to Display');
            d3.selectAll('.btn').attr('disabled',true);
          }

          d3.select('#stand').text('Stand Name: '+parameters.gatewayName);
        });
      }

    </script>
    </body>
    </html>
