<!DOCTYPE html>
<html>
<head>
  <title>QC</title>
  <%- include('../partials/headerLinks'); %>
  <link rel="stylesheet" href="/portal/vendor/bootstrap-4.1.min.css">
  <script type="text/javascript" src="/portal/vendor/jquery-3.3.1.min.js"></script>
  <script src="/portal/vendor/bootstrap.bundle.min.js"></script>

  <script type="text/javascript"
          src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.4.1/js/bootstrap-datepicker.min.js"></script>
  <link rel="stylesheet"
        href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.4.1/css/bootstrap-datepicker3.css"/>
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.13/css/all.css"
        integrity="sha384-DNOHZ68U8hZfKXOrtjWvjxusGo9WQnrNx2sqG0tfsghAvtVlRW3tvkXWZh58N9jp" crossorigin="anonymous">
  <style>
    * {
      font-family: Arial, Helvetica, sans-serif;
    }

    .label-padding {
      padding-top: 6px;
    }

    .custom-card-header {
      color: #fff !important;
      background-color: #6c757d !important;
      border-color: #6c757d !important;
      height: 3.5em;
    }

    .row-padding {
      padding-top: 30px;
    }

    a {
      color: white;
    }

    a:hover {
      color: rgb(7, 7, 7);
    }

    @keyframes spinner {
      to {
        transform: rotate(360deg);
      }
    }

    .random-gen {
      padding-top: 10px;
    }

    /*slider*/
    .switch {
      position: relative;
      display: inline-block;
      width: 50px;
      height: 17px;
    }

    .switch input {
      display: none;
    }

    .slider {
      position: absolute;
      cursor: pointer;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      background-color: #ccc;
      -webkit-transition: .4s;
      transition: .4s;

    }

    .slider:before {
      position: absolute;
      content: "";
      height: 15px;
      width: 15px;
      left: 5px;
      bottom: 1px;
      background-color: white;
      -webkit-transition: .4s;
      transition: .4s;
    }

    input:checked + .slider {
      background-color: #6c757d;
    }

    input:focus + .slider {
      box-shadow: 0 0 1px #6c757d;
    }

    input:checked + .slider:before {
      -webkit-transform: translateX(26px);
      -ms-transform: translateX(26px);
      transform: translateX(26px);
    }

    /* Rounded sliders */
    .slider.round {
      border-radius: 17px;
    }

    .slider.round:before {
      border-radius: 50%;
    }

    .customer-expand {
      float: right;
    }
    #report{
      margin-bottom: 70px;
    }
    a.nav-link{
      color: #007bff;;
    }
    a.active{
      color: #1b1e21;
    }
  </style>


</head>

<body>
<%- include('../partials/header'); %>
<div class="container-fluid bootstrap-iso" id="container">
  <div class="row">
    <div class="col-2">
    </div>
    <div class="col-10 breadcrumb-row">
      <nav class="nav custom-nav">

      </nav>
    </div>
  </div>
  <!-- Start: Search card -->
  <div class="row row-padding">
    <div class="col-md-2"></div>
    <div class="col-md-8">
      <div class="card">
        <div class="card-header header custom-card-header">
          Search
        </div>
        <div class="card-body">
          <div class="row">
            <div class="col-md-1"></div>
            <div class="col-md-2 label-padding">Stand Name :</div>
            <div class="col-md-3">
              <div class="form-group">
                <select class="form-control" id="selGw" onchange="filterStepNameWithGw(this.value)">
                  <option value="">Any</option>

                </select>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-md-1"></div>
            <div class="col-md-2 label-padding">Date :</div>
            <div class="col-md-3">
              <div class="form-group">
                <div class='input-group date'>
                  <!--<input type='text' id="from_date" placeholder="YYYY-MM-DD" class="form-control" />-->
                  <input class="form-control" id="from_date" name="date" placeholder="YYYY-MM-DD"
                         type="text"/>
                </div>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-md-1"></div>
            <div class="col-md-2 label-padding">Random Selection</div>
            <div class="col-md-2">
              <div class="form-group random-gen">
                <div class='input-group'>
                  <!--<input type="text" id="to_date" placeholder="YYYY-MM-DD" class="form-control">-->
                  <!--<input class="form-control" id="isRandom" name="randomGen" type="checkbox"-->
                  <!--onchange="checkGenerateRandom(this)"/>-->
                  <label class="switch">
                    <input type="checkbox" id="isRandom" name="randomGen" onclick="checkGenerateRandom(this)">
                    <span class="slider round"></span>
                  </label>
                </div>
              </div>
            </div>
          </div>
          <div class="row row-padding">
            <div class="col-md-5"></div>
            <div class="col-md-2 ">
              <button type="button" class="btn btn-secondary" onclick="startSession()">Start Session
              </button>
            </div>
            <div class="col-md-5"></div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-2"></div>
  </div>
  <!-- End: Search card -->

  <!-- Start:Quality Report card -->
  <div id="report"></div>
  <!-- End:Quality Report card -->
</div>
<%- include('../partials/footer'); %>
<script type="text/javascript">
  /* eslint-disable no-unused-vars */

  let parameters = { customer: '<%=user.cgrs[0]%>' };
  let stepKeys;

  async function main(parameters) {
    await getQueryParams(parameters);

    getStepDetail(parameters.customer);

    d3.json('/portal/workbench/imageStepAnnotationStats', function (data) {
      allCustomers = data.map(c => {
        return {'value': c.customer, 'disp': c.customer};
      });
      let custData = data.filter(d => {
        return d.customer == parameters.customer;
      });
      renderStatsReport(custData);
    });
    let subject = parameters.customer === 'gatwickairport' ? 'Stand' : 'Gate'
    renderBreadCrumb(parameters, 'qc');
  }

  main();

  function checkGenerateRandom(obj) {
    var checkedValue = $(obj).prop('checked');
    if (checkedValue) {
      $('#image-count').attr('disabled', false);
    } else {
      $('#image-count').val('');
      $('#image-count').attr('disabled', true);
    }
  }

  function renderStatsReport(custData) {
    let rowDiv = d3.select('#report').selectAll('div.row').data(custData);
    let newRow = rowDiv.enter().append('div').classed('row', true).classed('row-padding', true);
    newRow.append('div').classed('col-md-2', true);
    let bodyDiv = newRow.append('div').classed('col-md-8', true);
    newRow.append('div').classed('col-md-2', true);

    let cardDiv = bodyDiv.append('div').classed('card', true);
    let cardHeader = cardDiv.append('div').classed('card-header', true).classed('header', true).classed('custom-card-header',true);
    let cardHeaderRow = cardHeader.append('div').classed('row', true);
    let cardHeaderCol = cardHeaderRow.append('div').classed('col-md-12', true);
    cardHeaderCol.append('a')
      .attr('href', function (d) {
        return '#' + d.customer + 'Collapse';
      })
      .attr('data-toggle', 'collapse')
      .attr('aria-expanded', 'false').attr('aria-controls', 'collapseSbay').text(function (d) {
      return d.customer + ' Quality Report';
    });
    let cardBody = cardDiv.append('div').classed('card-body', true).classed('collapse', true).classed('show',true).attr('id', function (d) {
      return d.customer + 'Collapse';
    });
    let reportTable = cardBody.append('table').classed('table', true).classed('table-sm', true);
    let theader = reportTable.append('thead').append('tr');
    theader.append('th').attr('scope', 'col').text('Report Date');
    theader.append('th').attr('scope', 'col').text('Stand Name');
    theader.append('th').attr('scope', 'col').text('Accuracy');
    theader.append('th').attr('scope', 'col').text('Accuracy Count');

    let tbody = reportTable.append('tbody').attr('id', function (d) {
      return d.customer + 'StatTable';
    });
    let tableRow = tbody.selectAll('tr').data(function (d) {
      return d.stats;
    }).enter().append('tr');

    tableRow.append('td').text(function (d) {
      return moment(d.reportDate).format('YYYY-MM-DD');
    });
    tableRow.append('td').text(function (d) {
      return d.gatewayName;
    });
    tableRow.append('td').text(function (d) {
      return d.stepName;
    });
    tableRow.append('td').text(function (d) {
      return d.accuracy + '%';
    });
    tableRow.append('td').text(function (d) {
      return d.accurateCount + '/' + d.totalAnnotation;
    });
  }

  // datepicker function
  $(document).ready(function () {
    var date_input = $('input[name="date"]'); //our date input has the name "date"
    var container = $('.bootstrap-iso form').length > 0 ? $('.bootstrap-iso form').parent() : 'body';
    var options = {
      format: 'yyyy-mm-dd',
      container: container,
      todayHighlight: true,
      autoclose: true
    };
    date_input.datepicker(options);
  });


  function render(data, selectId) {
    let select = d3.select('#' + selectId);
    let option = select.selectAll('option').data(data);
    let newOptions = option.enter().append('option');
    option.merge(newOptions)
      .attr('value', function (d) {
        return d.value;
      })
      .text(function (d) {
        return d.disp;
      });
    option.exit().remove();
  }

  // eslint-disable-next-line no-unused-vars
  function getStepDetail(cust) {
    if (cust != '') {
      $('#loader').show();
      d3.select('#selCust').classed('error', false);
      d3.json('/portal/workbench/getStepDetail/' + cust, function (data) {
        stepKeys = data;
        let gatewayIds = [];
        data.forEach(d => {
          if (!gatewayIds.some(x => x.value == d.gatewayId)) {
            gatewayIds.push({'value': d.gatewayId, 'disp': d.gatewayName});
          }
        });
        render(gatewayIds, 'selGw');
      });
    }
  }

  // eslint-disable-next-line no-unused-vars
  function startSession(customer) {
    var parameters = {};
    if (document.getElementById('from_date').value) {
      let from = document.getElementById('from_date').value;
      let to = moment(from).endOf('day');
      parameters.from = moment(from).unix();
      parameters.to = moment(to).unix();
      d3.select('#from_date').classed('error', false);
    } else {
      d3.select('#from_date').classed('error', true);
      return;
    }
    let g = document.getElementById('selGw');
    parameters.gatewayId = g.options[g.selectedIndex].value;
    parameters.gatewayName = g.options[g.selectedIndex].text;

    let isRandomGenChecked = $('#isRandom').prop('checked');
    let imageCount = 1;
    parameters.randomGen = isRandomGenChecked;

    var queryString = Object.keys(parameters).map(p => p + '=' + parameters[p]).join('&');
    window.location = '/portal/qc/images?cust=' + parameters.customer + '&' + queryString;
  }
</script>
</body>
</html>
