.scrollable-column
  max-height: 75vh;
  overflow-x: hidden !important;
  overflow-y: scroll !important;

.flashing
  animation: pulse 1s cubic-bezier(.39,.54,.41,1.5) infinite;

@keyframes pulse
  0%
    pacity: 1
  100%
    opacity: 0.4

.attributes
  left: 0;
  bottom: 0;
  box-sizing: content-box;
  width: calc(100% - 15px);
  z-index: 100;
  display: flex;
  list-style: none;
  position: absolute;
  padding: 0px;
  margin: 5px 10px 10px 5px;
  justify-content: space-between;
  background: rgba(19, 11, 12, 0.4);

  .attribute-item
    opacity: 0.8;
    padding: 0 5px;
    font-weight: 600;
    font-size: 1rem;
    font-family: monospace;
    color: rgba(255, 255, 255, 1.0);

.position-fixed
  position: fixed !important;

.position-sticky
  position: sticky !important;

.position-relative
  position: relative !important;

#messages
  .message
    position: absolute
    border-radius: .5rem
    padding: 5px 5px 5px 5px
    top: 94px
    font-size: 16px
    font-weight: 600
    color: #4f4f4f

    &.notify
      background: rgba(98, 145, 255, 0.8)
      color: #f1fdfd

    &.informational
      background: rgba(145, 239, 98, 0.8)
      color: #1d1d1d

    &.warning
      background: rgba(255, 234, 98, 0.8)
      color: #1d1d1d

    &.critical
      background: rgba(219, 36, 27, 0.8)
      color: #ffef00

.row-header, .col-header
  text-transform: capitalize

.legend
  font-size: 12px

.legendEntry
  display: inline-block
  margin-right: 1em

body
  margin: 0
  padding: 0
  background: #fff
  position: relative
  min-height: calc(100vh - 40px)
  padding-bottom: 40px

.header
  background: #fff
  width: 100%
  height: 70px
  position: relative
  padding-right: 0px
  .wrap
    max-width: 1280px
    margin: 0 auto
  &:after
    content: ""
    width: 100%
    height: 4px
    margin: 0
    display: block
    position: absolute
    left: 0%
    top: 63px
    z-index: -1
    -webkit-box-shadow: 0px 0px 8px 4px #606060
    -moz-box-shadow: 0px 0px 8px 4px #606060
    box-shadow: 0px 0px 8px 4px #606060

.logo img
  max-height: 47px

#reportDateTitle .tz
  font-size: 0.7em

.wrapper
  background: #fff
  max-width: 1280px
  margin: 8px auto

.login-wrapper
  background-image: url("../images/background.png")
  margin: 0px
  min-height: inherit
  display: flex
  justify-content: center
  align-items: center
  background-size: cover;
  min-width: 100vw;
  .align-center
    text-align: center
  .align-right
    text-align: right
  label
    margin: 0px
  .top-margin15
    margin-top: 15px
  .top-margin10
    margin-top: 10px
  input
    border: 1px solid #000
  .form-login 
    width: 50vw;
    max-width: 500px;
    background-color: #f5f5f5;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    border-radius: 10px;
    table 
      width: 80%;

.input-common
  width: 100%;
  font-size: 16px;
  margin: 10px 0px;
  input 
    height: 50px;
    background: #fff;
    border: 1px solid #e8e8e8;
    border-radius: 10px;
    width: 100%;
    padding: 0 20px;
    font-size: 16px;

.main
  float: left
  width: calc(100% - 250px)
  min-height: calc(100vh - 110px)
  background: #fff

.clear
  clear: both

.info, .alerts, .logout
  position: relative
  z-index: 1003
  top: 10px
  float: right
  padding: 15px

.info .inside, .alerts .inside, .logout .inside
  border-top: 1px solid #fff
  border-left: 1px solid #fff
  border-right: 1px solid #fff
  position: absolute
  top: 0
  right: 0
  z-index: 1005
  border-radius: 5px 5px 0 0
  height: 50px
  padding: 5px 0px 5px 10px
  -webkit-transition: all ease-out .2s
  -moz-transition: all ease-out .2s
  -o-transition: all ease-out .2s
  transition: all ease-out .2s

.inside.open
  -webkit-transition: all ease-out .2s
  -moz-transition: all ease-out .2s
  -o-transition: all ease-out .2s
  transition: all ease-out .2s
  background: #fff
  border-top: 1px solid #c0c0c0
  border-left: 1px solid #c0c0c0
  border-right: 1px solid #c0c0c0

.info, .alerts
  display: none

.info .fa, .alerts .fa
  padding: 10px
  margin: 0
  color: #121212
  width: 40px
  text-align: center
  font-size: 25px
  cursor: pointer

.info, .alerts
  right: 20px

.logout
  right: 0px
  width: 240px
  white-space: nowrap

.logo
  float: left
  padding: 10px 0

.submenu
  display: none
  position: absolute
  padding: 2px 0 0 0
  top: 49px
  right: 0px
  z-index: 1002
  color: #121212
  border-top: 1px solid #c0c0c0
  border-left: 1px solid #c0c0c0
  border-right: 1px solid #c0c0c0
  border-bottom: 1px solid #c0c0c0
  text-align: center
  padding: 20px
  background: #fff
  border-radius: 5px 0 5px 5px
  h2
    white-space: nowrap
    font-weight: 600
    font-size: 20px
    margin: 20px 0 5px 0
  h3
    white-space: nowrap
    font-weight: 200
    font-size: 14px
    margin: 0px 0 10px 0
    color: #3d3d3d

.notification
  background: #ff0000
  border-radius: 50px
  padding: 3px 5px 5px 5px
  font-size: 10px
  width: 12px
  height: 12px
  top: 14px
  right: 2px
  color: #fff
  text-align: center
  position: absolute
  font-weight: 400

.submenu ul
  list-style-type: none
  padding: 0
  margin: 0
  background: #fff
  li
    margin: 0
    padding: 10px 20px
    text-align: center
    color: #121212
    &:hover
      background: #fff
    &.nohover
      padding: 3px 20px
      &:hover
        background: #A3D4FF
        cursor: default

select:-moz-focusring
  color: transparent
  text-shadow: 0 0 0 #000

form span
  font-size: 12px
  margin-left: 10px

.logout
  .small
    max-height: 40px
  button
    padding: 10px 30px
    border: none
    background: #142c54
    font-size: 16px
    color: #fff
    border-radius: 5px
    cursor: pointer
    margin-top: 10px
    &:hover
      background: #0a71d6
  table
    width: 100%
    margin-top: 20px
    font-size: 12px
  td
    border-bottom: 1px solid #eaeaea
    padding: 10px
    text-align: left
    &.first
      border-top: 1px solid #eaeaea
    &.aRight
      text-align: right
      a
        color: #142c54
        text-decoration: none
  h5
    text-align: left

.alerts .submenu, .info .submenu
  right: -32px

.logout .submenu
  width: 400px

.table
  display: table
  height: 40px

.tableCell
  display: table-cell
  vertical-align: middle
  &.lastDown
    padding-right: 10px
    text-align: right
  h2
    font-size: 14px
    margin-left: 10px
    font-weight: 400
    margin-top: 12px

.logout
  span
    margin-left: 10px
  .inside
    cursor: pointer

.imageCircle
  overflow: hidden
  border-radius: 50%
  max-width: 100px
  max-height: 100px
  margin: 0 auto

.gray
  color: #3d3d3d

div
  &.interval, &.subject-name, &.measure-state
    font-size: 1.2em
    color: gray

.legendEntry
  .legendSwatch
    height: 10px
    width: 10px
    display: inline-block
  div
    display: inline-block
    &.legendLabel
      margin-left: 5px

div
  &#reportDateTitle
    font-size: 1.2em
    color: gray
    margin-bottom: 0.5em
    text-align: right
    margin-right: 5em
  &.currentStatus div
    &.status
      font-weight: bold
    &.updateTime
      font-size: 10px
  &.currentImage
    position: absolute
    right: 0
    top: 10px


rect.mark.imageBacked:hover
  opacity: 0.75
  &.compat
    stroke: rgba(0, 0, 0, 0.75)
    stroke-width: 1px

img.display-image, video.display-video
  align-content: center
  margin: auto
  display: block
  max-width: 90%
  height: auto

.nuhighlight
  background: rgba(0,174,255, 0.05);
  box-shadow: 5px 5px 5px rgba(0,0,0,0.2), -5px -5px 15px rgba(255,255,255,0.79);
  align-items: center;
  justify-content: center;
  border-radius: 8px;
  padding: 5px 5px;

/*flashing badges
@media (min-width: 840px)
  \:root
    --delay: 5s
    --alert-color: rgba(220, 219, 219, 0.96)
    --flashing-speed: 5s
  .flash-low, .flash-medium, .flash-high
    animation: flasher var(--flashing-speed) linear infinite
    animation-delay: var(--delay)
  @keyframes flasher
    5%
      box-shadow: none

    10%
      box-shadow: 0px 1px 12px 5px var(--alert-color)

    15%
      box-shadow: none

    20%
      box-shadow: 0px 1px 12px 5px var(--alert-color)

    25%
      box-shadow: none

    30%
      box-shadow: 0px 1px 12px 5px var(--alert-color)

    35%
      box-shadow: none

    40%
      box-shadow: 0px 1px 12px 5px var(--alert-color)

    45%
      box-shadow: none

    50%
      box-shadow: 0px 1px 12px 5px var(--alert-color)

    55%
      box-shadow: none

    60%
      box-shadow: 0px 1px 12px 5px var(--alert-color)

    65%
      box-shadow: none

    70%
      box-shadow: 0px 1px 12px 5px var(--alert-color)

    75%
      box-shadow: none

    80%
      box-shadow: 0px 1px 12px 5px var(--alert-color)

    85%
      box-shadow: none

    90%
      box-shadow: 0px 1px 12px 5px var(--alert-color)

    95%
      box-shadow: none

    100%
      box-shadow: 0px 1px 12px 5px var(--alert-color)

div.tooltip
  position: absolute
  text-align: center
  width: auto
  height: auto
  padding: 2px
  font: 12px sans-serif
  background: #0a0b0c
  border: 0px
  border-radius: 8px
  pointer-events: none
  color: white
  font-weight: bold

.inner-addon
  input
    padding-left: 35px
  i
    &.fa-calendar
      position: absolute
      padding: 10px 12px
      pointer-events: none
    &.fa-angle-right
      position: absolute
      right: 15px
      padding-top: 10px
      padding-bottom: 10px
      padding-left: 5px
      padding-right: 10px
      cursor: pointer
    &.fa-angle-left
      position: absolute
      right: 40px
      padding-top: 10px
      padding-bottom: 10px
      padding-left: 5px
      padding-right: 5px
      cursor: pointer

button
  &.btn
    color: #495057
  &.inactive-link
    background-color: #eeeeee
  &.active-link
    background-color: #ffc107
    color: #131517
  &.login-btn
    border-radius: 10px
    height: 50px
    color: #fff
    width: 100%
    font-size: 16px
    background: #6291ff

.liveModeIndicator
  font-size: 0.7em
  color: #aaa
  &.liveModeOff:hover
    text-decoration: underline
    color: black
    cursor: pointer

a.active
  color: black

.custom-nav
  padding-left: 0px

div
  &.legend
    width: 760px
  &#subjects
    margin: auto
  &.currentImage div.noImg
    height: 100px
    width: 140px
    border: 1px solid #ccc
    background-color: #eee
    color: #aaa
    text-align: center
    padding-top: 25px
  &.scale
    min-height: 10px
  &#station-count
    font-size: 1.0em
    color: gray
    margin-bottom: 0.5em
    padding-left: 19px
  &#subjects
    width: 840px
    padding: .5em .5em 30px
    &.hasImages
      width: 1090px
      div
        &.currentStatus
          right: 150px
        &.subject, &.scale
          /*padding-right: 220px;
          width: 1070px
  &.currentImage div.noImg
    border-radius: 2px
  &.currentStatus
    div.updateTime
      font-size: 10px
    &:hover
      box-shadow: 0 0 0 2px rgba(51, 51, 255, 0.3), 0 0 0 2px rgba(51, 153, 255, 0.3)
      opacity: 0.9
      cursor: pointer
  &.image-link
    color: gray
    cursor: pointer
    &.image-link-selected
      color: #00b300
      cursor: default
      &:hover
        color: #00b300
        text-decoration: none
    &:hover
      color: #0066ff
      text-decoration: underline
  &.status-badge
    position: absolute
    height: 110px
    width: 110px
    border-radius: 55px
    border: 1px solid gray
    text-align: center
    padding-top: 25px
    color: white
    right: 0
    top: 10px
  &.subject, &.scale
    position: relative
    padding-right: 120px
    width: 820px
    min-height: 120px
  &.subject
    padding-bottom: 10px

img.currentImage, video.currentVideo
  height: 100px
  max-width: 145px
  border: 1px solid gray
  border-radius: 2px

.col-padding
  padding-left: 20px

.inner-addon
  position: relative
  i
    &.fa-angle-left
      right: 20px
    &.fa-angle-right
      right: 0px
    &.fa-calendar
      left: 0px

.modal-footer
  display: block
  justify-content: baseline

.modal-header
  display: block
  justify-content: baseline
  .close
    top: 0px
  .row *
    box-sizing: content-box

.row-padding
  padding-top: 20px

.row-padding-top
  padding-top: 10px

.scale
  margin-left: 1em

div.scale
  min-height: 10px

.timelineLabel, .legend
  padding-left: 20px

.timelineLabel:first-letter
  text-transform: uppercase

#subjects div.title
  font-size: 1.2em
  color: gray
  &:hover
    color: #0a71d6
    cursor: pointer
    text-decoration: underline


.tickLabel
  font-size: 12px

#forgotPwd 
  .header-text
    font-size: 16px;
    text-align: center;
    margin-left: 10%;
  .modal-dialog-centered 
    width: 500vw;
    max-width: 600px;
  .modal-footer 
    text-align: center;
    button
      width: 80%;