.mdl-card__title {
    color: #fff;
    height: auto;

}

.demo-card-wide > .mdl-card__menu {
    color: #fff;
}

@media (min-width: 840px) {
    :root {
        --customColor: #19496f
    }

    .custom-color {
        box-shadow: 0 2px 2px 0 var(--customColor), 0 3px 1px -2px var(--customColor), 0 1px 5px var(--customColor);
    }
}

#cointainer {
  padding-bottom: 50px;
}

.zone {
    display: grid;
    grid-template-columns: 10% 70% 10% 10%;
    min-height: 50px;
    max-height: 50px;
    padding: 5px;
    margin: 0;
}

.zone h2 {
    font-size: 16px;
    font-weight: 600;
    margin: 10px 0px;
}

.zone .card-count {
    margin: 0;
    padding: 0;
    font-size: 14px;
    font-weight: 600;
    margin: 0 0 15px 0;
}

.zone .sort-icon {
    right: 0;
    cursor: pointer;
    font-size: 1.2rem;
    position: relative;
    border-radius: 10%;
    padding: 5px 5px 5px 7px;
    background: rgba(255, 255, 255, 0.3);
}

.zone0 {

    background-color: #ec4980;
    color: #fff;
    min-height: 50px;
    display: flex;
    padding: 10px;
}

.zone1 {
    background-color: #303F9F;
    color: #fff;
    min-height: 50px;
    display: flex;
    padding: 10px;
}

.zone2 {
    background-color: #246726;
    color: #fff;
    min-height: 50px;
    display: flex;
    padding: 10px;
}

.zone3 {
    background-color: #FF9800;
    color: #fff;
    min-height: 50px;
    display: flex;
    padding: 10px;
}

div.title {
    font-size: 1.4em;
    color: gray;
}

div.tz {
    font-size: 1.0em;
    color: gray;
}

div.facilityLabel {
    font-size: 1.1em;
    color: gray;
}

#pplCount, #woCount, #timeTravel {
    margin-top: 2px;
    color: gray;
    font-size: 13px;
}

div.mdl-card__supporting-text {
    padding: 2px;
    width: 100%;
}

div.zone-card.mdl-card {
    width: auto;
    min-width: 80px;
    height: auto;
    display: flex;
}

div.mcd-card.mdl-card {
    width: auto;
    min-width: 60px;
    min-height: 50px;
    max-width: 50em;
    max-height: 30em;
    height: auto;
    display: flex;
}

.card-count {
    margin: 5px 10px 0px;
}

div.search-bar .search-icon {
    color: gray;
    position: absolute;
    padding: 20px 260px;
}

a.lpr, a.beacon {
    color: #3d3d3d;
}

div.history-window {
    position: absolute;
    text-align: center;
    width: 15%;
    min-height: 2em;
    max-height: 30em;
    padding: 2px;
    font: 12px sans-serif;
    background: white;
    border: solid 2px black;
    border-radius: 2px;
    pointer-events: auto;
    z-index: 1;
}
.history{
    overflow-y: scroll;
    max-height: 30em;
}

div.history-window div.mdl-grid {
    min-height: 25px;
    height: 40px;
}

div.card-body .history-icon {
    right: 5px;
    position: absolute;
    color: gray;
    top: 0px;
}

#close-wo-history {
    color: gray;
    position: absolute;
    right: 5px;
    pointer-events: auto;
    cursor: pointer;
}

#close-wo-history .material-icons {
    font-size: 15px;
}

div.sort-icon {
    position: absolute;
    right: 15px;
    cursor: pointer;
    font-size: 1.2em;
}

.mdl-textfield {
    padding-bottom: 28px;
}

a.nav-link {
    color: #007bff;
    text-decoration: none;
    background-color: transparent;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1.2rem;
    font-weight: 400;
}

a.active {
    color: black;
}

a.active:hover {
    cursor: auto;
}

.row-padding-top {
    padding-top: 10px;
}

.facilityLabel {
    padding-top: 7px;
}

.cycleTitle {
    padding-left: 10px;
}

.mdl-grid-height {
    height: 45px;
}

#workOrder {
    padding-bottom: 50px;
}

#noDataIndicator, #message {
    padding-left: 20px;
}

.mdl-grid.mdl-grid--no-spacing {
    padding-top: 5px;
}

.mdl-grid.center-items {
    justify-content: center;
}

.facility-picker {
    padding-left: 0px;
}

.nav {
    padding-left: 3px;
}

.mdl-textfield__label {
    top: 5px;
}

.mdl-textfield {
    padding: 0px;
    padding-bottom: 28px;
}

div.search-bar .search-icon {
    padding-top: 0em;
    padding-left: 8.0em;
}

@media (min-width: 840px) {
    :root {
        --percent-width: 100%;
    }

    .custom-mdl-cell--col {
        width: calc(var(--percent-width) - 16px);
    }
}

div.success {
    animation-name: success-anime;
    animation-duration: 4s;
}

@keyframes success-anime {
    to {
        -webkit-box-shadow: 0px 1px 12px 1px rgba(18, 161, 18, 1);
        -moz-box-shadow: 0px 1px 12px 1px rgba(18, 161, 18, 1);
        box-shadow: 0px 1px 12px 1px rgba(18, 161, 18, 1);
    }
}

div.error {
    animation-name: error-anime;
    animation-duration: 4s;
}

@keyframes error-anime {
    to {
        -webkit-box-shadow: 0px 1px 23px 1px rgba(230, 18, 18, 1);
        -moz-box-shadow: 0px 1px 23px 1px rgba(230, 18, 18, 1);
        box-shadow: 0px 1px 23px 1px rgba(230, 18, 18, 1);
    }

}

div.show-no-display-img {
    height: auto;
    width: auto;
    margin: 5px 20px;
    position: relative;
    background-color: #eee;
    text-align: center;
    line-height: 120px;
}

div.clickable-div {
    color: #007bff;
    pointer-events: auto;
}

div.clickable-div:hover {
    text-decoration: underline;
    cursor: pointer;
}

button.zone-filter {
    color: white;
    background-color: #c0c0c0;
    height: 30px;
    border-radius: 5px;
    min-width: 90px;
    border: 1px solid #021841;
}

button.inactive-link:hover {
    background-color: #428bca;
    color: white;
}

button.active-link {
    background-color: #428bca;
    color: #f1f4ff;
}

.overview-span {
    float: right;
}

.asset-span {
    padding-left: 13px;
    padding-bottom: 5px;
}

.no-margin {
    margin-bottom: 0px;
    margin-right: 0px;
}

.switch {
    align-content: center;
}

.svg-container {
    display: inline-block;
    position: relative;
    width: 98%;
    vertical-align: middle;
    overflow: hidden;
    justify-content: center;
    margin: 1%;
    
    /* height: 80%; */
    /* padding-top: 10px; */
    /* margin: 2% 5%; */
}
.svg{
    display: inline-block;
}
.display-image{
    object-fit: cover;
}
div.device-stat{
    margin-top: 6px;
    margin-right: 2px;
}
div.device-stat .material-icons {
    font-size: 20px;
}
.all-devices-good{
    color: #2EA337;
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: white;
}
.few-devices-offline{
    color: #DF851F;
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: white;
}
.all-devices-offline{
    color: #c10505;
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: white;
}
div.tooltip {
    position: absolute;
    text-align: center;
    width: auto;
    height: 20px;
    padding: 2px;
    font: 12px sans-serif;
    background: #0a0b0c;
    border: 0px;
    border-radius: 8px;
    pointer-events: none;
    color:white;
    font-weight: bold;
}

/*History Loader*/
.box {
  display: inline-block;
  font-size: 30px;
  padding: 1em;
  position: relative;
  margin-bottom: .25em;
  vertical-align: top;
  transition: .3s color, .3s border, .3s transform, .3s opacity;
  color: #0078b9;
}

button {
  display: inline-block;
  background: transparent;
  border: 2px solid currentcolor;
  color: white;
  padding: .5em 1em;
  border-radius: 5px;
  font-size: calc(16px + 2vw);
}

[class*="loader-"] {
  display: inline-block;
  width: 1em;
  height: 1em;
  color: inherit;
  vertical-align: middle;
  pointer-events: none;
}
.loader-20 {
  background-color: transparent;
  box-shadow: inset 0px 0px 0px .1em currentcolor;
  border-radius: 50%;
  position: relative;
}
.loader-20:after, .loader-20:before {
  position: absolute;
  content: "";
  background-color: currentcolor;
  top: .5em;
  left: .5em;
  height: .1em;
  -webkit-transform-origin: left center;
  transform-origin: left center;
}
.loader-20:after {
  width: .4em;
  -webkit-animation: loader-20 2s linear infinite;
  animation: loader-20 2s linear infinite;
}
.loader-20:before {
  width: .3em;
  -webkit-animation: loader-20 8s linear infinite;
  animation: loader-20 8s linear infinite;
}

@-webkit-keyframes loader-20 {
  100% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  0% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

@keyframes loader-20 {
  100% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  0% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

hr {
  width: 90%;
  margin-left: auto;
  margin-right: auto;
}

.history-body{
  min-height: 5em;
}

.custom-badge{
  padding-left: 5px;
}

.custom-datepicker {
  padding: 0 !important;
}

/*Binding Table css for workOrder report*/
table {
  font-size: smaller;
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 95%;
}

td, th {
  border: 1px solid #dddddd;
  text-align: left;
  padding: 4px;
  width: 5px;
}

tr:nth-child(even) {
  background-color: #dddddd;
}

#bindingTable {
  position: absolute;
}

.success {
  color: #1e7e34;
}

.fail {
  color: #d00c0c;
}