.layout {
  width: 95%;
  height: 90%;
}

div.stats{
  height: 6vw;
  width: 6vw;
  border-radius: 50%;
  border: 1px solid black;
  background: #eee;
  -webkit-box-shadow: 2px 2px 1px 0px rgba(26,26,26,1);
  -moz-box-shadow: 2px 2px 1px 0px rgba(26,26,26,1);
  box-shadow: 2px 2px 1px 0px rgba(26,26,26,1);
}

.status-badge{
  position: relative;
}

div.clickable:hover {
  box-shadow: 0 0 0 2px rgba(51, 51, 255, 0.3), 0 0 0 2px rgba(51, 153, 255, 0.3);
  opacity: 0.9;
  cursor: pointer;
}

.gateName {
  position: absolute;
  font-weight: bold;
  top: 15%;
  left: 15%;
  font-size: 1.1vw;
}
.duration {
  position: absolute;
  font-weight: bold;
  top: 40%;
  left: 10%;
  font-size: 1.1vw;
}
.no-data{
  position: absolute;
  color: black;
  font-size: small;
  top: 45%;
  left: 10%;
}
.updateTime {
  position: absolute;
  /*font-weight: bold;*/
  top: 45%;
  left: 22%;
  font-size: 1vw;
}

.gate-14 {
  position: absolute;
  top: 50.4%;
  left: 22.3%;
}

.gate-16 {
  position: absolute;
  top: 58.6%;
  left: 25.95%;
}

.gate-18 {
  position: absolute;
  top: 67%;
  left: 29.7%;
}

a {
  color: #007bff;
}

.active {
  color: black;
}
#message{
  vertical-align: middle;
  text-align: center;
}
div#reportDateTitle {
  font-size: 1.2em;
  color: gray;
  margin-bottom: 0.5em;
  text-align: right;
  margin-right: 5em;
}
#subjectCount, .subjectCount{
  margin-top: 2px;
  color: gray;
  font-size: 1.2em;
  font-weight: bold;
}
.liveModeIndicator {
  font-size: 0.7em;
  color: #aaa;
}
