* {
  font-family: Arial, Helvetica, sans-serif;
}

svg {
  display: block;
}

svg * {
  font-size: 12px;
}

#cycles {
  max-width: 98vw;
  padding-left: 60px;
  padding-bottom: 30px;
}

.cycle {
  overflow-x: hidden;
  margin-bottom: 2em;
}

.facility {
  font-size: 1.1em;
  color: gray;
  margin-left: 50px;
}

.rowLabel {
  min-width: 100px;
  max-width: 100px;
  display: inline-block;
  vertical-align: middle;
  margin-bottom: 1%;
}

.chartRow {
  width: 80%;
  display: inline-block;
  vertical-align: middle;
}

.rowNotes {
  min-width: 60px;
  max-width: 120px;
  display: inline-block;
  vertical-align: middle;
  font-size: 80%;
  padding: 0 0 10px 10px;
}

.cycleCount {
  margin-left: 1em;
  font-size: 60%;
  color: gray;
}

.interaction {
  display: grid;
  grid-template-columns: 10% 80% 10%;
}

div.legend {
  top: 80px;
  float: right;
  flex: 0 0 20%;
  max-width: 20%;
  position: sticky;

  width: 100%;
  min-height: 1px;
  padding-right: 15px;
  padding-left: 15px;
  margin-top: 60px;
}

div.legendEntry {
  display: -webkit-box;
}

svg.legendSwatch {
  height: 10px;
  width: 10px;
  display: inline-block;
}

div.legendLabel {
  padding: 4px;
  font-size: 12px;
}

.right-inner-addon {
  position: relative;
}

.inner-addon input {
  padding-left: 35px;
}

.inner-addon i.fa-calendar {
  position: absolute;
  padding: 10px 12px;
  pointer-events: none;
}

.inner-addon i.fa-angle-right {
  position: absolute;
  right: 15px;
  padding-right: 10;
  padding-top: 10px;
  padding-bottom: 10px;
  cursor: pointer;
}

.inner-addon i.fa-angle-left {
  position: absolute;
  right: 35px;
  padding-right: 5px;
  padding-top: 10px;
  padding-bottom: 10px;
  cursor: pointer;
}

div.datePicker {
  position: absolute;
  height: 20px;
  padding-right: 50px;
}

div#reportDateTitle {
  font-size: 1.0em;
  margin-right: 0px;
  margin-bottom: 0.5em;
  text-align: right;
  color: gray;
  padding-top: 6px;
}

#reportDate {
  width: 210px;
  height: 35px;
}

div.tripLegend {
  float: left;
  width: auto;
  font-size: 80%;

}

div.tripNoLegend {
  float: left;
  width: auto;
  margin-left: 1em;
  font-size: 60%;
  color: gray;
  margin-top: 10px;
}

div.stats {
  /*width:90%;*/
  margin-bottom: 15px;
  padding-left: 138px;
  color: #2a2a65;
  font-weight: bold;
}

div.tooltip {
  position: absolute;
  text-align: center;
  width: auto;
  height: auto;
  padding: 2px;
  font: 12px sans-serif;
  background: lightsteelblue;
  border: 0px;
  border-radius: 2px;
  pointer-events: none;
}

.mark:hover {
  opacity: 0.5;
  cursor: pointer;
}

div.subjectId {
  font-size: 1.2em;
  color: gray;
}

.freeze {
  position: fixed;
  top: 0;
  width: 100%;
}

div.breadcrumb-row {
  margin-left: 40px;
}

button.btn {
  color: #495057;
}

#attributes {
  color: darkgray;
  font-size: small;
}

button.inactive-link {
  background-color: rgb(238, 238, 238);
  height: 32px;
}

button.active-link {
  background-color: #ffc107;
  color: #131517;
}

div#facility {
  text-align: center;
  font-size: 1.2em;
  color: gray;
  padding-left: 20px;
}

div#noDataIndicator, div#message {
  display: none;
}

div.showAvgDuration {
  font-size: 8px;
  visibility: hidden;
  color: #eee
}

.liveModeIndicator {
  font-size: 0.7em;
  color: #aaa;
}

.liveModeIndicator.liveModeOff:hover {
  text-decoration: underline;
  color: black;
  cursor: pointer;
}

a.tagImage {
  position: absolute;
  right: 10px;
}

.bootstrap-tagsinput .badge {
  background-color: #eee;
  color: black;
  border-color: black;
}

div.success {
  animation-name: success-anime;
  animation-duration: 4s;
}

@keyframes success-anime {
  to {
    -webkit-box-shadow: 0px 1px 12px 1px rgba(18, 161, 18, 1);
    -moz-box-shadow: 0px 1px 12px 1px rgba(18, 161, 18, 1);
    box-shadow: 0px 1px 12px 1px rgba(18, 161, 18, 1);
  }
}

div.error {
  animation-name: error-anime;
  animation-duration: 4s;
}

@keyframes error-anime {
  to {
    -webkit-box-shadow: 0px 1px 23px 1px rgba(230, 18, 18, 1);
    -moz-box-shadow: 0px 1px 23px 1px rgba(230, 18, 18, 1);
    box-shadow: 0px 1px 23px 1px rgba(230, 18, 18, 1);
  }
}

.gray {
  fill: rgb(190, 190, 190);
  color: rgb(190, 190, 190);
}

.red {
  fill: rgb(238, 77, 77);
  color: rgb(238, 77, 77);
}

.search-input {
  max-width: 225px;
}

div.row-padding-bottom {
  padding-bottom: 10px;
}

div.col-margin {
  margin-left: 50px;
}

input.search-input {
  height: 80%;
}

button.dropdown-toggle {
  height: 33px;
}

div.align-col-item-center {
  margin-left: 70px;
}

div.row-height {
  height: 45px;
}

a.active {
  color: black;
}

a.active:hover {
  cursor: auto;
}

.facilityLabel {
  padding-top: 6px;
  padding-left: 5px;
}

.row-padding-top {
  padding-top: 10px;
}

.btn {
  font-size: 1.0em;
}

.no-padding {
  padding-right: 0px;
}

/*inorder for bootstrap and mdl work together*/
.mdl-textfield {

  padding: 0px;
  padding-bottom: 28px;
}

a {
  color: #007bff;
}

.search-textbox {
  padding-top: 0px;
}

.mdl-textfield__label {
  top: 5px;
}

.nav-link {
  font-size: 1.1em;
}

.sort-icon {
  padding-top: 8px;
  color: gray;
  cursor: pointer;
}

.sort-asc, .sort-desc {
  font-size: 20px;
}

.justify-center {
  display: flex;
  justify-content: center;
}

.identifier {
  font-size: 80%;
  text-align: center;
}