.layout {
    width: 85%;
    height: 85%;
}

div.stats{
    text-align: center;
    height: 6vw;
    width: 6vw;
    border-radius: 50%;
    border: 1px solid black;
    background: #eee;
    -webkit-box-shadow: 2px 2px 1px 0px rgba(26,26,26,1);
    -moz-box-shadow: 2px 2px 1px 0px rgba(26,26,26,1);
    box-shadow: 2px 2px 1px 0px rgba(26,26,26,1);
}

.status-badge{
    position: relative;
}

div.clickable:hover {
    box-shadow: 0 0 0 2px rgba(51, 51, 255, 0.3), 0 0 0 2px rgba(51, 153, 255, 0.3);
    opacity: 0.9;
    cursor: pointer;
}

.duration {
    padding-top: 3%;
    font-size: 1.1vw;
}
.no-data{
    position: absolute;
    color: black;
    font-size: small;
    top: 45%;
    left: 10%;
}
.updateTime {
    padding-top: 3%;
    font-size: 1vw;
}

.stand-101 {
    position: absolute;
    top: 37.5%;
    left: 25.5%;
}
.gateName {
    font-size: 1.1vw;
    position: relative;
    padding-top: 13px;
}

.stand-2 {
    position: absolute;
    top: 33.5%;
    left: 60%;
}
/*.stand-27 {*/
    /*position: absolute;*/
    /*width: 125px;*/
    /*height: 125px;*/
    /*top: 36%;*/
    /*left: 37%;*/
/*}*/

/*.stand-14 {*/
    /*position: absolute;*/
    /*width: 125px;*/
    /*height: 125px;*/
    /*top: 58%;*/
    /*left: 32%;*/
/*}*/
/*.gateName {*/
    /*position: absolute;*/
    /*top: 20%;*/
    /*left: 20%;*/
    /*font-size: 20px;*/
/*}*/

button.layout-selector {
    background-color: #333;
    color: #ffe87f;
}

button.active-selector {
    background-color: #ffe87f;
    color: #333;
}

button.layout-selector:hover {
    background-color: #727272;
    color: #ffe87f;
}

div.hide-div {
    visibility: hidden;
}

div.show-div {
    visibility: visible;
}

.center-items {
    justify-content: center;
}

a {
    color: #007bff;
}

.active {
    color: black;
}
#subjectCount, .subjectCount{
    margin-top: 2px;
    color: gray;
    font-size: 1.2em;
    font-weight: bold;
}

.subject-count-div{
    padding-top: 15px;
}

.map-img{
    width: 80%;
    height: 80%;
}
.map{
    margin-left: 9.5%;
}
