
.main-card {
    margin: 0 auto;
    background-color: white;
}

.mdl-list{
    max-width: 800px;
}

.accordion {
    background-color: #eeeeee;
    cursor: pointer;
    padding: 10px;
    width: 100%;
    border: none;
    text-align: center;
    outline: none;
    font-size: 15px;
    transition: 0.4s;
}

.accordion.active {
    background-color: #ff9c14;
}

.accordion:hover {
    background-color: #ff9c14;
}

div.panel {
    padding: 0 18px;
    background-color: #fff;
    max-height: 0;
    overflow: hidden;
    transition: 0.4s ease-in-out;
    opacity: 0;
}

div.panel.show {
    opacity: 1;
    max-height: 500px;
}

#container {
    padding-bottom: 30px;
}
a{
    color: #007bff;
}
li {
    background-color: #f9f7f7;
    border: 1px solid #ecebeb;
}
li:hover{
    background-color: #dcdbdb;
}
