
div#subjects {
  width: 100%;
  padding: .5em .5em 20px;
}

div.subject div.title {
  font-size: 1.5em;
  color: gray;
  margin-left: 10%;
}

div.subject {
  position: relative;
  padding-right: 120px;
  width: 100%;
  min-height: 120px;
  margin-bottom: 3em;
}

div.scale{
  position: relative;
  padding-right: 0px;
  width: 100%;
  padding-top: 20px;
}

img.currentImage, video.currentVideo {
  height: 100px;
  max-width: 145px;
  border: 1px solid gray;
}

img.logo {
  width: 100%;
  height: 100%;
  float: right;
  position: relative;
  padding-top: 0px;
}

.right-inner-addon {
  position: relative;
}

.row-padding-margin {
  padding-top: 20px;
  max-width: 1350px;
  margin-left: 50px;
}

.row-padding-top {
  padding-top: 60px;
}

.scaleTimeline{
  padding-left: 10px;
}

.statusTimeline-row{
  padding-bottom: 10px;
}

.svgBar {
  max-height: 48px;
}

.tickLabel{
  font-size: 12px;
}

div#reportDateTitle {
  font-size: 1.2em;
  color: gray;
  margin-bottom: 0.5em;
  margin-left: 10%;
  text-align: left;
}

.report {
  grid-area: main;
  justify-self: center;
}

.header1 {
  height: 20%;
  grid-area: header1;
  font-size: 1.2em;
  color: gray;
  text-align: center;
  justify-self: center;
}

.header2 {
  height: 20%;
  grid-area: header2;

}

.subject-container {
  display: grid;
  grid-template-columns: 6fr 6fr;
  grid-template-rows: auto;
  grid-template-areas:
    "header1 header2"
    "main main";
}

div.status-badge {
  height: 15vw;
  width: 15vw;
  border-radius: 15vw;
  position: relative;
  padding-top: 10%;
  box-shadow: 2px 2px 1px 0px rgb(63, 63, 63);
}

div.status-badge .status {
  font-size: 100%;
  margin-top: 3%;
}

div.status-badge .updateTime {
  margin-top: 10%;
  font-size: 70% !important;
}

div.status-badge .duration {
  font-size: 100%;
  margin-top: 8%;
}

.header1 .utilization {
  width: 8vw;
  height: 13vh;
  background-color: #eee;
  margin-left: 37%;
  margin-top: 2%;
  border-radius: 10%;
}

div.status-badge-div{
  padding-left: 20%;
}
