#container{
    padding-bottom: 50px;
}

* {
    font-family: Arial,Helvetica,sans-serif;
    font-size: 18px;
}

.no-padding {
    padding: 0 !important;
}

.no-margin {
    margin-bottom:0 !important
}
.row-height{
    height: 30px !important;
}
.card-padding{
    padding: 0px!important;
}
.row-border{
    border-bottom: 1px solid darkgray;
}
.card-header-color{
    background-color:#eee;
    color: black;
}
.table-margin{
    margin-bottom: 0px !important;
}
td.clickable:hover{
    background-color: rgb(163, 166, 169);
}
.blueCell {
    background-color: #b5d3ed;
}

.greenCell {
    background-color: #d5e7cb;
}

.yellowCell {
    background-color: #ffe38e;
}

.pinkCell {
    background-color: #ffbfc7;
}
td.pinkCell:hover{
    background-color: #ff6678;
    cursor: pointer;
}
td.blueCell:hover{
    background-color: #5b9dd7;
    cursor: pointer;
}
td.yellowCell:hover{
    background-color: #ffd24d;
    cursor: pointer;
}
td.greenCell:hover{
    background-color: #8fbf73;
    cursor: pointer;
}
div.dot{
    margin-left: 80px;
    height: 15px;
    width: 15px;
    border-radius: 50%;
    display: inline-block;
}
a.active{
    color: black;
}
.custom-nav{
    padding-left: 0px;
}
.right-inner-addon {
    position: relative;
}

.inner-addon input {
    padding-left: 35px;
}

.inner-addon i.fa-calendar {
    position: absolute;
    padding: 10px 12px;
    pointer-events: none;
}

.inner-addon i.fa-angle-right {
    position: absolute;
    right: 15px;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 5px;
    padding-right: 10px;
    cursor: pointer;
}

.inner-addon i.fa-angle-left {
    position: absolute;
    right: 40px;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 5px;
    padding-right: 5px;
    cursor: pointer;
}
