.layout {
    width: 95%;
    height: 90%;
}

div.stats{
    height: 6vw;
    width: 6vw;
    border-radius: 50%;
    border: 1px solid black;
    background: #eee;
    -webkit-box-shadow: 2px 2px 1px 0px rgba(26,26,26,1);
    -moz-box-shadow: 2px 2px 1px 0px rgba(26,26,26,1);
    box-shadow: 2px 2px 1px 0px rgba(26,26,26,1);
}

.status-badge{
    position: relative;
}

div.clickable:hover {
    box-shadow: 0 0 0 2px rgba(51, 51, 255, 0.3), 0 0 0 2px rgba(51, 153, 255, 0.3);
    opacity: 0.9;
    cursor: pointer;
}

.duration {
    position: absolute;
    font-weight: bold;
    top: 20%;
    left: 15%;
    font-size: 1.1vw;
}
.no-data{
    position: absolute;
    color: black;
    font-size: small;
    top: 45%;
    left: 10%;
}
.updateTime {
    position: absolute;
    /*font-weight: bold;*/
    top: 45%;
    left: 22%;
    font-size: 1vw;
}

.gate-89 {
    position: absolute;
    top: 34.5%;
    left: 9.5%;
}

.gate-90 {
    position: absolute;
    top: 43%;
    left: 3%;
}

.gate-87 {
    position: absolute;
    top: 33.5%;
    left: 34.4%;
}

.gate-88 {
    position: absolute;
    top: 34.5%;
    left: 19.5%;
}

.gate-85 {
    position: absolute;
    top: 34.5%;
    left: 46%;
}
.gate-86 {
    position: absolute;
    top: 34.5%;
    left: 40.7%;
}
.gate-84 {
    position: absolute;
    top: 34.5%;
    left: 69%;
}
.gate-83 {
    position: absolute;
    top: 34.5%;
    left: 75%;
}

.gate-82 {
    position: absolute;
    top: 34.5%;
    left: 81.5%;
}


a {
    color: #007bff;
}

.active {
    color: black;
}
#message{
    vertical-align: middle;
    text-align: center;
}
div#reportDateTitle {
    font-size: 1.2em;
    color: gray;
    margin-bottom: 0.5em;
    text-align: right;
    margin-right: 5em;
}
#subjectCount, .subjectCount{
    margin-top: 2px;
    color: gray;
    font-size: 1.2em;
    font-weight: bold;
}
.liveModeIndicator {
    font-size: 0.7em;
    color: #aaa;
}
