img.map-img{
    width: 100%;
    height: 100%;
}
div.stats{
    padding: 2px;
    height: 50px;
    width: 9.3vw;
    background-color: #eee;
}
div.clickable:hover {
    box-shadow: 0 0 0 2px rgba(51, 51, 255, 0.3), 0 0 0 2px rgba(51, 153, 255, 0.3);
    opacity: 0.9;
    cursor: pointer;
}

.gateName {
    top: 13%;
    left: 18%;
    font-size: 15px;
    color: white;
}
.duration {
    font-weight: bold;
    top: 13%;
    left: 5%;
    /*color: white;*/
}
.no-data{
    position: absolute;
    color: black;
    font-size: small;
    top: 45%;
    left: 10%;
}
.updateTime {
    font-weight: bold;
    top: 50%;
    left: 22%;
    /*color: white;*/
}

.press-brake-070-034 {
    position: absolute;
    top: 24.5%;
    left: 3.8%;
}

.press-brake-070-035 {
    position: absolute;
    top: 24.5%;
    left: 16%;
}
.press-brake-070-023 {
    position: absolute;
    top: 24.5%;
    left: 28.2%;
}

.press-brake-070-009 {
    position: absolute;
    top: 24.5%;
    left: 40.5%;
}

.press-brake-070-015 {
    position: absolute;
    top: 24.5%;
    left: 83.6%;
}

.press-brake-070-017 {
    position: absolute;
    top: 24.5%;
    left: 59.1%;
}

.press-brake-070-018 {
    position: absolute;
    top: 24.5%;
    left: 71.4%;
}

.press-brake-070-041 {
    position: absolute;
    top: 54.9%;
    left: 70.1%;
}

.press-brake-070-037 {
    position: absolute;
    top: 54.9%;
    left: 57.7%;
}

.press-brake-070-040 {
    position: absolute;
    top: 54.9%;
    left: 3.8%;
}
.press-brake-070-039 {
    position: absolute;
    top: 54.9%;
    left: 16%;
}

.press-brake-070-044 {
    position: absolute;
    top: 54.9%;
    left: 22.5%;
}

a {
    color: #007bff;
}

.active {
    color: black;
}
#message{
    vertical-align: middle;
    text-align: center;
}
.map-container{
    padding-bottom: 5em;
}
.custom-position{
    position: relative;
}
#currentStats{
    position: relative;
}
div#reportDateTitle {
    font-size: 1.2em;
    color: gray;
    margin-bottom: 0.5em;
    text-align: right;
    margin-right: 5em;
}
#subjectCount, .subjectCount{
    margin-top: 2px;
    color: gray;
    font-size: 1.2em;
    font-weight: bold;
}
.liveModeIndicator {
    font-size: 0.7em;
    color: #aaa;
}
