.mdl-card__title {
    color: #fff;
    height: auto;

}

.demo-card-wide > .mdl-card__menu {
    color: #fff;
}

@media (min-width: 840px) {
    :root {
        --customColor: #19496f
    }

    .custom-color {
        box-shadow: 0 2px 2px 0 var(--customColor), 0 3px 1px -2px var(--customColor), 0 1px 5px var(--customColor);
    }
}

.zone0 {
    background-color: #ec4980;
    color: #fff;
    min-height: 50px;
    display: flex;
    padding: 10px;
}

.zone1 {
    background-color: #303F9F;
    color: #fff;
    min-height: 50px;
    display: flex;
    padding: 10px;
}

.zone2 {
    background-color: #246726;
    color: #fff;
    min-height: 50px;
    display: flex;
    padding: 10px;
}

.zone3 {
    background-color: #FF9800;
    color: #fff;
    min-height: 50px;
    display: flex;
    padding: 10px;
}

div.title, div.facility {
    font-size: 1.5em;
    color: gray;
}

div.tz{
    font-size: 1.0em;
    color: gray;
}

#pplCount, #woCount, #timeTravel #cntLabel {
    margin-top: 2px;
    text-align: left;
    color: gray;
    font-size: 13px;
}

div.mdl-card__supporting-text {
    padding: 8px;
    width: 100%;
}

div.zone-card.mdl-card {
    width: auto;
    min-width: 80px;
    height: auto;
    display: flex;
}

div.mcd-card.mdl-card {
    width: auto;
    min-width: 60px;
    min-height: 50px;
    height: auto;
    display: flex;
}

.card-count {
    margin: 5px 10px 0px;
}

div.search-bar .search-icon {
    color: gray;
    position: absolute;
    padding: 20px 260px;
}

div.sort-icon {
    position: absolute;
    right: 15px;
    cursor: pointer;
}

a.work-order {
    color: #3d3d3d;
}

.mdl-textfield {
    padding-bottom: 28px;
}

div.history-window {
    position: absolute;
    text-align: center;
    width: 20%;
    min-height: 2em;
    max-height: 30em;
    padding: 2px;
    font: 12px sans-serif;
    background: white;
    border: solid 2px black;
    border-radius: 2px;
    pointer-events: auto;
    z-index: 1;
    overflow-y: scroll;
}
.history{
    overflow-y: scroll;
    max-height: 25em;
}

div.history-window div.mdl-grid {
    min-height: 25px;
    height: 40px;
}

div.card-body .history-icon {
    right: 5px;
    top: 5px;
    position: absolute;
    color: gray;
}

#close-wo-history {
    color: gray;
    position: absolute;
    right: 5px;
    pointer-events: auto;
    cursor: pointer;
}

#close-wo-history .material-icons {
    font-size: 15px;
}

#workOrder {
    padding-bottom: 50px;
}

@media (min-width: 840px) {
    :root {
        --percent-width: 100%;
    }

    .custom-mdl-cell--col {
        width: calc(var(--percent-width) - 16px);
    }
}

a.nav-link {
    color: #007bff;
    text-decoration: none;
    background-color: transparent;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1.2rem;
    font-weight: 400;
}

a.active {
    color: black;
}

.facilityLabel {
    padding-top: 7px;
}

.cycleTitle {
    padding-left: 10px;
}

.mdl-textfield__label {
    top: 5px;
}

.mdl-textfield {
    padding: 0px;
    padding-bottom: 28px;
}

div.search-bar .search-icon {
    padding-top: 0em;
    padding-left: 11.0em;
}

div.success {
    animation-name: success-anime;
    animation-duration: 4s;
}

@keyframes success-anime {
    to {
        -webkit-box-shadow: 0px 1px 12px 1px rgba(18, 161, 18, 1);
        -moz-box-shadow: 0px 1px 12px 1px rgba(18, 161, 18, 1);
        box-shadow: 0px 1px 12px 1px rgba(18, 161, 18, 1);
    }
}

div.error {
    animation-name: error-anime;
    animation-duration: 4s;
}

@keyframes error-anime {
    to {
        -webkit-box-shadow: 0px 1px 23px 1px rgba(230, 18, 18, 1);
        -moz-box-shadow: 0px 1px 23px 1px rgba(230, 18, 18, 1);
        box-shadow: 0px 1px 23px 1px rgba(230, 18, 18, 1);
    }
}

#noDataIndicator {
    display: none;
    padding-left: 20px;
}

.mdl-grid.mdl-grid--no-spacing {
    padding-top: 8px;
}

img.display-img {
    padding-top: 10px;
    width: 85%;
    height: 65%;
    margin: 5px 20px;
}

div.show-no-display-img {
    height: auto;
    width: auto;
    margin: 5px 20px;
    position: relative;
    background-color: #eee;
    text-align: center;
    line-height: 120px;
}

button.zone-filter {
    color: white;
    background-color: #c0c0c0;
    height: 30px;
    border-radius: 5px;
    min-width: 90px;
    border: 1px solid #021841;
}

button.inactive-link:hover {
    background-color: #428bca;
    color: white;
}

button.active-link {
    background-color: #428bca;
    color: #f1f4ff;
}
div.clickable-div {
    color: #007bff;
    pointer-events: auto;
}

div.clickable-div:hover {
    text-decoration: underline;
    cursor: pointer;
}
table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 95%;
}

td, th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 4px;
    width: 5px;
}

tr:nth-child(even) {
    background-color: #dddddd;
}
#bindingTable{
    position: absolute;
}
.success{
    color:#1e7e34;
}
.fail{
    color: #d00c0c;
}
.mdl-card__title-text{
    padding-left: 10px;
}
div.device-stat{
    margin-top: 6px;
    margin-right: 2px;
}
div.device-stat .material-icons {
    font-size: 20px;
}
.all-devices-good{
    color: #2EA337;
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: white;
}
.few-devices-offline{
    color: #DF851F;
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: white;
}
.all-devices-offline{
    color: #c10505;
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: white;
}
div.tooltip {
    position: absolute;
    text-align: center;
    width: auto;
    height: 20px;
    padding: 2px;
    font: 12px sans-serif;
    background: #0a0b0c;
    border: 0px;
    border-radius: 8px;
    pointer-events: none;
    color:white;
    font-weight: bold;
}
