
div#subjects {
    width: 100%;
    padding: .5em .5em 20px;
}

div.subject div.title {
    font-size: 1.5em;
    color: gray;
    margin-left: 10%;
}

div.subject {
    position: relative;
    padding-right: 120px;
    width: 100%;
    min-height: 120px;
    margin-bottom: 3em;
}

div.scale{
    position: relative;
    padding-right: 120px;
    width: 100%;
    padding-top: 20px;
}

img.currentImage, video.currentVideo {
    height: 100px;
    max-width: 145px;
    border: 1px solid gray;
}

img.logo {
    width: 100%;
    height: 100%;
    float: right;
    position: relative;
    padding-top: 0px;
}

.right-inner-addon {
    position: relative;
}

.row-padding-margin {
    padding-top: 20px;
    max-width: 1350px;
    margin-left: 50px;
}

.row-padding-top {
    padding-top: 60px;
}

.scaleTimeline{
    padding-left: 10px;
}

.statusTimeline-row{
    padding-bottom: 10px;
}

.svgBar {
    max-height: 48px;
}

.tickLabel{
    font-size: 12px;
}
.aggregate{
    margin-left: 10%;
}

.zoom-interval:hover {
    width: 20px;
    height: 55px;
    opacity: 1;
    filter: alpha(opacity=100);
}