<p>'Medley long-lived visitors list',</p>
<p>The following trucks have been on site for over 90 minutes.</p>
<ul>
    <% log.forEach(function(lp){ %>
        <li>LP is '<%= lp %>'</li>
    <% }); %>
</ul>
<a href="<%=portalUrl%>/portal/reports/cycleStatus?customer=titanamerica">Link to live report.</a>
