<div class="header">
    <div class="wrap">
        <div class="logo">
            <a >
                <img class="logo-image" src="/portal/image/logo/<%= user.employeeType %>">
            </a>
        </div>
        <div class="alerts menuItem">
            <div class="inside">
                <span class="fa-stack fa-1x">
                    <i aria-hidden="true" class="fa fa-envelope-o"></i>
                </span>
                <div class="notification">&nbsp;</div>
            </div>
        </div>
        <div class="info menuItem">
            <div class="inside">
                <i aria-hidden="true" class="fa fa-info-circle"></i>
            </div>
        </div>
        <div class="clear"></div>
    </div>
</div>
<script language="javascript">
!(function _initialize(global) {
    global.cgr='<%= user.employeeType %>';
}(this));
</script>
