
<link rel="icon" href="/favicon.ico?v=4">
<link rel="shortcut icon" href="/favicon.ico?v=4">
<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">
<link rel="stylesheet"
      href="//fonts.googleapis.com/css?family=Montserrat:100,100i,200,200i,300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i&amp;subset=latin-ext">

<link rel="stylesheet" href="/portal/stylesheets/style_ejs.css" type="text/css">

<link rel="stylesheet" href="/portal/vendor/bootstrap-4.1.min.css">
<script src="/portal/vendor/natural-compare.js"></script>
<script src="/portal/vendor/jquery-3.3.1.min.js"></script>
<!-- D3 -->
<script src="https://d3js.org/d3.v5.min.js"></script>
<script src="/portal/js/d3-symbol-extra.min.js"></script>

<!-- Tag Input -->
<script src="/portal/js/tagsinput.js"></script>
<link rel="stylesheet" href="/portal/css/tagsinput.css"/>

<!--Moment library-->
<script src="/portal/js/moment.min.js"></script>
<script src="/portal/js/moment-timezone-with-data.min.js"></script>

<!--Require all the bootstrap components beforehand-->
<link rel="stylesheet" href="/portal/vendor/bootstrap-4.1.min.css">
<script src="/portal/vendor/bootstrap.bundle.min.js"></script>
<script src="/portal/js/bootstrap-select.min.js"></script>
<link rel="stylesheet" href="/portal/css/bootstrap-select.min.css" />
<script type="text/javascript" src="/portal/vendor/bootstrap-datepicker.min.js"></script>
<link rel="stylesheet" href="/portal/vendor/bootstrap-datepicker3.css"/>

<link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">

<script src="/portal/js/lazy-loading.js"></script>

<script type="text/javascript" src="/portal/js/report-helper.js"></script>

<link rel="stylesheet" href="/portal/css/imgModal.css">
<script type="text/javascript" src="/portal/js/Messages.js"></script>
<script type="text/javascript" src="/portal/js/AtollogyImage.js"></script>

<script type="text/javascript" src="/portal/js/atollogy-context.js"></script>
<script type="text/javascript" src="/portal/js/color-provider.js"></script>
<script type="text/javascript" src="/portal/js/label-provider.js"></script>
<script type="text/javascript" src="/portal/js/width-provider.js"></script>
<script type="text/javascript" src="/portal/js/states-stats.js"></script>
<script type="text/javascript" src="/portal/js/legends.js"></script>

<script>
!(function (global) {
      global.getCustomerFilterForSite = (record) => record;
}(this));
</script>

<!-- START Extensions -->
<% extensions.forEach(function ({ source }) { %><script type="text/javascript" src="/portal/extensions/<%= source %>"></script><% }); %>
<!-- END Extensions -->
