<!DOCTYPE html>
<html>
<head>
    <title>Subject Detail</title>
    <%- include('../../partials/kiosk/headerLinks'); %>
    <link rel="stylesheet" href="/portal/css/s/kiosk-subjectDetail.ejs.css"/>
    <script type="text/javascript" src="/portal/js/subjects-report-helper.js"></script>

</head>
<style>
    body {
        background-color: #f7f6f6;
    }
    div.header {
        background-color: #f7f6f6;
    }
</style>
<body>
<%- include('../../partials/kiosk/header'); %>
<div id="subjects" class="grid-container">

</div>

<%- include('../../partials/loading'); %>
<%- include('../../partials/kiosk/footer'); %>
<%- include('../../partials/imgModal'); %>
</body>
<script language="javascript">
  let parameters = {};
  let latestConfig;
  let currentLandingPage = '<%= landingPage %>';
  let loginCgr = '<%= user.cgrs %>';
  let reportType = 'detail';
  let tooltip;


  async function main() {
    // first try to get all parameters from url string
    latestConfig = await getLatestConfig();
    parameters.customer = latestConfig.cgr;
    parameters.facility = latestConfig.config.facility;
    parameters.subject = latestConfig.config.primarySubject;
    tooltip = d3.select("body").append("div").attr("class", "tooltip").style("opacity", 0);
    await checkLiveModeOn(parameters);
    // if date/shift not found in url string get it from checkLiveMode() Display date on page
    constructShiftPicker(parameters);
    constructDatePicker(parameters);
    if(!parameters.date && !parameters.shift){
      $('.loading').remove();
      renderNoShiftConfigured();
      return;
    }
    d3.select('.report-title').text(`Station: ${parameters.subject}`);
    subjectsReportForKiosk(parameters, 'detail');
  }

  async function subjectsReportForKiosk(parameters, reportType) {
    definitions = {
      graphMeasure: (parameters.customer === 'lumenetix') ? 'bulb' : 'composite',
      aggregationStates: parameters.customer === 'lumenetix' ? ['solid blue', 'solid red', 'solid amber'] : ['running']
    };

    setTimeout(main, 60 * 1000);

    // Fetch Config
    await fetchCfg(parameters);

    //Fetch Data
    let data = await reload(parameters, reportType);

    $('.loading').remove();
    if (Object.keys(data).length) {
      renderDetailForKiosk(data, parameters);
    } else {
      renderNoShift(parameters.shift, parameters.date);
    }
  }

  main();
</script>
