<!DOCTYPE html>
<html>
<head>
    <title>Subject Summary</title>
    <%- include('../../partials/kiosk/headerLinks'); %>
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    <script type="text/javascript" src="/portal/js/subjects-report-helper.js"></script>
</head>
<style>
    * {
        font-family: Arial, Helvetica, sans-serif;
}

    svg {
        display: block;
    }

    svg * {
        font-size: 12px;
    }

    .legend {
        font-size: 12px;
    }

    .legendEntry {
        display: inline-block;
        margin-right: 1em;
        min-width: 16vw;
        max-width: 26vw;
    }

    .legendEntry .legendSwatch {
        height: 10px;
        width: 10px;
        display: inline-block;
    }

    .legendEntry div {
        display: inline-block;
    }

    .legendEntry div.legendLabel {
        margin-left: 5px;
    }

    div.interval, div.subject-name, div.measure-state {
        font-size: 1.2em;
        color: gray;
    }

    div#reportDateTitle {
        font-size: 1.2em;
        color: gray;
        margin-bottom: 0.5em;
        text-align: right;
        margin-right: 5em;
    }

    div#screenName {
        font-size: 1.8em;
        color: gray;
        margin-bottom: 0.5em;
        text-align: left;
    }

    div#subjects {
        width: 840px;
        margin: auto;
        padding: .5em .5em 30px;
    }

    div#subjects.inProgress {
        width: 940px;
    }

    div#subjects.hasImages {
        width: 1090px;
    }

    div.subject, div.scale {
        position: relative;
        padding-right: 120px;
        width: 820px;
        min-height: 120px;
    }

    div#subjects.inProgress div.subject, div#subjects.inProgress div.scale {
        width: 920px;
    }

    div#subjects.hasImages div.subject, div#subjects.hasImages div.scale {
        padding-right: 220px;
        width: 1070px;
    }

    div.scale {
        min-height: 10px;
    }

    .scale {
        margin-left: 1em;
    }

    div.status-badge {
        position: absolute;
        height: 110px;
        width: 110px;
        border-radius: 55px;
        border: 1px solid gray;
        text-align: center;
        padding-top: 25px;
        color: white;
        right: 0;
        top: 10px;
    }

    div#subjects.hasImages div.currentStatus {
        right: 150px;
    }

    div.currentStatus:hover {
        box-shadow: 0 0 0 2px rgba(51, 51, 255, 0.3), 0 0 0 2px rgba(51, 153, 255, 0.3);
        opacity: 0.9;
        cursor: pointer;
    }

    div.currentStatus div.status {
        font-weight: bold;
    }

    div.currentStatus div.updateTime {
        font-size: 12px;
    }

    div.currentImage {
        position: absolute;
        right: 0;
        top: 10px;
    }

    img.currentImage, video.currentVideo {
        height: 100px;
        max-width: 145px;
        border: 1px solid gray;
    }

    div.currentImage div.noImg {
        height: 100px;
        width: 140px;
        border: 1px dashed #ccc;
        background-color: #eee;
        color: #aaa;
        text-align: center;
        padding-top: 25px;
        border-radius: 2px;
    }

    rect.mark.imageBacked:hover {
        opacity: 0.75;
        stroke: rgba(0, 0, 0, 0.75);
        stroke-width: 1px;
    }

    img.display-image, video.display-video {
        align-content: center;
        margin: auto;
        display: block;
        max-width: 90%;
        height: auto;
    }

    div.image-link {
        color: gray;
        cursor: pointer;
    }

    div.image-link.image-link-selected {
        color: rgb(0, 179, 0);
        cursor: default;
    }

    div.image-link:hover {
        color: rgb(0, 102, 255);
        text-decoration: underline;

    }

    div.image-link.image-link-selected:hover {
        color: rgb(0, 179, 0);
        text-decoration: none;
    }

    .modal-footer, .modal-header {
        display: block;
        justify-content: baseline;
    }

    .modal-header .row * {
        box-sizing: content-box;
    }

    .modal-header .close {
        top: 0px;
    }

    .row-padding {
        padding-top: 20px;
    }

    .inner-addon {
        position: relative;
    }

    .inner-addon input {
        padding-left: 35px;
    }

    .inner-addon i.fa-calendar {
        position: absolute;
        left: 0px;
        padding: 10px 12px;
        pointer-events: none;
    }

    .inner-addon i.fa-angle-right {
        position: absolute;
        right: 0px;
        padding: 10px 12px;
        cursor: pointer;
    }

    .inner-addon i.fa-angle-left {
        position: absolute;
        right: 20px;
        padding: 10px 12px;
        cursor: pointer;
    }

    button.btn {
        color: #495057;
    }

    button.inactive-link {
        background-color: rgb(238, 238, 238);
    }

    button.active-link {
        background-color: #ffc107;
        color: #131517;
    }

    div#station-count {
        font-size: 1.0em;
        color: gray;
        margin-bottom: 0.5em;
        padding-left: 10px;
    }

    #subjects div.title {
        font-size: 1.2em;
        color: gray;
    }

    #subjects div.title:hover {
        color: #0a71d6;
        cursor: pointer;
        text-decoration: underline;
    }

    .liveModeIndicator {
        font-size: 0.7em;
        color: #aaa;
    }

    .liveModeIndicator.liveModeOff:hover {
        text-decoration: underline;
        color: black;
        cursor: pointer;
    }

    .row-padding-top {
        padding-top: 10px;
    }

    div.statusBadges {
        position: absolute;
        height: 120px;
        width: 120px;
        border-radius: 60px;
        border: 1px solid gray;
        text-align: center;
        padding-top: 18px;
        color: white;
        top: 10px;
    }

    div.statusBadges div.updateTime {
        font-size: 12px;
        padding-top: 5px;
    }

    div.statusBadges div.subjectName {
        font-size: 15px;
    }

    div.statusBadges div.utilization {
        padding-top: 5px;
        font-size: 15px;
        font-weight: bold;
    }

    div.tooltip {
        position: absolute;
        text-align: center;
        width: auto;
        height: auto;
        padding: 2px;
        font: 12px sans-serif;
        background: #0a0b0c;
        border: 0px;
        border-radius: 8px;
        pointer-events: none;
        color:white;
        font-weight: bold;
    }
    body {
        background-color: #f7f6f6;
    }
    div.header {
        background-color: #f7f6f6;
    }
</style>
<body>
<%- include('../../partials/kiosk/header'); %>

<div id="container">
    <div class="row">
        <div class="col-1"></div>
        <div class="col-11 breadcrumb-row">
            <nav class="nav custom-nav">
            </nav>
        </div>
    </div>
    <div class="row row-padding-top">
        <div class="col-md-1"></div>
        <div class="col-md-2 col-padding">
            <%- include('../../partials/reportDatePicker'); %>
        </div>
        <div class="col-md-4">
            <%- include('../../partials/reportShiftPicker'); %>
        </div>
        <div class="col-md-5">
            <div id="reportDateTitle">
                <div class="date"></div>
                <div class="tz"></div>
                <div class="liveModeIndicator"></div>
            </div>
        </div>
    </div>
</div>
<div id="subjects">
    <div class="row">
        <div class="col-md-2" id="station-count"></div>
        <div id="message"></div>
        <div class="scale">
            <svg class="statusTimeline"></svg>
        </div>
    </div>
</div>
<div class="row row-padding-top justify-content-center" id="secondarySubject">

</div>

<%- include('../../partials/kiosk/footer'); %>
<%- include('../../partials/imgModal'); %>
</body>
<script language="javascript">
  let parameters = {};
  let currentLandingPage = '<%= landingPage %>';
  let latestConfig;
  let tooltip;

  async function main() {
    latestConfig = await getLatestConfig();
    parameters.customer = latestConfig.cgr;
    tooltip = d3.select("body").append("div").attr("class", "tooltip").style("opacity", 0);
    //if date/shift not found in url string get it from checkLiveMode()
    await checkLiveModeOn(parameters);
    //Display date on page
    constructShiftPicker(parameters);
    constructDatePicker(parameters);
    if(!parameters.date && !parameters.shift){
      $('.loading').remove();
      renderNoShiftConfigured();
      return;
    }
    subjectsReport(parameters, 'summary');
  }

  main();
</script>
</html>
